<table class="address-time">
  <thead class="sr-only">
    <tr>
      <th>Дни недели</th>
      <th>Часы работы</th>
    </tr>
  </thead>
  <tbody class="address-time__body">
    <tr class="address-time__row">
      <td class="address-time__cell" aria-label="Понедельник - пятница">
        пн-пт
      </td>
      <td class="address-time__cell">9:00 - 18:00</td>
    </tr>
    <tr class="address-time__row address-time__row--orange">
      <td class="address-time__cell" aria-label="Суббота - воскресение">
        сб-вс
      </td>
      <td class="address-time__cell" aria-label="Выходной">relax</td>
    </tr>
  </tbody>
</table>
