<div class="contacts-info">
  <div class="grid gap-8 lg:gap-12">
    <div class="contacts-info__item-map menu-contact">
      <div class="menu-contact__name">
        <div class="ticker">
          <div class="ticker__wrap">
            <span class="ticker__item">показать на карте</span>
            <span class="ticker__item">показать на карте</span>
          </div>
        </div>
      </div>
      <div class="menu-contact__link">
        <a class="link link--uppercase link--bolder" href="#map"
          ><span class="link__text">волочаевская 8е</span
          ><span class="link__icon">
            <svg class="link__arrow" width="12" height="12">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
          <br />
          <span class="text-small">Хабаровск\\\</span>
        </a>
      </div>
    </div>
    <div class="menu-contact">
      <div class="menu-contact__name">
        <div class="ticker">
          <div class="ticker__wrap">
            <span class="ticker__item">задай вопрос</span>
            <span class="ticker__item">задай вопрос</span>
          </div>
        </div>
      </div>
      <div class="menu-contact__link">
        <a class="link link--bold" href="mailto:example@gmail.com"
          ><span class="link__text">написать нам</span
          ><span class="link__icon">
            <svg class="link__arrow" width="12" height="12">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>

    <div class="menu-contact">
      <div class="menu-contact__name">
        <div class="ticker">
          <div class="ticker__wrap">
            <span class="ticker__item">скажи привет</span>
            <span class="ticker__item">скажи привет</span>
          </div>
        </div>
      </div>
      <div class="menu-contact__link">
        <a
          class="link link--bold link--uppercase site-tel"
          href="tel:+74212253085"
          ><span class="link__text">+7 (4212) 25-30-85</span
          ><span class="link__icon">
            <svg class="link__arrow" width="12" height="12">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
