@keyframes there-and-back-again {
  0% {
    transform: translate3d(0, 0, 0);
  }

  49% {
    transform: translate3d(100px, 0, 0);
  }
  50% {
    animation-timing-function: none;
    transform: translate3d(-100px, 0, 0);
  }
  51% {
    transform: translate3d(-100px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.btn-play {
  display: grid;
  gap: 16px;
  align-content: end;

  width: 102px;
  height: 102px;
  padding-bottom: 12px;

  color: rgba(#fff, 0.5);
  background-color: var(--c-sun);
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  transition: background-color 0.3s;
}

.btn-play__icon {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 22.5px;
  border-color: transparent transparent transparent #fff;
}

.btn-play:hover {
  background-color: darken(#f55000, 3);
}

.btn-play:hover .btn-play__icon {
  animation: there-and-back-again 1s;
}
