.form-field__error {
  @apply duration-400;

  opacity: 0;
  transform: translateX(20px);
  transition-property: opacity, transform;
}

.form-field.has-error .form-field__error,
.form-field input.has-error ~ .form-field__error {
  opacity: 1;
  transform: translateX(0);
}
