.basicLightbox {
  --safe-area-inset-top: env(safe-area-inset-top);

  top: -1px;
  height: calc(100% + var(--safe-area-inset-top) + 1px) !important;
  overflow: auto;
  z-index: 150;
}

.basicLightbox .scroll-content {
  width: 100%;
  height: 100%;
}

.basicLightbox .basicLightbox__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basicLightbox .basicLightbox__placeholder > * {
  position: static !important;
  max-height: none !important;

  @media (--xl) {
    max-width: 1024px !important;
  }
}

body.lightbox-wide .basicLightbox .basicLightbox__placeholder > * {
  @media (--xl) {
    max-width: 80% !important;
  }
}
