@use "@/styles/animations/border-fill.css";

.subscribe-banner-btn {
  @apply transition-opacity delay-200;
}

.subscribe-banner.is-active .subscribe-banner-btn {
  opacity: 0;
}

.subscribe-banner-btn__img {
  @apply absolute top-0 left-0 w-9 h-14 fill-sun;
}

.subscribe-banner-block {
  @apply absolute bottom-0 -right-8 grid pr-6 bg-sun transition-transform duration-500;

  grid-template-columns: 100px 500px 1fr;
  gap: 25px;
  align-items: center;
  width: 950px;
  min-height: 100px;
  transform: translateX(100%);
}

.subscribe-banner.is-active .subscribe-banner-block {
  transform: translateX(0);
}

.subscribe-banner-block *::selection {
  background-color: var(--c-dark-grey);
}

.subscribe-banner--static .subscribe-banner-block {
  @apply static grid-cols-[100px,1fr] gap-0 items-stretch pr-0 bg-transparent transform translate-x-0 overflow-hidden;

  max-width: 100%;
}

.subscribe-banner-block:hover .subscribe-banner-block__icon-fire {
  fill: var(--c-red);
}

.subscribe-banner-block__success {
  @apply absolute top-1 right-9 text-white font-semibold uppercase tracking-wide hover:text-white;
}

body.theme-sun .subscribe-banner-btn__img,
body.subscribe-banner-white .subscribe-banner-btn__img {
  fill: #fff;
}

body.theme-sun .subscribe-banner-block,
body.subscribe-banner-white .subscribe-banner-block {
  background-color: #fff;
}

body.theme-sun .subscribe-banner-block__input + span,
body.theme-sun .subscribe-banner-block__success,
body.subscribe-banner-white .subscribe-banner-block__input + span,
body.subscribe-banner-white .subscribe-banner-block__success {
  color: var(--c-red);
}

.subscribe-banner-block__input {
  --autofill-bg: var(--c-red);
}

.form-field.has-error .subscribe-banner-block__input {
  --error-color: #fff;

  animation-name: border-fill;
  animation-duration: 2s;
}

body.theme-sun .form-field.has-error .subscribe-banner-block__input,
body.subscribe-banner-white
  .form-field.has-error
  .subscribe-banner-block__input {
  --error-color: var(--c-red);
}

.form-field:hover ~ .subscribe-banner-block__submit use {
  animation-name: arrow;
  animation-duration: 2s;
  animation-delay: var(--trans-dur-fast);
}
