@use "../components/btn-play.scss";
@use "../_config/functions/convert.scss" as *;

@keyframes there-and-back-again {
  0% {
    transform: translate3d(0, 0, 0);
  }

  49% {
    transform: translate3d(100px, 0, 0);
  }
  50% {
    animation-timing-function: none;
    transform: translate3d(-100px, 0, 0);
  }
  51% {
    transform: translate3d(-100px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.wysiwyg-review-avatar {
  position: relative;
  margin-bottom: 30px;

  @media (--lg) {
    grid-row: 1;
    grid-column: 1 / span 3;
    height: fit-content;
    margin-bottom: 0;
    margin-right: vw(65);
  }
}

.wysiwyg-review-avatar__image-container {
  --ratio: calc(400 / 335 * 100%);

  position: relative;
  width: calc(100% - #{vw(35, $mobile-viewport)});
  height: 0;
  padding-top: var(--ratio);

  @media (--lg) {
    --ratio: calc(400 / 300 * 100%);

    width: 100%;
  }
}

.wysiwyg-review-avatar__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wysiwyg-review-avatar__play {
  position: absolute;
  bottom: 64px;
  right: 0;

  @media (--lg) {
    bottom: 0;
  }
}
