@use "../_config/functions/convert.scss" as *;

.wysiwyg-layouts {
  @media (--lg) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.wysiwyg-layouts__wrapper {
  --gap: 20px;

  column-count: 2;
  column-gap: var(--gap);

  @media (--lg) {
    --gap: #{vw(165)};

    grid-column: 1/-1;
  }

  @media (--xl) {
    grid-column: 2/11;
  }
}

.wysiwyg-layouts__wrapper > .wysiwyg-layouts__img-wrapper {
  break-inside: avoid;
  page-break-inside: avoid;
}

.wysiwyg-layouts--horizontal .wysiwyg-layouts__wrapper {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  column-gap: var(--base-gap);
  row-gap: var(--gap);
  margin-bottom: 0;

  @media (--xl) {
    grid-column: 2/12;
  }
}

.wysiwyg-layouts__img-wrapper {
  display: block;
  margin-bottom: var(--gap);
  background-color: #efefef;
  box-shadow: 4px 8px 13px rgba(0, 0, 0, 0.03), 2px 4px 5px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s;
}

.wysiwyg-layouts__img-wrapper:hover {
  box-shadow: 6px 10px 15px rgba(0, 0, 0, 0.03), 4px 6px 7px rgba(0, 0, 0, 0.15);
}

.wysiwyg-layouts--horizontal .wysiwyg-layouts__img-wrapper {
  grid-column: 1/-1;
  margin-bottom: 0;

  @media (--md) {
    grid-column: 1 / span 6;
  }
}

.wysiwyg-layouts--horizontal .wysiwyg-layouts__img-wrapper:nth-child(2n) {
  @media (--md) {
    grid-column-start: 5;
    justify-self: end;
  }
}

.wysiwyg-layouts__img {
  width: 100%;
}
