// BASE
@custom-selector :--element-mb h1, h2, h3, h4, ul, ol, figure, .wysiwyg__imgs, table;

.wysiwyg > :--element-mb {
  @apply mb-5 lg:mb-7;
}

@custom-selector :--text-size p, ul, ol;

.wysiwyg > :--text-size {
  @media (--lg) {
    font-size: 18px;
    line-height: 1.4;
  }
}

// HEADING
@custom-selector :--heading h1, h2, h3;

.wysiwyg > :--heading {
  font-weight: 700;
}

.wysiwyg > :--heading:not(:first-child) {
  @apply mt-5 lg:mt-7;
}

.wysiwyg > h2 {
  @apply text-2xl lg:text-4xl;
}

.wysiwyg > h3 {
  @apply text-lg lg:text-1.375rem;
}

// TEXT
.wysiwyg > p {
  @apply mb-5 lg:font-light lg:mb-4;
}

// LIST
.wysiwyg > ul,
.wysiwyg > ol {
  @apply pl-$base-gap lg:ml-$base-gap lg:font-light;
}

.wysiwyg > ul li:not(:last-child),
.wysiwyg > ol li:not(:last-child) {
  @apply mb-5;
}

.wysiwyg > ul {
  list-style: disc;
}

.wysiwyg > ol {
  list-style: auto;
}

// IMAGE
.wysiwyg-imgs {
  @apply grid gap-y-11 lg:grid-cols-2 lg:gap-$base-gap;
}

.wysiwyg > figure,
.wysiwyg-imgs {
  @apply mb-11 mt-7;
}

.wysiwyg > figure img {
  max-width: 100%;
}

.wysiwyg-imgs figure img {
  width: 100%;
}

.wysiwyg > figure img,
.wysiwyg-imgs figure img,
.wysiwyg > img,
.wysiwyg > p img {
  height: auto !important;
  filter: drop-shadow(0 5px 20px rgba(194, 194, 194, 0.3));
}

.wysiwyg > figure figcaption,
.wysiwyg-imgs > figure figcaption {
  @apply mt-1 text-xs italic lg:mt-4 lg:text-base lg:not-italic;
}

// TABLE
.wysiwyg-table {
  @apply mx-$base-page-gap-negative px-$base-page-gap overflow-auto;
}
.wysiwyg-table table {
  @apply border-b border-gray text-sm tracking-0.4px;
}

.wysiwyg-table thead {
  @apply bg-dark-grey text-white font-semibold;
}

.wysiwyg-table th,
.wysiwyg-table td {
  @apply py-2 px-6 border-l border-r border-gray lg:py-4 lg:px-7 xl:px-12;
}

.wysiwyg-table thead th:first-child {
  border-left: 0;
}

.wysiwyg-table thead th:last-child {
  border-right: 0;
}

.wysiwyg-table tbody tr:nth-child(2n) {
  @apply bg-true-gray-150;
}

.wysiwyg-table tbody td {
  vertical-align: baseline;
}

.custom_block_50 {
  @apply lg:w-1/2 lg:text-lg;
}

.custom_block_important_text {
  @apply mt-3 px-2.5 py-1 text-lg text-white leading-normal text-justify bg-dark-grey uppercase lg:max-w-3/4 lg:text-3xl;

  font-weight: 700 !important;

  @media (--lg) {
    font-weight: 600 !important;
  }
}

.custom_block_important_text > strong {
  @apply text-sun;

  font-weight: inherit;
}
