@use "../_config/functions/convert.scss" as *;

.wysiwyg-curtain-block {
  padding-top: 50px;
  margin-bottom: 42px;

  @media (--lg) {
    --size-wrap: calc(100vw - (var(--base-page-gap) * 2));
    --col-img: calc(var(--size-wrap) / 2);
    --col-text: 542px;

    display: grid;
    grid-template-columns: var(--col-img) var(--col-text) var(--col-img);
    gap: #{vw(165)};
    justify-content: center;
    align-items: center;

    margin: 0 var(--base-page-gap-negative) 248px;
    overflow: hidden;
  }
}

.wysiwyg-curtain-block__text {
  margin-bottom: 40px;

  @media (--lg) {
    margin-bottom: 0;
    font-weight: 300;
  }
}

.wysiwyg-curtain-block__text:last-child {
  margin-bottom: 0;
}

.wysiwyg-curtain-block__img {
  @media (--lg-max) {
    max-width: calc(100% + (var(--base-page-gap) * 2));
    margin: 0 var(--base-page-gap-negative);
  }
}

.wysiwyg-curtain-block__img:not(:last-child) {
  @media (--lg-max) {
    margin-bottom: 16px;
  }

  @media (--lg) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
