<footer class="footer">
	<div class="footer__container container">
		<h2 class="footer__title title-mini">Другие услуги</h2>

		<ul class="footer__list">
			<li class="footer__item">
				<a href="" class="footer__link link link--black">
					<span class="link__text">Лендинг с маркетинг проработкой</span>
					<span class="link__icon">
						<svg>
							<use xlink:href="images/sprite.svg#arrow-symbol"></use>
						</svg>
					</span>
				</a>
			</li>

			<li class="footer__item">
				<a href="" class="footer__link link link--black">
					<span class="link__text">Корпоративный сайт</span>
					<span class="link__icon">
						<svg>
							<use xlink:href="images/sprite.svg#arrow-symbol"></use>
						</svg>
					</span>
				</a>
			</li>

			<li class="footer__item">
				<a href="" class="footer__link link link--black">
					<span class="link__text">Контекстная реклама</span>
					<span class="link__icon">
						<svg>
							<use xlink:href="images/sprite.svg#arrow-symbol"></use>
						</svg>
					</span>
				</a>
			</li>

			<li class="footer__item">
				<a href="" class="footer__link link link--black">
					<span class="link__text">SMM продвижение</span>
					<span class="link__icon">
						<svg>
							<use xlink:href="images/sprite.svg#arrow-symbol"></use>
						</svg>
					</span>
				</a>
			</li>
		</ul>

		<a class="footer__logo" href="#">
			<img src="images/logo-big.svg" alt="Логотип">
		</a>
	</div>
</footer>