<div class="prosressing-work formulaic-site active">
	<div class="prosressing-work__top">
		<span class="prosressing-work__footnote">от 15 рабочих дней</span>
	</div>

	<ul class="prosressing-work__list">
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Стратегия продвижения</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Проектирование и прототипы</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Дизайн</span>
			<span class="prosressing-work__not-prod-text">не производится в шаблоне</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Вёрстка макетов</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Техническая реализация проекта</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Подключение аналитики</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Запуск рекламной кампании</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Получение лидов и прибыли</span>
		</li>
	</ul>

	<div class="prosressing-work__bottom">
		<span class="prosressing-work__footnote">в течение 1 мес. после запуска сайта</span>
	</div>
	<h3 class="prosressing-work__text-start">Запуск сайта</h3>
</div>

<div class="prosressing-work individual-site">
	<div class="prosressing-work__top">
		<span class="prosressing-work__footnote">от 15 рабочих дней</span>
		<span class="prosressing-work__footnote">от 15 рабочих дней</span>
		<span class="prosressing-work__footnote">от 15 рабочих дней</span>

		<span class="prosressing-work__footnote-fix">выполняются параллельно</span>
	</div>

	<ul class="prosressing-work__list">
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Стратегия продвижения</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Проектирование и прототипы</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Дизайн</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Вёрстка макетов</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Техническая реализация проекта</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Подключение аналитики</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Запуск рекламной кампании</span>
		</li>
		<li class="prosressing-work__item">
			<span class="prosressing-work__text">Получение лидов и прибыли</span>
		</li>
	</ul>

	<div class="prosressing-work__bottom">
		<span class="prosressing-work__footnote">в течение 1 мес. после запуска сайта</span>
	</div>
	<h3 class="prosressing-work__text-start">Запуск сайта</h3>
</div>