<main class="main">
	@include('../common/sections/s1-top.html',{
	"title": "Разработка",
	"titleMini": "Интернет-магазинА",
	"descr": "<p>С помощью современных технологий создаем продающиеинтернет-магазины с неповторимым дизайном..</p>\<p><span>76</span> место из <span>6000</span> компаний по версии <span>Рейтинга Рунета</span> в категории “Интернет-магазины”</p>",
	"quantity1": "14",
	"text1": "Лет экспертизы на рынке",
	"quantity2": "500+",
	"text2": "Выполненных проектов",
	"quantity3": "70+",
	"text3": "на постоянном продвижении",
	"img": "herro-bg.png",
	"alt": "Пример дизайна интеренет-магазина",
	})

	@include('../common/sections/s2-getting.html',{
	"title": "Вы получаете",
	"svg": "title-getting",
	"svg1": "getting-1",
	"text1": "Все работы от дизайна до написания контента <span>в одном месте</span>",
	"descr1": "Уходит слишком много контроля на разные задачи для одного продукта? Мы экономим ресурс внимания для вас. Ответственность на одном лице. Договор с одним подрядчиком.",
	"svg2": "getting-2",
	"text2": "Продуманную <span>стратегию продвижения</span> интернет-магазина",
	"descr2": "Мы делаем прогноз кол-ва заявок до старта работ по контексту. Также у нас есть свой отдел SMM продвижения.",
	"svg3": "getting-3",
	"text3": "Выбор <span>варианта разработки</span> исходя из вашей задачи",
	"descr3": "Мы предложим разные варианты платформ, исходя из сроков, бюджетов и функций проекта.",
	"svg4": "getting-4",
	"text4": "Следим за <span>соблюдением сроков</span> каждого этапа",
	"descr4": "Следим за выполнением сроков проекта. Контролируем этапы и заблаговременно запрашиваем необхдимую информацию для избежания простоя",
	"svg5": "getting-5",
	"text5": "<span>Индивидуальная</span> работа с личным менеджером",
	"descr5": "Стараемся учесть ваши пожелания, за вами будет закреплён проект-менеджер, который будет вашим координатором по проекту.",
	})

	@include('../common/sections/s3-technology.html',{
	"title": "принципы и технологии",
	"titleMobile": "о нас",
	"svg": "title-technology",
	"svg1": "technology-1",
	"text1": "Для нас принципы этичности и помощи определены в миссии компании. Мы стремимся помочь нашим клиентам и радуемся, когда их дело приносит доход и имеет успех.",
	"svg2": "technology-2",
	"text2": "Никогда не сдаемся, всегда доведем проект до конца и будем развивать его и дальше.",
	"svg3": "technology-3",
	"text3": "Длительное сотрудничество приоритет для нас. Мы углубляемся в бизнес нашего клиента и понимаем задачи ещё лучше. А результаты приходят быстрее",
	"svg4": "laravel",
	"text4": "Laravel - платформа для высоконагруженных площадок: много товаров, много систем, но создавать и поддерживать одно удовольствие!",
	"svg5": "bitrix",
	"text5": "1С Битрикс - занимает первое место в рейтинге коммерческих систем управления в России и СНГ. Подходит для стандартных 1с и простой настройке обмена из коробки.",
	"svg6": "tilda",
	"text6": "Tilda - конструктор сайтов, который с каждым годом становится всё функциональнее. Работать с ним просто и быстро. Сайты на нём должны быть несложными и ненагруженными.",
	})

	@include('./s2-our-help.html',{})

	@include('./s3-progress-work.html',{})

	@include('../common/sections/s8-raiting.html',{})

	@include('../common/sections/s9-cases.html',{

	})

	@include('../common/sections/s7-reviews.html',{})

	@include('./s1-prices.html',{})

	@include('../common/sections/s4-clients.html',{})

	@include('../common/sections/s5-founder.html',{})

	@include('../common/sections/s6-applicants.html',{})
</main>