@use "../_config/index" as *;

.page-inner {
  @apply text-dark-grey;
}

.page-inner__sphere {
  @apply <2xl:hidden absolute top-32 right-0 bg-no-repeat bg-right bg-contain;

  width: vw(600);
  height: vw(600);
  background-image: image-set(
    url("/images/inner/sphere@2x.png") 2x,
    url("/images/inner/sphere.png") 1x
  );
}

.page-inner__backward svg {
  transform: scaleX(-1);
}
