@use "../_config" as *;

.page-home {
  --textColor: var(--c-dark-grey);
  color: var(--textColor);
}

.page-home--dark {
  --bodyBg: var(--c-dark-grey);
  --textColor: #fff;
}

.page-home--orange {
  --bodyBg: var(--c-red);
  --linkHover: #fff;
}

.page-home section {
  min-height: 100vh;
  margin-bottom: vh(150);
  // content-visibility: auto;

  @media screen and (--tablet-sm) {
    margin-bottom: 50px;
  }
}
