<li class="technology__item">
	<svg>
		<use xlink:href="images/sprite.svg#laravel"></use>
	</svg>
	<p class="technology__text">
		Laravel - платформа для высоконагруженных площадок: много товаров, много систем, но создавать и поддерживать одно удовольствие!
	</p>
</li>

<li class="technology__item">
	<svg>
		<use xlink:href="images/sprite.svg#bitrix"></use>
	</svg>
	<p class="technology__text">
		1С Битрикс - занимает первое место в рейтинге коммерческих систем управления в России и СНГ. Подходит для стандартных 1с и простой настройке обмена из коробки.
	</p>
</li>

<li class="technology__item">
	<svg>
		<use xlink:href="images/sprite.svg#tilda"></use>
	</svg>
	<p class="technology__text">
		Tilda - конструктор сайтов, который с каждым годом становится всё функциональнее. Работать с ним просто и быстро. Сайты на нём должны быть несложными и ненагруженными.
	</p>
</li>