<main class="main">
	@include('../common/sections/s1-top.html',{
	"class": "top--style",
	"title": "Разработка",
	"titleMini": "Фирменного стиля",
	"descr": "<p><span>Яркая</span> упаковка для вашего бизнеса: от логотипа до оформленного бренд-бука</p>",
	"quantity1": "14",
	"text1": "Лет экспертизы на рынке",
	"quantity2": "60+",
	"text2": "Преображений для бизнеса",
	"quantity3": "500+",
	"text3": "сайтов создано",
	"img": "herro-bg-style.png",
	"alt": "Иллюстрация личного бренда",
	"cover": "0",
	"descrBigMargin": "1",
	})

	@include('./s2-benefits.html',{})

	@include('./s4-composition-dev.html',{})

	@include('./s5-examples-style.html',{})

	@include('./s6-raiting-style.html',{})

	@include('./s12-cases.html',{})

	@include('../common/sections/s7-reviews.html',{})

	@include('./s7-services.html',{})

	@include('../common/sections/s4-clients.html',{})

	@include('../common/sections/s5-founder.html',{})

	@include('../common/sections/s6-applicants.html',{})
</main>