<div style="display: none;" id="popup" class="form__popup _popup">

</div>

<!-- Политика обработки, оферта и т. п. -->
<div style="display: none;" id="popupPrivate" class="private__popup _popup">
	<h5 class="private__title"></h5>
	<p class="private__descr descr"></p>
	<ul class="private__list">
		<li class="private__item">
			<h6 class="private__subtitle"><span>1.</span></h6>
			<p class="private__descr descr"></p>
		</li>
		<li class="private__item">
			<h6 class="private__subtitle"><span>2.</span></h6>
			<p class="private__descr descr"></p>
			<ul class="private__list">
				<li class="private__item">
					<p class="private__descr private__row descr"></p>
				</li>
				<li class="private__item">
					<p class="private__descr private__row descr"></p>
				</li>
				<li class="private__item">
					<p class="private__descr private__row descr"></p>
				</li>
			</ul>
		</li>
	</ul>
</div>