<main class="main">
	@include('../common/sections/s1-top.html',{
	"class": "top--contextual",
	"title": "Контекст",
	"titleMini": "больше клиентов через ",
	"descr": "<p>Рассчитаем <span>стоимость</span> и <span>количество заявок</span> по контекстной рекламе еще до старта работ</p>",
	"quantity1": "14",
	"text1": "Лет экспертизы на рынке",
	"quantity2": "500+",
	"text2": "Выполненных проектов",
	"quantity3": "70+",
	"text3": "на постоянном продвижении",
	"img": "herro-bg.png",
	"alt": "Пример дизайна интеренет-магазина",
	"cover": "0",
	"descrBigMargin": "1",
	})

	@include('./s1-contextual-descr.html',{})

	@include('./s2-why-context.html',{})

	@include('./s3-benefits.html',{})

	@include('./s4-work-context.html',{})

	@include('../common/sections/s11-cases.html',{})

	@include('../common/sections/s7-reviews.html',{})

	@include('./s5-analize.html',{})

	@include('./s6-prices-contextual.html',{})

	@include('../common/sections/s4-clients.html',{})

	@include('../common/sections/s5-founder.html',{})

	@include('../common/sections/s6-applicants.html',{})
</main>