<section class="work-context">
	<div class="container">
		<h2 class="sr-only">Как проходит работа</h2>
		<svg class="work-context__title-img title-img title-img--desctop">
			<use xlink:href="images/sprite.svg#title-how-work"></use>
		</svg>

		<svg class="work-context__title-img title-img title-img--mobile">
			<use xlink:href="images/sprite.svg#title-how-work-mobile"></use>
		</svg>
	</div>

	<div class="work-context__top">
		<div class="work-context__container container">
			<div class="work-context__wrapper">
				<ul class="work-context__buttons">
					<li class="work-context__button">
						<button class="work-context__btn active" data-filter="0" type="button">Анализ сайта и рынка ниши</button>
					</li>

					<li class="work-context__button">
						<button class="work-context__btn" data-filter="1" type="button">Прогноз рентабельности</button>
					</li>

					<li class="work-context__button">
						<button class="work-context__btn" data-filter="2" type="button">Создание объявлений и креативов</button>
					</li>

					<li class="work-context__button">
						<button class="work-context__btn" data-filter="3" type="button">Настройка систем аналитики
						</button>
					</li>

					<li class="work-context__button">
						<button class="work-context__btn" data-filter="4" type="button">запуск проекта</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="work-context__bottom">
		<div class="container">
			<div class="work-context__slider swiper">
				<ul class="work-context__content slide-1 swiper-wrapper">
					<li class="work-context__item swiper-slide">
						<div class="work-context__image">
							<img class="work-context__img" src="images/work-context/analize.png" alt="Скриншот примера с анализом сайта">
						</div>

						<div class="work-context__text">
							<h3 class="work-context__name">Анализ сайта и рынка ниши</h3>
							<div class="work-context__descr">
								<p>Перед началом работ мы оцениваем удобство сайта для пользователей. Нужно понять, легко ли пользователю связаться с вашей компанией. После оценки сайта мы даем рекомендации по его улучшению, если требуется.</p>
								<p>Помимо сайта мы проанализируем, насколько выгодно вам запускать контекстную рекламу. Вы заранее узнаете, работает ли в вашей нише контекст. Если не подходит, мы посоветуем другой подходящий канал продвижения.</p>
								<p>И все это БЕСПЛАТНО</p>
							</div>
						</div>

						<button class="work-context__btn-rest link link--orange link--underline" type="button">
							<span class="link__text">остальное</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</button>
					</li>

					<li class="work-context__item slide-2 swiper-slide">
						<div class="work-context__image">
							<img class="work-context__img" src="images/work-context/forecast.png" alt="Скриншот примера с прогнозом рентабельности сайта">
						</div>

						<div class="work-context__text">
							<h3 class="work-context__name">Прогноз рентабельности</h3>
							<div class="work-context__descr">
								<p>На данном этапе вы узнаете:
								<ul>
									<li>Примерный бюджет на контекстную рекламу</li>
									<li>Количество реальных обращений с контекста, а не просто количество кликов</li>
									<li>Стоимость одного обращения, а не цена за клик</li>
								</ul>
								</p>

								<p>Погрешность прогноза составляет всего 10-15%.</p>
								<p>Вы поймете, насколько эффективными будут ваши вложения в рекламу и возможен ли тот результат, который вы ожидаете.</p>
								<p>И все это БЕСПЛАТНО</p>
							</div>
						</div>

						<button class="work-context__btn-rest link link--orange link--underline" type="button">
							<span class="link__text">остальное</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</button>
					</li>

					<li class="work-context__item slide-3 swiper-slide">
						<div class="work-context__image">
							<img class="work-context__img" src="images/work-context/semantics.png" alt="Скриншот примера с обзором семантики сайта">
						</div>

						<div class="work-context__text">
							<h3 class="work-context__name">Сбор семантики, создание объявлений и креативов</h3>
							<div class="work-context__descr">
								<p>Если ваш бизнес подходит для контекстной рекламы, тогда приступаем к настройке.</p>
								<p>
								<ul>
									<li>Тщательно прорабатываем ключевые фразы, по которым будет реклама.</li>
									<li>Добавляем максимум минус-слов, по которым реклама не будет происходить.</li>
									<li>Согласовываем все фразы с вами.</li>
									<li>Пишем несколько вариантов объявлений и создаем несколько вариантов рекламных изображений.</li>
									<li>Согласовываем все варианты с вами.</li>
								</ul>
								</p>
							</div>
						</div>

						<button class="work-context__btn-rest link link--orange link--underline" type="button">
							<span class="link__text">остальное</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</button>
					</li>

					<li class="work-context__item slide-4 swiper-slide">
						<div class="work-context__image">
							<img class="work-context__img" src="images/work-context/analitics.png" alt="Скриншот примера с аналитикой сайта">
						</div>

						<div class="work-context__text">
							<h3 class="work-context__name">Настройка систем аналитики</h3>
							<div class="work-context__descr">
								<p>Перед запуском проекта мы обязательно настраиваем отслеживание всех видов обратной связи на вашем сайте (звонки, заявки, переходы в мессенджеры, клики на почту и тд).</p>
								<p>
									Мы установим системы, а вы узнаете:
								<ul>
									<li>Сколько всего людей приходят на сайт и сколько из них закрывается в продажи</li>
									<li>Кто ваша целевая аудитория</li>
									<li>Какие ваши товары и услуги самые популярные у пользователей</li>
									<li>С каких регионов вы получаете прибыль, а какие убыточны</li>
									<li>В какое время суток пик продаж</li>
									<li>Как вернуть посетителей, не оставивших заявку</li>
									<li>Насколько эффективно работают ваши менеджеры</li>
								</ul>
								</p>

								<p>Вы сможете построить четкую стратегию по продажам, сэкономить ваш бюджет и усилить те каналы продвижения, которые приносят вам прибыль.</p>
								<p>Мы работаем с такими сервисами как Яндекс Метрика, Google Analytics, Callibri, Calltouch, Ringostat, Roistat др.</p>
							</div>
						</div>

						<button class="work-context__btn-rest link link--orange link--underline" type="button">
							<span class="link__text">остальное</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</button>
					</li>

					<li class="work-context__item slide-5 swiper-slide">
						<div class="work-context__image">
							<img class="work-context__img" src="images/work-context/start.png" alt="Скриншот примера с запуском сайта">
						</div>

						<div class="work-context__text">
							<h3 class="work-context__name">Запуск проекта</h3>
							<div class="work-context__descr">
								<p>После настройки кампаний и систем аналитики мы запускаем проект. Уже в первую неделю вы получаете обращения с контекстной рекламы.</p>
								<p>Каждый месяц помимо стандартных работ мы предлагаем варианты по улучшению рекламных кампаний и вашего сайта, которые приведут:
								<ul>
									<li>к снижению цены обращения</li>
									<li>к общему увеличению количества обращений</li>
								</ul>
								</p>

								<p>Мы с вами в одной команде и нацелены на долгосрочное сотрудничество.</p>
							</div>
						</div>

						<button class="work-context__btn-rest link link--orange link--underline" type="button">
							<span class="link__text">остальное</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</button>
					</li>
				</ul>

				<div class="work-context__pagination"></div>
			</div>
		</div>
	</div>
	</div>
</section>