<section class="analize-context">
	<div class="analize-context__container container">
		<h2 class="analize-context__title title-mini">А можно проанализировать то, что у меня уже было?</h2>

		<h3 class="analize-context__subtitle">Аудит нужен, если:</h3>
		<ul class="analize-context__list">
			<li class="analize-context__row">По вашей рекламе нет ни звонков, ни заявок.</li>
			<li class="analize-context__row">Реклама не окупается (например, стоимость заявки выше, чем средний чек).</li>
			<li class="analize-context__row">Большое количество переходов на сайт по нецелевым поисковым запросам.</li>
			<li class="analize-context__row">Вы хотите увеличить количество заказов при сохранении текущего бюджета.</li>
			<li class="analize-context__row">Подрядчик по рекламе уклончиво отвечает на ваши вопросы и не может предоставить качественный анализ.</li>
		</ul>

		<h3 class="analize-context__subtitle">Уже есть реклама в Яндекс или Google?
		</h3>
		<p class="analize-context__descr">Выберите выгодный пакет аудита для себя!</p>

		<ul class="analize-context__cards">
			<li class="analize-context__card analize-card">
				<div class="analize-card__inner">
					<h4 class="analize-card__title">Бесплатный</h4>

					<ul class="analize-card__list">
						<li class="analize-card__row">Аудит настроек рекламного аккаунта</li>
						<li class="analize-card__row">Аудит семантического ядра</li>
						<li class="analize-card__row">Аудит качества трафика</li>
						<li class="analize-card__row">Аудит цены клика</li>
						<li class="analize-card__row">Аудит эффективности кампаний</li>
						<li class="analize-card__row">Подготовка документа с рекомендациями</li>
						<li class="analize-card__row analize-card__row--disabled">Рекомендации по улучшению сайта</li>
						<li class="analize-card__row analize-card__row--disabled">Оценка потенциала масштабирования</li>
						<li class="analize-card__row analize-card__row--disabled">Прогноз стоимости заявки</li>
						<li class="analize-card__row analize-card__row--disabled">Прогноз количества заявок</li>
						<li class="analize-card__row analize-card__row--disabled">Презентация аудита на понятном языке</li>
					</ul>
				</div>

				<button class="analize-card__btn analize-btn" type="button">
					<span class="analize-btn__inner">
						<span class="analize-btn__text">заказать</span>
						<span class="analize-btn__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</span>
				</button>
			</li>

			<li class="analize-context__card analize-card">
				<div class="analize-card__inner">
					<h4 class="analize-card__title">От 5000 ₽</h4>

					<ul class="analize-card__list">
						<li class="analize-card__row">Аудит настроек рекламного аккаунта</li>
						<li class="analize-card__row">Аудит семантического ядра</li>
						<li class="analize-card__row">Аудит качества трафика</li>
						<li class="analize-card__row">Аудит цены клика</li>
						<li class="analize-card__row">Аудит эффективности кампаний</li>
						<li class="analize-card__row">Подготовка документа с рекомендациями</li>
						<li class="analize-card__row">Рекомендации по улучшению сайта</li>
						<li class="analize-card__row">Оценка потенциала масштабирования</li>
						<li class="analize-card__row">Прогноз стоимости заявки</li>
						<li class="analize-card__row">Прогноз количества заявок</li>
						<li class="analize-card__row">Презентация аудита на понятном языке</li>
					</ul>
				</div>

				<button class="analize-card__btn analize-btn" type="button">
					<span class="analize-btn__inner">
						<span class="analize-btn__text">заказать</span>
						<span class="analize-btn__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</span>
				</button>
			</li>
		</ul>
	</div>
</section>