<section class="smm-suits">
	<div class="smm-suits__container container">
		<h2 class="smm-suits__title title-mini"><span>SMM</span> вам подходит, если:</h2>

		<ul class="smm-suits__list">
			<li class="smm-suits__item">Cвой сайт - это дорого и долго</li>
			<li class="smm-suits__item">Вам нужно рассказать о своем продукте</li>
			<li class="smm-suits__item">Ваша ниша очень конкурентная</li>
			<li class="smm-suits__item">
				Вы из сферы, где другая реклама не так эффективна:
				<ul class="smm-suits__sublist">
					<li class="smm-suits__subitem">Доставка еды, бары, рестораны</li>
					<li class="smm-suits__subitem">Продажа одежды, товары для детей и дома</li>
					<li class="smm-suits__subitem">Бьюти-сегмент, салоны красоты</li>
					<li class="smm-suits__subitem">Обучение, тренинги</li>
					<li class="smm-suits__subitem">Дизайн от графического до интерьерного</li>
					<li class="smm-suits__subitem">Отдых: отели, развлечения, билеты</li>
					<li class="smm-suits__subitem">Недвижимость</li>
					<li class="smm-suits__subitem">И многое другое...</li>
				</ul>
			</li>
		</ul>
	</div>
</section>