<section class="composition">
	<div class="composition__title-box">
		<div class="container">
			<h2 class="composition__title title-mini"><span>SMM</span> состоит из 2 частей:</h2>
		</div>
	</div>

	<ul class="composition__items">
		<li class="composition__item">
			<div class="composition__container container">
				<div class="composition__image">
					<img class="composition__img composition__img--desctop" src="images/composition/item-1.png" alt="Статистика клиента 'Вершины'">
					<img class="composition__img composition__img--mobile" src="images/composition/item-1-mobile.png" alt="Статистика клиента 'Вершины'">

					<div class="composition__statistics composition-stat">
						<span class="composition-stat__quantity">>140</span>
						<span class="composition-stat__text">ОБРАЩЕНИЙ В DIRECT</span>

						<a class="composition-stat__link link link--uppercase link--orange link--underline" href="https://web-alt.ru/works/versiny">
							<span class="link__text">подробно в кейсе</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</a>
					</div>
				</div>

				<div class="composition__info">
					<h3 class="composition__part-name">
						<span class="composition__part-number">1</span>
						Таргетированная реклама
					</h3>

					<div class="composition__hash">Даёт посетителей и заявки</div>

					<ul class="composition__list">
						<li class="composition__row">Реклама, настроенная под параметры аудитории: пол, возраст, география, интересы и другое</li>
						<li class="composition__row">Низкая стоимость заявки</li>
						<li class="composition__row">Лёгкий и быстрый старт рекламы</li>
						<li class="composition__row">Высокая конверсия (из заявки в прибыль)</li>
					</ul>

					<div class="composition__text">
						<p>Лучше всего таргет работает, если вести его на отдельную страницу (лендинг). Мы специализируемся на создании продающих лендингов и можем создать его и для Вас.</p>
					</div>

					<a class="composition__link link link--uppercase link--black" href="#">
						<span class="link__text">подробнее о лендингах <span>тут</span></span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</li>

		<li class="composition__item composition__item--reverse">
			<div class="composition__container container">
				<div class="composition__image swiper">
					<ul class="composition__carousel swiper-wrapper">
						<li class="composition__slide swiper-slide">
							<img class="composition__img" src="images/composition/slide-1.png" alt="Профиль магазина бижутерии до упаковки и после">
							<span class="composition__before">До</span>
							<span class="composition__after">после</span>
						</li>

						<li class="composition__slide swiper-slide">
							<img class="composition__img" src="images/composition/slide-2.png" alt="Профиль магазина кофе до упаковки и после">
							<span class="composition__before">До</span>
							<span class="composition__after">после</span>
						</li>

						<li class="composition__slide swiper-slide">
							<img class="composition__img" src="images/composition/slide-3.png" alt="Профиль магазина косметологии до упаковки и после">
							<span class="composition__before">До</span>
							<span class="composition__after">после</span>
						</li>

						<li class="composition__slide swiper-slide">
							<img class="composition__img" src="images/composition/slide-4.png" alt="Профиль магазина элитной сантехники до упаковки и после">
							<span class="composition__before">До</span>
							<span class="composition__after">после</span>
						</li>

						<li class="composition__slide swiper-slide">
							<img class="composition__img" src="images/composition/slide-5.png" alt="Профиль магазина вечерних платьев до упаковки и после">
							<span class="composition__before">До</span>
							<span class="composition__after">после</span>
						</li>
					</ul>

					<div class="composition__inner">
						<button class="composition__btn composition__btn--prev" type="button" aria-label="Предыдущий слайд"></button>
						<div class="composition__pagination"></div>
						<button class="composition__btn composition__btn--next" type="button" aria-label="Следующий слайд"></button>
					</div>
				</div>

				<div class="composition__info">
					<h3 class="composition__part-name">
						<span class="composition__part-number">2</span>
						Красивая упаковка профиля
					</h3>

					<div class="composition__hash">лояльность клиентов, узнаваемость, приверженность бренду, создание приятного образа</div>

					<div class="composition__text">
						<p>Вести таргет на пустой аккаунт нелогично, поэтому мы делаем из него конфетку! Следим за трендами и работаем с разными нишами.</p>
						<p>Наши дизайнеры помогут, если потребуется коррекция вашего бренда, а лента вашего профиля всегда будет свежей и аккуратной.</p>
					</div>
				</div>
			</div>
		</li>
	</ul>

	<div class="composition__form-box form-box">
		<div class="container">
			<form class="form-box__form form-application" action="#">
				<div class="form-application__column">
					<div class="form-application__item">
						<input class="form-application__input" id="smmName" type="text" name="Имя соискателя" data-validate-field="smmName" required>
						<label class="form-application__label" for="smmName">имя*</label>
					</div>

					<div class="form-application__item">
						<input class="form-application__input" id="smmPhone" type="tel" name="Телефон соискателя" placeholder="+7 (999) 999 99 99" data-validate-field="smmPhone" required>
						<label class="form-application__label" for="smmPhone">Телефон*</label>
					</div>

					<div class="form-application__bottom">
						<div class="form-application__button">
							<button class="form-application__btn link link--uppercase link--bold link--underline" type="submit">
								<span class="link__text">хочу обновиться</span>
								<span class="link__icon">
									<svg>
										<use xlink:href="images/sprite.svg#arrow-symbol"></use>
									</svg>
								</span>
							</button>
						</div>

						<p class="form-application__text">Нажимая на кнопку, Вы даете согласие с
							<a href="https://web-alt.ru/page/politika-obrabotki-cookie-failov-na-saite" target="_blank">политикой обработки персональных данных</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>