<section class="scheme-work">
	<div class="scheme-work__container container">
		<h2 class="sr-only">Схема работы</h2>
		<svg class="scheme-work__title-img title-img">
			<use xlink:href="images/sprite.svg#title-scheme-work"></use>
		</svg>

		<div class="scheme-work__descr">
			<p>Мы агенство. А это значит, что над вашим проектом работает от 4 специалистов в своей области: копирайтер, дизайнер, таргетолог, проект менеджер.</p>
		</div>

		<ul class="sr-only">
			<li>Вы - клиент</li>
			<li>Клиент - менеджер</li>
			<li>Начальник отдела SMM</li>
			<li>SMM менеджер</li>
			<li>Копирайтер</li>
			<li>Графический дизайнер</li>
			<li>Таргетолог</li>
		</ul>
	</div>
</section>