<section class="prices-section">
  <div class="prices-section__header">
    <h2 class="prices-section__title">Контекстная реклама</h2>
    <a
      href="#"
      class="prices-section__link link link--orange link--bold link--uppercase"
    >
      <span class="link__text">Подробнее об услуге тут</span>
      <span class="link__icon">
        <svg class="link__arrow" width="12" height="12">
          <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
        </svg>
      </span>
    </a>
  </div>

  <div class="context-section">
    <div class="mb-13 lg:mb-0">
      <ul class="prices-section__list prices-section__list--vertical">
        <li>
          <div class="prices-card context-card context-card--small">
            <h3 class="context-card__title context-card__title--lg">
              Настройка
            </h3>

            <div class="prices-card__price prices-card__price--context">
              <span>от 20 000 ₽</span>
              <span>от 7 раб. дней</span>
            </div>

            <button
              class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
              type="button"
            >
              <span class="prices-card-btn__text">заказать</span>
              <span class="prices-card-btn__icon">
                <svg width="102" height="102">
                  <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
                </svg>
              </span>
            </button>
          </div>
        </li>

        <li>
          <div class="prices-card context-card context-card--small">
            <h3 class="context-card__title context-card__title--lg">Ведение</h3>

            <div class="prices-card__price prices-card__price--context">
              <span>от 15 000 ₽</span>
              <span>ежемесячно</span>
            </div>

            <button
              class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
              type="button"
            >
              <span class="prices-card-btn__text">заказать</span>
              <span class="prices-card-btn__icon">
                <svg width="102" height="102">
                  <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
                </svg>
              </span>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="context-audit">
      <h3 class="context-title">Аудит рекламной кампании</h3>

      <ul class="prices-section__list prices-section__list--narrow flex-grow">
        <li>
          <div class="prices-card prices-card--flex context-card">
            <h4 class="context-card__title">Бесплатный</h4>

            <ul class="prices-card-list">
              <li class="prices-card-list__item">
                Аудит настроек рекламного аккаунта
              </li>
              <li class="prices-card-list__item">Аудит семантического ядра</li>
              <li class="prices-card-list__item">Аудит качества трафика</li>
              <li class="prices-card-list__item">Аудит цены клика</li>
              <li class="prices-card-list__item">
                Аудит эффективности кампаний
              </li>
              <li class="prices-card-list__item">
                Подготовка документа с рекомендациями
              </li>

              <li
                class="
                  prices-card-list__item prices-card-list__item--no-include
                "
              >
                Рекомендации по улучшению сайта
              </li>
              <li
                class="
                  prices-card-list__item prices-card-list__item--no-include
                "
              >
                Оценка потенциала масштабирования
              </li>
              <li
                class="
                  prices-card-list__item prices-card-list__item--no-include
                "
              >
                Прогноз стоимости заявки
              </li>
              <li
                class="
                  prices-card-list__item prices-card-list__item--no-include
                "
              >
                Прогноз количества заявок
              </li>
              <li
                class="
                  prices-card-list__item prices-card-list__item--no-include
                "
              >
                Презентация аудита на понятном языке
              </li>
            </ul>

            <button
              class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
              type="button"
            >
              <span class="prices-card-btn__text">заказать</span>
              <span class="prices-card-btn__icon">
                <svg width="102" height="102">
                  <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
                </svg>
              </span>
            </button>
          </div>
        </li>

        <li>
          <div class="prices-card prices-card--flex context-card">
            <h4 class="context-card__title">От 5000 ₽</h4>

            <ul class="prices-card-list">
              <li class="prices-card-list__item">
                Аудит настроек рекламного аккаунта
              </li>
              <li class="prices-card-list__item">Аудит семантического ядра</li>
              <li class="prices-card-list__item">Аудит качества трафика</li>
              <li class="prices-card-list__item">Аудит цены клика</li>
              <li class="prices-card-list__item">
                Аудит эффективности кампаний
              </li>
              <li class="prices-card-list__item">
                Подготовка документа с рекомендациями
              </li>
              <li class="prices-card-list__item">
                Рекомендации по улучшению сайта
              </li>
              <li class="prices-card-list__item">
                Оценка потенциала масштабирования
              </li>
              <li class="prices-card-list__item">Прогноз стоимости заявки</li>
              <li class="prices-card-list__item">Прогноз количества заявок</li>
              <li class="prices-card-list__item">
                Презентация аудита на понятном языке
              </li>
            </ul>

            <button
              class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
              type="button"
            >
              <span class="prices-card-btn__text">заказать</span>
              <span class="prices-card-btn__icon">
                <svg width="102" height="102">
                  <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
                </svg>
              </span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
