<section class="prices-section">
  <div class="prices-section__header">
    <h2 class="prices-section__title prices-section__header--lg-mb-80">
      Дизайн-Работы
    </h2>
    <a
      href="#"
      class="prices-section__link link link--orange link--bold link--uppercase"
    >
      <span class="link__text">Подробнее об услуге тут</span>
      <span class="link__icon">
        <svg class="link__arrow" width="12" height="12">
          <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
        </svg>
      </span>
    </a>
  </div>

  <ul class="prices-section__list prices-section__list--col-2">
    <li>
      <!-- card -->
      <div class="prices-card design-card">
        <div class="design-card__header">
          <svg
            class="design-card__icon"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 75 65"
          >
            <path
              fill="#FF5000"
              d="M45.476 25.398c-.964 0-1.749.78-1.749 1.74 0 .958.785 1.739 1.75 1.739.964 0 1.748-.78 1.748-1.74s-.784-1.74-1.749-1.74Zm0 2.801a1.066 1.066 0 0 1-1.068-1.062c0-.586.48-1.062 1.068-1.062.59 0 1.068.476 1.068 1.062 0 .586-.479 1.062-1.068 1.062ZM14.802 45.116c-1.82 0-3.3 1.473-3.3 3.282 0 1.81 1.48 3.282 3.3 3.282 1.819 0 3.299-1.472 3.299-3.282s-1.48-3.282-3.3-3.282Zm0 5.287c-1.111 0-2.015-.9-2.015-2.005s.904-2.004 2.014-2.004c1.111 0 2.015.9 2.015 2.004a2.012 2.012 0 0 1-2.014 2.005Zm9.146-39.221c-1.82 0-3.3 1.472-3.3 3.282s1.48 3.282 3.3 3.282c1.819 0 3.299-1.472 3.299-3.282s-1.48-3.282-3.3-3.282Zm0 5.286c-1.111 0-2.015-.9-2.015-2.004 0-1.105.904-2.004 2.015-2.004 1.11 0 2.014.899 2.014 2.004a2.012 2.012 0 0 1-2.014 2.004ZM39.19 44.67h-7.705v1.279h7.706V44.67Zm0 3.172h-7.705v1.278h7.706v-1.278Zm16.615-22.444H49.85v1.278h5.956v-1.279Zm0 2.609H49.85v1.278h5.956v-1.278ZM39.19 51.013h-7.705v1.278h7.706v-1.278Z"
            />
            <path
              fill="#FF5000"
              d="m58.568 21.947-7.32-.023v-4.15.084L41.54 8H17.67v30.743H7v19.311h37.18v-4.936h7.068v-20.68h7.345v-8.8l-.025-1.69ZM42.063 10.182l6.991 6.953h-6.99v-6.953Zm.832 46.593H8.285V40.021h34.61v16.754Zm7.068-4.935H44.18V38.743H18.957V9.278h21.822v9.135h9.184v3.511h-8.87v10.515h8.87v19.4Zm7.345-21.115v.436h-14.93v-7.959h14.93v7.523Z"
            />
            <path
              fill="#FF5000"
              d="M13.244 8h-3.62v22.31a.6.6 0 0 0 .024.174l1.168 4.12.618 2.262.618-2.261 1.168-4.121a.633.633 0 0 0 .024-.174V8ZM11.96 9.278v20.395h-1.05V9.277h1.05Zm-1.05 20.395h1.05l-.525 2.404-.526-2.404Z"
            />
          </svg>

          <h3 class="design-card__title">Фирменный стиль</h3>
        </div>

        <div class="prices-card__price">
          <span>от 120 000 ₽</span>
        </div>

        <ul class="prices-card-list">
          <li class="prices-card-list__item">3 версии логотипа на выбор</li>
          <li class="prices-card-list__item">
            Исследование вашего потребителя и конкурентов
          </li>
          <li class="prices-card-list__item">Анализ рыночных трендов</li>
          <li class="prices-card-list__item">
            Гайдлайн по использованию фирменного стиля
          </li>
          <li class="prices-card-list__item">
            Оформление офисов и точек продаж
          </li>
          <li class="prices-card-list__item">
            Представление стиля на сайте и в социальных сетях
          </li>
          <li class="prices-card-list__item">Фирменная сувенирная продукция</li>
          <li class="prices-card-list__item">Фирменная документация</li>
          <li class="prices-card-list__item">Фирменные узоры</li>
          <li class="prices-card-list__item">Фирменные цветовые решения</li>
          <li class="prices-card-list__item">
            Поддерживающие элементы стилистики
          </li>
          <li class="prices-card-list__item">Фирменные шрифты</li>
          <li class="prices-card-list__item">Легенда созданного образа</li>
        </ul>

        <button
          class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
          type="button"
        >
          <span class="prices-card-btn__text">заказать</span>
          <span class="prices-card-btn__icon">
            <svg width="102" height="102">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </li>

    <li>
      <!-- card -->
      <div class="prices-card design-card">
        <div class="design-card__header">
          <svg
            class="design-card__icon"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 71 36"
          >
            <path
              stroke="#FF5000"
              stroke-width="1.2"
              d="M23.776 35h7.451l4.212-4.155L39.651 35h7.422L35.424 23.51 23.776 35ZM2 10.24l12.552 23.907 7.599-7.132-9.084-13.963L2 10.24Zm67-.004L56.448 34.143l-7.598-7.132 9.083-13.962L69 10.236ZM35.429 1 22.905 17.666l3.343 5.465 9.18-8.782 9.182 8.782 3.342-5.465L35.43 1Z"
              clip-rule="evenodd"
            />
          </svg>

          <h3 class="design-card__title">Создание логотипа</h3>
        </div>

        <div class="prices-card__price">
          <span>от 30 000 ₽</span>
        </div>

        <ul class="prices-card-list">
          <li class="prices-card-list__item">3 версии логотипа на выбор</li>
          <li class="prices-card-list__item">Печатная продукция с логотипом</li>
          <li class="prices-card-list__item">
            Представление логотипа на вашем сайте
          </li>
          <li class="prices-card-list__item">Сувенирка с логотипом</li>
          <li class="prices-card-list__item">Соцсети с вашим логотипом</li>
          <li class="prices-card-list__item">
            Исследование стилей конкурентов
          </li>
          <li class="prices-card-list__item">Анализ рыночных трендов</li>
          <li class="prices-card-list__item">
            Гайдлайн использования логотипа
          </li>
          <li class="prices-card-list__item">Легенда созданного образа</li>
        </ul>

        <button
          class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
          type="button"
        >
          <span class="prices-card-btn__text">заказать</span>
          <span class="prices-card-btn__icon">
            <svg width="102" height="102">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </li>
  </ul>
</section>
