<section class="prices-section prices-section--smm relative">
  <div class="prices-section__header">
    <h2 class="prices-section__title">SMM-Продвижение</h2>
    <a
      href="#"
      class="prices-section__link link link--orange link--bold link--uppercase"
    >
      <span class="link__text">Подробнее об услуге тут</span>
      <span class="link__icon">
        <svg class="link__arrow" width="12" height="12">
          <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
        </svg>
      </span>
    </a>
  </div>

  <ul class="prices-section__list prices-section__list--col-3">
    <li>
      <!-- card -->
      <div class="prices-card smm-card">
        <div class="smm-card__header">
          <svg
            class="smm-card__icon"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 60 60"
          >
            <path
              fill="#fff"
              d="M35.834 32.414 60 30l-24.166-2.417 15.38-18.797-18.798 15.381L30 0l-2.417 24.167L8.786 8.786l15.38 18.797L0 30l24.166 2.414-15.38 18.799 18.797-15.379L30 60l2.416-24.166 18.798 15.379-15.38-18.799Z"
            />
          </svg>

          <h3 class="smm-card__title">Упаковка профиля</h3>
        </div>

        <div class="prices-card__price prices-card__price--smm">
          <div class="prices-card__price-item">
            <span>от 17 000 ₽</span>
            <span>Единоразово</span>
          </div>
        </div>

        <ul class="prices-card-list">
          <li class="prices-card-list__item">Разбор профиля</li>
          <li class="prices-card-list__item">Создание иконок «актуальное»</li>
          <li class="prices-card-list__item">
            Генерация контента для highlights
          </li>
          <li class="prices-card-list__item">Составление шапки профиля</li>
          <li class="prices-card-list__item">Аудит эффективности кампаний</li>
          <li class="prices-card-list__item">Разработка УТП</li>
          <li class="prices-card-list__item">Составление ТЗ фотографу</li>
          <li class="prices-card-list__item">
            Подбор популярных тем для вашей ниши
          </li>
        </ul>

        <button
          class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
          type="button"
        >
          <span class="prices-card-btn__text">заказать</span>
          <span class="prices-card-btn__icon">
            <svg width="102" height="102">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </li>

    <li>
      <!-- card -->
      <div class="prices-card smm-card">
        <div class="smm-card__header">
          <svg
            class="smm-card__icon"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 49 50"
          >
            <path
              fill="#fff"
              d="M24.055 28.75c10.332 0 18.709 3.917 18.709 8.75v6.25H5.345V37.5c0-4.833 8.377-8.75 18.71-8.75Zm16.214 8.75c0-3.45-7.259-6.25-16.214-6.25-8.956 0-16.215 2.8-16.215 6.25v3.75h32.43V37.5ZM24.055 6.25a8.72 8.72 0 0 1 6.173 2.563 8.76 8.76 0 0 1 0 12.374 8.721 8.721 0 0 1-12.347 0 8.76 8.76 0 0 1 0-12.374 8.721 8.721 0 0 1 6.174-2.563Zm0 2.5a6.23 6.23 0 0 0-4.41 1.83 6.257 6.257 0 0 0 0 8.84 6.23 6.23 0 0 0 8.82 0 6.257 6.257 0 0 0 0-8.84 6.23 6.23 0 0 0-4.41-1.83Z"
            />
          </svg>

          <h3 class="smm-card__title">Ведение аккаунта</h3>
        </div>

        <div class="prices-card__price prices-card__price--smm">
          <div class="prices-card__price-item">
            <span>от 38 000 ₽</span>
            <span>Первый месяц</span>
          </div>
          <div class="prices-card__price-item">
            <span>от 30 000 ₽</span>
            <span>Последующие</span>
          </div>
        </div>

        <ul class="prices-card-list">
          <li class="prices-card-list__item">Анализ аккаунта</li>
          <li class="prices-card-list__item">Анализ конкурентов</li>
          <li class="prices-card-list__item">Обновление шапки профиля</li>
          <li class="prices-card-list__item">Создание иконок highlights</li>
          <li class="prices-card-list__item">Составление ТЗ фотографу</li>
          <li class="prices-card-list__item">
            Разработка визуальной концепции
          </li>
          <li class="prices-card-list__item">
            Создание контент плана на месяц
          </li>
          <li class="prices-card-list__item">Создание постов, сториз, reals</li>
          <li class="prices-card-list__item">Публикация контента</li>
        </ul>

        <button
          class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
          type="button"
        >
          <span class="prices-card-btn__text">заказать</span>
          <span class="prices-card-btn__icon">
            <svg width="102" height="102">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </li>

    <li>
      <!-- card -->
      <div class="prices-card smm-card">
        <div class="smm-card__header">
          <svg
            class="smm-card__icon"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 50 50"
          >
            <path
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M25.236 48.585c12.895 0 23.349-10.454 23.349-23.35 0-12.895-10.454-23.348-23.35-23.348-12.894 0-23.348 10.453-23.348 23.349 0 12.895 10.454 23.349 23.349 23.349Z"
            />
            <path
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M25.236 39.245c7.737 0 14.01-6.272 14.01-14.009s-6.273-14.01-14.01-14.01-14.01 6.273-14.01 14.01 6.273 14.01 14.01 14.01Z"
            />
            <path
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M25.236 29.905a4.67 4.67 0 1 0 0-9.34 4.67 4.67 0 0 0 0 9.34Z"
            />
          </svg>

          <h3 class="smm-card__title">Таргетированная реклама</h3>
        </div>

        <div class="prices-card__price prices-card__price--smm">
          <div class="prices-card__price-item">
            <span>от 35 000 ₽</span>
            <span>Настройка + 1 мес.</span>
          </div>
          <div class="prices-card__price-item">
            <span>от 25 000 ₽</span>
            <span>После первого месяца</span>
          </div>
        </div>

        <ul class="prices-card-list">
          <li class="prices-card-list__item">Создание рекламного кабинета</li>
          <li class="prices-card-list__item">Прогрев рекламного кабинета</li>
          <li class="prices-card-list__item">Подтверждение компании</li>
          <li class="prices-card-list__item">Анализ целевой аудитории</li>
          <li class="prices-card-list__item">Выяснение УТП</li>
          <li class="prices-card-list__item">Создание рекламных макетов</li>
          <li class="prices-card-list__item">Написание продающих текстов</li>
          <li class="prices-card-list__item">Анализ результатов</li>
          <li class="prices-card-list__item">Внесение корректировок</li>
          <li class="prices-card-list__item">Отчёт о проделанной работе</li>
          <li class="prices-card-list__item">Рекомендации по улучшению</li>
        </ul>

        <button
          class="prices-card-btn prices-card-btn--dark js-dialog-form-open"
          type="button"
        >
          <span class="prices-card-btn__text">заказать</span>
          <span class="prices-card-btn__icon">
            <svg width="102" height="102">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </li>
  </ul>

  <div class="page-prices__img page-prices__img--smm"></div>
</section>
