<main class="project">
  <include src="components/pages/project-page/hero.html"></include>
  <include src="components/pages/project-page/goals.html"></include>
  <include src="components/pages/project-page/steps.html"></include>
  <include src="components/pages/project-page/layouts.html"></include>
  <include src="components/pages/project-page/results.html"></include>

  <h6 class="font-bold">Как коллтрекинг изменит вашу жизнь?</h6>
  <ul>
    <li>
      Вы увидите количество заявок (запросов) с контекстной рекламы (или др.
      вида рекламы, который вы используете).
    </li>

    <li>
      Вы увидите источники заявок, то есть будете знать рабочие каналы
      продвижения. А не рабочие сможете отключить и не тратить деньги
      понапрасну.
    </li>

    <li>
      Вы услышите как ваши менеджеры разговаривают с клиентами, и поймете, как
      часто сделка обрывается на разговоре.
    </li>
  </ul>

  <a href="#" class="project__link-site link link--orange link--bold"
    ><span class="link__text">ссылка на сайт</span
    ><i class="link__icon">
      <svg class="link__arrow" width="12" height="12">
        <use xlink:href="#icon-arrow"></use>
      </svg> </i
  ></a>

  <include src="components/pages/project-page/carousel.html"></include>
</main>
