<!-- 
  1) плашка - изначально черная, затем на середине вьюпорта становится оранжевой
  2) элементы списка выводятся поочереди
  3) в конце отображения списка выводим справа полосу
 -->
<section class="goals">
  <div class="project-section-header project-section-header--goals">
    <div class="project-section-header__icon"></div>
    <h2 class="project-section-header__name">Цели и задачи</h2>
  </div>

  <ol class="project-list">
    <li class="project-list__item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, at
      reiciendis suscipit deserunt animi recusandae. Blanditiis iusto minus
      animi repudiandae doloremque atque accusamus, dolore obcaecati, vel alias
      rerum molestias dicta.
    </li>
    <li class="project-list__item">
      Ex quam repudiandae ducimus eum ipsa odit officiis quod labore, vero,
      dolorem possimus pariatur modi magnam similique veritatis voluptas
      aliquam? Nostrum tenetur amet voluptatum asperiores ab praesentium
      molestiae, nulla itaque.
    </li>
    <li class="project-list__item">
      Provident, sit quaerat. Amet aliquam exercitationem fuga inventore vitae
      error, obcaecati in eos repellat nulla incidunt et ab corporis voluptas
      odit distinctio doloribus aperiam delectus nam magnam facilis harum eius.
    </li>
    <li class="project-list__item">
      Itaque aperiam inventore, ea rerum officia doloremque corrupti ducimus
      aut, fugiat cupiditate ratione hic ex dolorum soluta animi, similique quia
      temporibus perferendis eveniet deserunt ab. Itaque labore at consectetur
      odit!
    </li>
    <li class="project-list__item">
      Illum dignissimos velit beatae quod reprehenderit hic. Perferendis
      consequuntur reprehenderit delectus a atque quasi totam tempore et
      mollitia harum! Rem perspiciatis perferendis iste ducimus saepe deleniti
      rerum error, dolores earum.
    </li>
    <li class="project-list__item">
      Sint similique minima delectus fugit, beatae vero libero ipsa iure dicta
      voluptas, corrupti tenetur accusamus consequatur. Error beatae totam
      tempora perferendis laudantium nisi recusandae adipisci natus sit quo,
      dolore velit.
    </li>
    <li class="project-list__item">
      Repellendus, sequi iusto porro voluptas alias a illum maiores, ab adipisci
      veritatis explicabo commodi odio laboriosam quae blanditiis illo nulla
      iste, eveniet est sunt et vero qui provident quas? Eum.
    </li>
    <li class="project-list__item">
      Reiciendis in, esse libero sed tempora unde? Dolor delectus, nesciunt
      ratione placeat nobis, consequuntur cumque dolorem pariatur modi, repellat
      ullam cum ducimus iusto fugiat obcaecati veniam debitis et. Expedita,
      modi.
    </li>
    <li class="project-list__item">
      Modi laborum et perferendis eligendi voluptate nemo beatae obcaecati
      soluta accusamus minima voluptates itaque, amet fuga pariatur, qui quod
      dignissimos autem vel, tempore ad quo earum alias laboriosam nisi!
      Possimus!
    </li>
    <li class="project-list__item">
      Officiis dolorum iusto omnis. Adipisci nostrum magnam consequuntur harum
      excepturi sit incidunt corrupti officia qui recusandae possimus natus hic,
      est velit assumenda sint iure error quisquam atque. Repellendus, aliquid
      cum.
    </li>
  </ol>
</section>
