<section class="project__section goals">
  <div class="project-section-header project-section-header--goals">
    <div class="project-section-header__icon"></div>
    <h2 class="project-section-header__name">Цели и задачи</h2>
  </div>

  <ol class="project-list">
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Eos, distinctio optio
        cupiditate aliquid corrupti quod esse consequatur illum repudiandae vel
        voluptates explicabo sapiente dolorum modi magni commodi rem! Deserunt,
        corrupti.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Odit
        exercitationem ut non numquam, minima, qui nihil cupiditate debitis
        explicabo nesciunt ab facilis? Aliquid, est numquam quidem soluta
        quisquam dolorem amet, ducimus error, repellendus ipsam ipsa odio beatae
        dolorum.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Accusamus eos
        numquam qui totam eveniet consectetur architecto unde laudantium
        mollitia consequuntur voluptas iure voluptate possimus rem, nobis ipsum
        facere minima inventore ea illo! Odio placeat sequi sint voluptas
        accusamus.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Rerum ratione
        enim, saepe id asperiores deleniti. Laudantium nisi impedit facere
        laborum odio earum quia possimus, aut a asperiores similique? Unde
        possimus ea cum dolorum earum obcaecati facere enim officia.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Vel ab dolorum
        magnam placeat atque! Provident laborum soluta reprehenderit recusandae
        commodi nihil. Rerum ipsa sequi porro iste adipisci ab dolore nemo,
        deleniti, similique aspernatur esse laborum architecto. Quod,
        temporibus.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Laborum
        eveniet quae pariatur, fugit ducimus aperiam eos beatae impedit error
        modi id reprehenderit qui quod perspiciatis amet illo in sunt placeat
        repudiandae ipsa? Optio id sequi quis dolores quam.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Consequuntur
        repellendus accusantium aut velit quaerat sequi molestiae eos, saepe
        voluptas laudantium aspernatur iste ullam sint, molestias commodi
        reiciendis sapiente repudiandae, assumenda perferendis incidunt!
        Temporibus id ipsum fugiat labore cum!
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Harum incidunt
        aliquam aliquid ea non, voluptatem maiores beatae iste sint, amet
        tenetur dicta. Ea illo consequatur, dicta aperiam accusantium inventore?
        Quod ipsum, a eius ea sequi tempora dicta rerum.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Eius libero
        porro quibusdam tempore minus officia obcaecati possimus eum explicabo
        nulla odio blanditiis asperiores tenetur repudiandae, consequuntur
        ullam, magnam illum, exercitationem mollitia error alias dolorem. Quo
        labore dolorem ipsum.
      </div>
    </li>
    <li class="project-list__item">
      <div class="list-item">
        <span class="list-item__marker" aria-hidden="true"></span>Earum eos
        inventore odit neque mollitia provident dolore aliquam asperiores, ut
        soluta consectetur accusamus aperiam cum repellat! Quod accusamus beatae
        esse, consectetur ipsam quos, rerum inventore rem voluptates,
        necessitatibus placeat?
      </div>
    </li>
  </ol>
</section>
