<section class="layouts">
  <h2 class="layouts__title">Макеты<span aria-hidden="true">////</span></h2>

  <div class="layouts__content">
    <div class="layouts__img-wrapper">
      <img class="layouts__img" src="" alt="Описание изображения." />
    </div>
    <div class="layouts__img-wrapper">
      <img class="layouts__img" src="" alt="Описание изображения." />
    </div>
    <div class="layouts__img-wrapper">
      <img class="layouts__img" src="" alt="Описание изображения." />
    </div>
    <div class="layouts__img-wrapper">
      <img class="layouts__img" src="" alt="Описание изображения." />
    </div>
  </div>
</section>
