<section class="project__section steps">
  <div class="project-section-header project-section-header--steps">
    <div class="project-section-header__icon"></div>
    <h2 class="project-section-header__name">
      Ход<br />
      работ
    </h2>
  </div>

  <section class="steps-intro">
    <img
      class="steps-intro__image"
      src="/images/works/project/_dev-logo.png"
      alt="Описание логотипа компании."
      srcset="
        /images/works/project/_dev-logo.png,
        /images/works/project/_dev-logo@2x.png 2x
      "
      width="196"
      height="196"
    />

    <p class="steps-intro__text project__text">
      Логотип компании — это отражение её принципов и философии. Для того, чтобы
      разработать логотип, необходимо не только изучить рынок и конкурентов, но
      и полностью погрузиться в процессы деятельности компании и ее определенную
      атмосферу.
    </p>
  </section>
</section>
