<div class="project__section wysiwyg">
  <h2>H2 Как коллтрекинг изменит вашу жизнь?</h2>
  <p>
    Сейчас мы расскажем вам о том, что многие называют волшебством. О том, что
    многим раскрывает глаза на реальность. О том, что помогает экономить ваш
    бюджет, а не сливать его на бесполезные рекламные кампании.
  </p>
  <p>
    Если вы уже понимаете, о чем идет речь — это хороший знак! Если же нет, то
    пора не бояться незнакомых слов, а становиться прошареннее!
  </p>
  <p>
    Итак, панацея от неэффективного продвижения в интернете — коллтрекинг
    (сall-tracking).<br />Коллтрекинг — технология, которая отслеживает
    обращения по телефону и связывает их с конкретным рекламным источником (это
    может быть не только контекстная реклама, но и уличный билборд, например).
  </p>

  <h3>H3 Как коллтрекинг изменит вашу жизнь?</h3>

  <ul>
    <li>
      Вы увидите количество заявок (запросов) с контекстной рекламы (или др.
      вида рекламы, который вы используете).
    </li>
    <li>
      Вы увидите источники заявок, то есть будете знать рабочие каналы
      продвижения. А не рабочие сможете отключить и не тратить деньги
      понапрасну.
    </li>
    <li>
      Вы услышите как ваши менеджеры разговаривают с клиентами, и поймете, как
      часто сделка обрывается на разговоре.
    </li>
  </ul>

  <figure class="col-span-full">
    <img
      src="https://cdn.pixabay.com/photo/2021/08/03/11/48/canal-6519196_1280.jpg"
      alt=""
      width="auto"
      height="auto"
    />
    <figcaption>Изображение на всю ширину</figcaption>
  </figure>

  <h3>H3 Реальный пример из работы наших специалистов.</h3>

  <p>
    Заказчик тратил 20 000 р. на продвижение в Яндекс и столько же — в Google.
    Спустя 3 месяца, был проведен анализ по источникам звонков в компанию.
    Оказалось, что Яндекс приносит 90% целевых заявок. Поэтому было принято
    решение большую часть рекламного бюджета вкладывать в Яндекс, а Google
    поддерживать на минимальном бюджете. Таким образом, мы добились еще больше
    заявок для клиента с Яндекс.Директ.
  </p>

  <div class="wysiwyg-imgs">
    <figure>
      <img
        src="https://cdn.pixabay.com/photo/2021/01/29/08/10/musician-5960112_1280.jpg"
        alt=""
        width="auto"
        height="auto"
      />
      <figcaption>Изображения в 2 колонки</figcaption>
    </figure>

    <figure>
      <img
        src="https://p4.wallpaperbetter.com/wallpaper/957/493/200/earth-sunset-landscape-nature-wallpaper-preview.jpg"
        alt=""
        width="auto"
        height="auto"
      />
      <figcaption>Когда изображения с разными пропорциями</figcaption>
    </figure>
  </div>

  <div class="wysiwyg-table">
    <table>
      <thead>
        <tr>
          <th>Колонка 1</th>
          <th>Колонка 2</th>
          <th>Колонка 3</th>
          <th>Колонка 4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The table body</td>
          <td>with two columns</td>
          <td>with two columns</td>
          <td>10</td>
        </tr>
        <tr>
          <td>The table body</td>
          <td>2</td>
          <td>with two columns</td>
          <td>with two columns</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing!</td>
          <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            molestiae ad dolores omnis veritatis repudiandae aliquam asperiores
            voluptas quidem fugiat delectus sunt hic corporis doloremque atque
            deserunt, quo, deleniti molestias!
          </td>
          <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            molestiae ad dolores omnis veritatis repudiandae aliquam asperiores
            voluptas quidem fugiat delectus sunt hic corporis doloremque atque
            deserunt, quo, deleniti molestias!
          </td>
          <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            molestiae ad dolores omnis veritatis repudiandae aliquam asperiores
            voluptas quidem fugiat delectus sunt hic corporis doloremque atque
            deserunt, quo, deleniti molestias!
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <section class="layouts">
    <h2 class="layouts__title">Макеты<span aria-hidden="true">////</span></h2>
  
    <div class="layouts__content">
      <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="layouts__img-wrapper js-lightbox">
        <img
          class="layouts__img"
          src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg"
          srcset="
            https://mir-s3-cdn-cf.behance.net/project_modules/disp/926592113126399.6021b5d487f9c.jpg        600w,
            https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/926592113126399.6021b5d487f9c.jpg   1200w,
            https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/926592113126399.6021b5d487f9c.jpg 1400w,
            https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg         1920w,
            https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/926592113126399.6021b5d487f9c.jpg 2800w
          "
          alt="Описание изображения."
        />
      </a>
      <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="layouts__img-wrapper js-lightbox">
        <img
          class="layouts__img"
          src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg"
          srcset="
            https://mir-s3-cdn-cf.behance.net/project_modules/disp/9d125896452467.5eaeecde7aee6.jpg        600w,
            https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9d125896452467.5eaeecde7aee6.jpg   1200w,
            https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9d125896452467.5eaeecde7aee6.jpg 1400w,
            https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg         1920w
          "
          alt="Описание изображения."
        />
      </a>
      <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="layouts__img-wrapper js-lightbox">
        <img
          class="layouts__img"
          src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg"
          srcset="
            https://mir-s3-cdn-cf.behance.net/project_modules/disp/926592113126399.6021b5d487f9c.jpg        600w,
            https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/926592113126399.6021b5d487f9c.jpg   1200w,
            https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/926592113126399.6021b5d487f9c.jpg 1400w,
            https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg         1920w,
            https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/926592113126399.6021b5d487f9c.jpg 2800w
          "
          alt="Описание изображения."
        />
      </div>
      <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="layouts__img-wrapper js-lightbox">
        <img
          class="layouts__img"
          src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg"
          srcset="
            https://mir-s3-cdn-cf.behance.net/project_modules/disp/9d125896452467.5eaeecde7aee6.jpg        600w,
            https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9d125896452467.5eaeecde7aee6.jpg   1200w,
            https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9d125896452467.5eaeecde7aee6.jpg 1400w,
            https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg         1920w
          "
          alt="Описание изображения."
        />
      </a>
    
  </section>
  

  <figure class="">
    <img
      src="https://cdn.pixabay.com/photo/2021/08/06/09/00/magpie-6525684_1280.jpg"
      alt=""
      width="auto"
      height="auto"
    />
    <figcaption>Обычный размер изображения</figcaption>
  </figure>

  <ol>
    <li>
      Далеко-далеко за словесными горами в стране гласных и согласных живут
      рыбные тексты. Повстречался, семь родного единственное буквоград это,
      снова толку залетают использовало эта, города путь они. Ее повстречался
      которой взобравшись проектах страна.
    </li>
    <li>
      Свою она пояс над, имеет путь назад вдали страна даже своих послушавшись
      рукописи. Текст вершину приставка одна залетают свое великий рекламных
      ручеек языкового переписали пояс рукописи рот рыбными, оксмокс бросил.
    </li>
    <li>
      Ему вдали по всей рукописи переписывается, ее текста строчка, бросил
      предупредила, семантика взобравшись снова лучше вопрос. Вопрос он,
      скатился путь, осталось всеми текст до бросил сих приставка, раз то снова
      рыбными.
    </li>
    <li>
      Предупредила, несколько рукописи заманивший все пустился, строчка языком
      щеке рукопись ручеек которое всемогущая парадигматическая вопрос силуэт
      пунктуация грамматики вскоре? Меня семантика страна вопроса буквенных
      напоивший возвращайся большого, скатился одна буквоград.
    </li>
  </ol>
</div>
