.form__input input {
  --autofill-bg: #fff;
}

.form__input input:required + label::before {
  @apply bg-warm-gray-200 opacity-0 transition-opacity;

  --size: 6px;

  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-60%);
  width: var(--size);
  height: var(--size);
  opacity: 0;

  @media (--xl) {
    --size: 8px;
    --top: 14px;
    --left: 10px;

    top: calc(100% + var(--top));
    left: calc(100% + var(--left));
  }

  @media (--xxxl) {
    --size: 14px;
    --top: 9px;
    --left: 20px;
  }
}

.form__input input[data-valid="true"] + label::before {
  @apply bg-sun opacity-100;
}

.form__input input.has-value + label,
.form__input input:focus + label {
  @apply transform -translate-y-6  lg:-translate-y-8;
}

.form__input input#tel:focus-visible {
  @apply placeholder-dark-grey placeholder-opacity-50;
}

.form__input input:focus-visible + label {
  @apply text-sun;
}

.form__input input.has-value + label::before,
.form__input input:focus-visible + label::before {
  @apply opacity-100;
}

.form__input input.has-error {
  @apply border-sun-opacity-50;
}

.form__input .form-field__error {
  @apply font-light;
}
