@use "../_config/index" as *;

.form__submit {
  @media (--lg) {
    @apply text-black;

    --gap: #{em(135, 54)};
    --pd: #{em(40, 54)} 0;

    @include font-size-new(54);
  }

  @media (--xl) {
    --px: #{em(62, 54)};
    --pt: #{em(62, 54)};
    --pb: #{em(60, 54)};
    --pd: var(--pt) var(--px) var(--pb) var(--px);
  }
}

body:not(.os-mac) .form__submit {
  @media (--xl) {
    --pb: #{em(56, 54)};
  }
}

.form__submit .link__text {
  @apply font-medium lg:font-bold;
}

.form__submit .link__icon {
  margin-left: -4px;

  @media (--lg) {
    --icon-size: #{em(102, 54)};

    margin-left: var(--gap);
    transform: translateY(-5px);
  }
}

.form__submit .link__arrow {
  @media (--lg) {
    fill: rgba(#131313, 0.1);
  }
}

.form__submit:hover .link__arrow {
  @media (--lg) {
    fill: rgba(#131313, 1);
  }
}
