.top {
  padding-bottom: 42px;

  @media (max-width: $md3 + px) {
    padding-bottom: 12px;
  }

  @media (max-width: $md4 + px) {
    overflow-x: hidden;
  }
  // .top__body
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: $md1 + px) {
      align-items: center;
    }
  }
  // .top__info
  &__info {
    max-width: 850px;
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    @media (any-hover: hover) {
      &:hover {
        .top__grid {
          background-color: var(--orange);
        }
      }
    }
  }
  // .top__title
  &__title {
    text-align: right;
    @include adaptive(margin-bottom, 47, 27, 1);

    @media (max-width: $md2 + px) {
      order: 1;
    }

    .title--big {
      @media (max-width: 767px) {
        line-height: 1;
      }
    }
  }
  // .top__descr
  &__descr {
    max-width: 716px;
    margin-left: auto;

    @media (max-width: $md2 + px) {
      order: 2;
    }

    &:not(:last-child) {
      @include adaptive(margin-bottom, 114, 20, 1);
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    span {
      color: var(--orange);
      font-weight: 400;
    }
  }
  // .top__list
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: $md2 + px) {
      order: 4;
    }

    @media (max-width: $md3 + px) {
      flex-direction: column;
    }
  }
  // .top__item
  &__item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 10px;

      @media (max-width: $md3 + px) {
        margin-right: 0;
        margin-bottom: 22px;
      }
    }
  }
  // .top__quantity
  &__quantity {
    font-size: 36px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--orange);
  }
  // .top__text
  &__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
  }
  // .top__grid
  &__grid {
    width: calc(100% + 60px);
    margin-left: -30px;
    height: 35px;
    overflow: hidden;
    mask-image: url("/images/landings/ecommerce/sprite.svg#grid");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    background-color: var(--black);
    transition: background-color 0.3s ease-in;

    @media (max-width: $md2 + px) {
      order: 5;
    }

    @media (max-width: $md3 + px) {
      display: none;
    }
  }
  //.top__image
  &__image {
    display: flex;
    align-items: center;

    @media (max-width: $md2 + px) {
      order: 3;
    }
  }
  // .top__image
  &__img {
    width: 100%;
  }
}
