<section class="cases">
	<div class="cases__container container">
		<h2 class="sr-only">Наши кейсы</h2>
		<svg class="cases__title-img title-img">
			<use xlink:href="images/sprite.svg#title-cases"></use>
		</svg>

		<ul class="cases__content">
			<li class="cases__item">
				@include('../common/components/case.html',{
				"alt": "Изображение оленя",
				"big": "0",
				"img": "deer",
				"title": "Саха трейд",
				"category": "Продукты",
				"hashCase": "design",
				"descr": "ВЫХОД НА МИРОВУЮ АРЕНУ",
				"contentCase": "",
				"link": "https://web-alt.ru/works/sakha-trade",
				})
			</li>

			<li class="cases__item">
				@include('../common/components/case.html',{
				"alt": "Изображение зуба и зубной щетки",
				"big": "0",
				"img": "iceberg",
				"title": "iceberg",
				"category": "Медицина",
				"hashCase": "iceberg-style",
				"descr": "айденткика и новый сайт на 1с битрикс",
				"contentCase": "",
				"link": "https://web-alt.ru/works/iceberg",
				})
			</li>

			<li class="cases__item">
				@include('../common/components/case.html',{
				"alt": "Изображение замка",
				"big": "0",
				"img": "castel",
				"title": "ГОСЗАКАЗ",
				"category": "Консалтинг",
				"hashCase": "design",
				"descr": "ВЫХОД ЗА РАМКИ СТЕРЕОТИПОВ",
				"contentCase": "",
				"link": "https://web-alt.ru/works/goszakaz",
				})
			</li>
		</ul>

		<a class="cases__add link link--uppercase link--underline link--bold link--orange" href="https://web-alt.ru/works" target="_blank">
			<span class="link__text">показать еще</span>
			<span class="link__icon">
				<svg>
					<use xlink:href="images/sprite.svg#arrow-symbol"></use>
				</svg>
			</span>
		</a>
	</div>
</section>