<section class="raiting raiting-style">
	<div class="raiting-style__title-box">
		<div class="container">
			<h2 class="raiting-style__title">Мы <span>создаём</span> не только стиль</h2>
		</div>
	</div>

	<div class="container">
		<div class="raiting-style__body">
			<div class="raiting-style__info">
				<div class="raiting-style__text">
					<p>Наша компания уже <span>14 лет</span> создаёт сайты и успешные веб-решения для бизнеса России.</p>
					<p>Мы не боимся брать на себя <span>весь объём работ</span> от создания стилистики и концепции до продвижения и реализации крупных площадок в сети интернет.</p>
					<p>Изучите наши комплексные кейсы, где мы показываем весь спектр наших возможностей.</p>
				</div>

				<p class="raiting-style__descr">
					<span>Комплексная упаковка компании:</span> брендинг, сайт, продвижение в одном месте по доступной цене!
				</p>
			</div>

			<ul class="raiting__list">
				<div class="raiting__badge">
					<img src="images/logo-white.svg" alt="Логотип">
				</div>
				<li class="raiting__row">
					<span class="raiting__quantity">14</span>
					<span class="raiting__definition">Лет на рынке</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">500+</span>
					<span class="raiting__definition">Выполненных проектов</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">70+</span>
					<span class="raiting__definition">проектов на ежемесячном продвижении</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">160+</span>
					<span class="raiting__definition">настроенных рекламных кампаний</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">25+</span>
					<span class="raiting__definition">штатных специалистов</span>
				</li>
			</ul>
		</div>
	</div>
</section>