<section class="services">
	<div class="services__container container">
		<h2 class="services__title title-mini title-mini--white">наши услуги</h2>

		<ul class="services__list services__list--style">
			<li class="services__card analize-card">
				<div class="analize-card__inner">
					<h3 class="analize-card__title analize-card__title--mini-24">Создание логотипа</h3>

					<ul class="analize-card__list">
						<li class="analize-card__row">3 версии логотипа на выбор</li>
						<li class="analize-card__row">Печатная продукция с логотипом</li>
						<li class="analize-card__row">Представление логотипа на вашем сайте</li>
						<li class="analize-card__row">Сувенирка с логотипом</li>
						<li class="analize-card__row">Соцсети с вашим логотипом</li>
						<li class="analize-card__row">Исследование стилей конкурентов</li>
						<li class="analize-card__row">Анализ рыночных трендов</li>
						<li class="analize-card__row">Гайдлайн использования логотипа</li>
						<li class="analize-card__row">Легенда созданного образа</li>
					</ul>
				</div>

				<ul class="analize-card__prices">
					<li class="analize-card__price">
						<span class="analize-card__sum"><span>от</span> 30 000</span>
					</li>
				</ul>

				<button class="analize-card__btn analize-btn" type="button">
					<span class="analize-btn__inner">
						<span class="analize-btn__text">заказать</span>
						<span class="analize-btn__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</span>
				</button>
			</li>

			<li class="services__card analize-card">
				<div class="analize-card__inner">
					<h3 class="analize-card__title analize-card__title--mini-24">Фирменный стиль</h3>

					<ul class="analize-card__list">
						<li class="analize-card__row">3 версии логотипа на выбор</li>
						<li class="analize-card__row">Исследование вашего потребителя и конкурентов</li>
						<li class="analize-card__row">Анализ рыночных трендов</li>
						<li class="analize-card__row">Гайдлайн по использованию фирменного стиля</li>
						<li class="analize-card__row">Оформление офисов и точек продаж</li>
						<li class="analize-card__row">Представление стиля на сайте и в социальных сетях</li>
						<li class="analize-card__row">Фирменная сувенирная продукция</li>
						<li class="analize-card__row">Фирменная документация</li>
						<li class="analize-card__row">Фирменные узоры</li>
						<li class="analize-card__row">Фирменные цветовые решения</li>
						<li class="analize-card__row">Поддерживающие элементы стилистики</li>
						<li class="analize-card__row">Фирменные шрифты</li>
						<li class="analize-card__row">Легенда созданного образа</li>
					</ul>
				</div>

				<ul class="analize-card__prices">
					<li class="analize-card__price">
						<span class="analize-card__sum"><span>от</span> 120 000</span>
					</li>
				</ul>

				<button class="analize-card__btn analize-btn" type="button">
					<span class="analize-btn__inner">
						<span class="analize-btn__text">заказать</span>
						<span class="analize-btn__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</span>
				</button>
			</li>
		</ul>
	</div>
</section>