<section class="benefits benefits--cmm">
	<div class="benefits__container container">
		<h2 class="benefits__title title-mini">почему фирменный стиль доверяют <span>Web Alternative?</span></h2>

		<ul class="benefits__list">
			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-11"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Работаем по договору</h3>
					<p class="benefits__descr">Все проекты у нас оформляются юридически через договор. К договору мы прикладываем обязательно смету, график оплат и гарантийные обязательства.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-6"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Работаем не только по РФ</h3>
					<p class="benefits__descr">Цены зафиксированы в договоре и не меняются. Если только вы не закажите дополнительные услуги.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-5"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Права на дизайн </h3>
					<p class="benefits__descr">Мы не находимся в рамках только России. У нас есть практика работы и с зарубежными клиентами.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-12"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Безопасность прежде всего</h3>
					<p class="benefits__descr">После подписания актов принятия работ вы получаете исключительные права на использование созданного продукта.</p>
				</div>
			</li>
		</ul>
	</div>
</section>