<section class="composition-dev">
	<div class="composition-dev__container container">
		<h2 class="composition-dev__title title-mini">Этапы разработки </h2>

		<ul class="composition-dev__inner">
			<li class="composition-dev__item" style="background-image: url('images/composition-dev/marketing.png');">
				<div class="composition-dev__info">
					<h3 class="composition-dev__name">Проведем маркетинговые <span>исследования</span></h3>

					<ul class="composition-dev__list">
						<li class="composition-dev__row">Исследование потребительского восприятия</li>
						<li class="composition-dev__row">Анализ лучших практик применения фирменного стиля</li>
						<li class="composition-dev__row">Исследование стилей конкурентов</li>
						<li class="composition-dev__row">Анализ рыночных трендов</li>
					</ul>

					<p class="composition-dev__text">Подготовим обоснование для позиционирования Вашего бренда.</p>
				</div>
			</li>

			<li class="composition-dev__item" style="background-image: url('images/composition-dev/logotypes.png');">
				<div class="composition-dev__info">
					<h3 class="composition-dev__name">Разработаем до <span>3х</span> вариантов логотипа </h3>

					<p class="composition-dev__text">На основании выбранного позиционирования <span>3 разные концепции</span> фирменного логотипа с примерами адаптации:
					</p>

					<ul class="composition-dev__list">
						<li class="composition-dev__row">Печатная продукция с логотипом</li>
						<li class="composition-dev__row">Представление логотипа на вашем сайте</li>
						<li class="composition-dev__row">Сувенирная продукция с логотипом</li>
						<li class="composition-dev__row">Социальные сети с вашим логотипом</li>
					</ul>
				</div>
			</li>

			<li class="composition-dev__item composition-dev__item--style-elements" style="background-image: url('images/composition-dev/style-elements.png');">
				<div class=" composition-dev__info">
					<h3 class="composition-dev__name">Создадим <span>ключевые</span> элементы вашего фирменного стиля
					</h3>

					<ul class="composition-dev__list">
						<li class="composition-dev__row">Фирменные шрифты</li>
						<li class="composition-dev__row">Фирменные цветовые решения</li>
						<li class="composition-dev__row">Фирменные узоры</li>
						<li class="composition-dev__row">Поддерживающие элементы стилистики (иллюстрации, эмблемы, знаки)</li>
					</ul>

					<p class="composition-dev__text">А также <span>гайдлайн</span> (правила использования) вашего фирменного стиля, чтобы вы получили в любой полиграфии или студии необходимый результат по всем правилам вашего нового стиля.</p>
				</div>
			</li>

			<li class="composition-dev__item" style="background-image: url('images/composition-dev/carriers.png');">
				<div class=" composition-dev__info">
					<h3 class="composition-dev__name">Масштабируем фирменный стиль на <span>печатные</span> и <span>цифровые</span> носители
					</h3>

					<ul class="composition-dev__list">
						<li class="composition-dev__row">Фирменная документация</li>
						<li class="composition-dev__row">Рекламная и имиджевая полиграфия</li>
						<li class="composition-dev__row">Оформление фирменных офисов и точек продаж</li>
						<li class="composition-dev__row">Представление стиля на сайте и в социальных сетях</li>
						<li class="composition-dev__row">Фирменная сувенирная продукция</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<div class="composition-dev__form-box form-box">
		<div class="container">
			<form class="form-box__form form-application" action="#">
				<div class="form-application__column">
					<div class="form-application__item">
						<input class="form-application__input" id="smmName" type="text" name="Имя соискателя" data-validate-field="smmName" required>
						<label class="form-application__label" for="smmName">имя*</label>
					</div>

					<div class="form-application__item">
						<input class="form-application__input" id="smmPhone" type="tel" name="Телефон соискателя" placeholder="+7 (999) 999 99 99" data-validate-field="smmPhone" required>
						<label class="form-application__label" for="smmPhone">Телефон*</label>
					</div>

					<div class="form-application__bottom">
						<div class="form-application__button">
							<button class="form-application__btn link link--uppercase link--bold link--underline" type="submit">
								<span class="link__text">хочу обновиться</span>
								<span class="link__icon">
									<svg>
										<use xlink:href="images/sprite.svg#arrow-symbol"></use>
									</svg>
								</span>
							</button>
						</div>

						<p class="form-application__text">Нажимая на кнопку, Вы даете согласие с
							<a href="https://web-alt.ru/page/politika-obrabotki-cookie-failov-na-saite" target="_blank">политикой обработки персональных данных</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>