<section class="examples-style">
	<div class="examples-style__container container">
		<h2 class="examples-style__title title-mini">Примеры выполненных фирменных стилей в <span>WEB ALTERNATIVE</span></h2>

		<ul class="examples-style__inner">
			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/iceberg.jpg" alt="Фирменный стиль iceberg">

					<p class="examples-style__text">фирменный стиль стоматологии Iceberg</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-iceberg.jpg" alt="Иллюстрация сайта iceberg">
				</div>
			</li>

			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/antera.jpg" alt="Фирменный стиль antera">

					<p class="examples-style__text">Лого и фирменный стиль ANTERA</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-antera.jpg" alt="Иллюстрация сайта antera">
				</div>
			</li>

			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/goszakaz.jpg" alt="Фирменный стиль goszakaz">

					<p class="examples-style__text">лого и фирменный стиль для компании госзаказ</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-goszakaz.jpg" alt="Иллюстрация сайта goszakaz">
				</div>
			</li>

			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/coffee.jpg" alt="Фирменный стиль coffee-center">

					<p class="examples-style__text">лого и упаковка для поставщика кофе</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-coffee.jpg" alt="Иллюстрация сайта coffee-center">
				</div>
			</li>

			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/sakha.jpg" alt="Фирменный стиль sakha-trade">

					<p class="examples-style__text">фирменный стиль для sakha trade</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-sakha.jpg" alt="Иллюстрация сайта sakha-trade">
				</div>
			</li>

			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/gorilla.jpg" alt="Фирменный стиль gorilla">

					<p class="examples-style__text">Ветеринария горилла</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-gorilla.jpg" alt="Иллюстрация сайта gorilla">
				</div>
			</li>

			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/notime.jpg" alt="Фирменный стиль notime">

					<p class="examples-style__text">notime - экспресс доставка продуктов</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-notime.jpg" alt="Иллюстрация сайта notime">
				</div>
			</li>

			<li class="examples-style__item">
				<div class="examples-style__image">
					<img class="examples-style__img" src="images/examples-style/stroykor.jpg" alt="Фирменный стиль stroykor">

					<p class="examples-style__text">Фирменный стиль для строителей</p>

					<button class="examples-style__btn link link--uppercase link--white link--underline">
						<span class="link__text">смотреть</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</button>
				</div>

				<div class="examples-style__lightbox">
					<img class="examples-style__lightbox-img" src="images/examples-style/lb-stroykor.jpg" alt="Иллюстрация сайта stroykor">
				</div>
			</li>
		</ul>

		<button class="examples-style__button link link--uppercase link--orange link--underline btn-examples" type="button">
			<span class="btn-examples__desctope">
				<svg>
					<use xlink:href="images/sprite.svg#fire"></use>
				</svg>
				<span class="btn-examples__text">Закажите фирменный стиль для своего сайта</span>
			</span>
		</button>
	</div>
</section>