<section class="smm-social">
	<div class="smm-social__container container">
		<h2 class="sr-only">О нашей странице в instagram</h2>

		<div class="smm-social__inner">
			<img class="smm-social__img-desctop" src="images/smm-social/posts.png" alt="Изображение 9 постов в инстаграме">
			<img class="smm-social__img-mobile" src="images/smm-social/posts-mobile.png" alt="Изображение 6 постов в инстаграме">

			<div class="smm-social__info">
				<p class="smm-social__descr">Мы любим социальные сети. И для продвижения бренда пользуемся этим каналом на все 100%</p>

				<ul class="smm-social__list">
					<li class="smm-social__item">Показываем кейсы</li>
					<li class="smm-social__item">Транслируем наши ценности</li>
					<li class="smm-social__item">Ищем новых сотрудников и партнёров</li>
					<li class="smm-social__item">Рассказываем о наших мероприятиях</li>
				</ul>

				<a class="smm-social__link link link--orange" href="https://www.instagram.com/web_alternative" target="_blank">
					<span class="link__text">@web_alternative</span>
					<span class="link__icon">
						<svg>
							<use xlink:href="images/sprite.svg#arrow-symbol"></use>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>