@use "../components/btn-play.scss";
@use "../_config/functions/convert.scss" as *;

.founder-image {
  position: relative;
  margin-bottom: 30px;
}

.founder-image__img {
  width: calc(310 / 335 * 100%);
}

.founder-image__play {
  position: absolute;
  left: calc(100% - 102px);
  bottom: 104px;
  width: 102px;
  height: 102px;
  overflow: hidden;

  @media (--md) {
    bottom: vw(155);
  }
}

.founder-image__play .btn-play {
  position: absolute;
  top: 0;
  left: 0;
}

.founder-image__instagram {
  position: absolute;
  left: calc(100% - 102px);
  bottom: -10px;
  text-align: center;

  @media (--md) {
    display: none;
  }
}

.founder-image__instagram .btn-play__icon {
  width: 32px;
  height: 32px;
  background-color: #fff;
  mask: url("/images/i-instagram.svg") center/32px;
  border: 0;
}
