@use "_config/utilities/custom-media";
@use "_config/mixins/typographic" as *;
@use "_config/functions/convert" as fn;
@use "page-home/footer-redirect";

.page-contacts {
  --title-size: #{fn.vw(475)};
}

.page-contacts .page-container .page-menu__contacts {
  padding: 0 !important;
}

.page-contacts .page-container .menu-contact {
  @apply last-of-type:mb-0 <lg:mb-8 lg:mb-12;
}

.page-contacts .map .menu-contact {
  @apply mb-10;
}

.text-contact {
  @include font-size-new(54);

  @media (--xl-max) {
    @include font-size-new(42);
  }
}

.text-contact-small {
  @include font-size-new(24);
}

.bg-map {
  @apply absolute top-1/2 right-0 transform -translate-y-1/2 bg-contain bg-center -z-1;

  width: fn.vw(1356);
  height: fn.vw(700);
}

.webp .bg-map {
  background-image: image-set(
    url("/images/contacts/bg-map@2x.webp") 2x,
    url("/images/contacts/bg-map.webp") 1x
  );
}

.no-webp .bg-map {
  background-image: url("/images/contacts/bg-map.png");
}

.map-container {
  @apply h-screen mx-$base-page-gap-negative;

  @media (min-height: 1000px) {
    height: 900px;
  }
}

.map-container [class*="ground-pane"] {
  filter: grayscale(1);
}

.wa-logo {
  @apply <lg:hidden;

  width: 213px;
  height: 23px;
  margin-bottom: 40px;
  background: url("/images/logo-wa-full-white.svg") center/contain;
}
