@use "_config/utilities/custom-media";
@use "_config/functions/convert.scss" as *;
@use "fonts/suisseIntl-thin";
@use "page-home/footer-redirect.scss";

.page-title {
  width: vw(522);
  margin-bottom: vw(32);
  color: var(--c-dark-grey);

  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    width: vw(354, $mobile-viewport);
    margin-bottom: 42px;
  }
}
