<main class="main">
	@include('../common/sections/s1-top.html',{
	"class": "top--corp",
	"title": "Разработка",
	"titleMini": "корпоративного сайта",
	"descr": "<p>В точные сроки по цене региональной студии.</p>",
	"quantity1": "14",
	"text1": "Лет экспертизы на рынке",
	"quantity2": "500+",
	"text2": "Выполненных проектов",
	"quantity3": "70+",
	"text3": "на постоянном продвижении",
	"img": "herro-bg-1.jpg",
	"alt": "Пример дизайна интеренет-магазина",
	"cover": "1",
	"descrBigMargin": "1",
	})

	@include('../common/sections/s2-getting.html',{
	"title": "Вы получаете",
	"svg": "title-getting",
	"svg1": "getting-1",
	"text1": "Все работы от дизайна до написания контента <span>в одном месте</span>",
	"descr1": "Уходит слишком много контроля на разные задачи для одного продукта? Мы экономим ресурс внимания для вас. Ответственность на одном лице. Договор с одним подрядчиком.",
	"svg2": "getting-2",
	"text2": "Продуманную <span>стратегию продвижения</span> интернет-магазина",
	"descr2": "Мы делаем прогноз кол-ва заявок до старта работ по контексту. Также у нас есть свой отдел SMM продвижения.",
	"svg3": "getting-3",
	"text3": "Выбор <span>варианта разработки</span> исходя из вашей задачи",
	"descr3": "Мы предложим разные варианты платформ, исходя из сроков, бюджетов и функций проекта.",
	"svg4": "getting-6",
	"text4": "Все <span>авторские права</span> на разработанный дизайн и код",
	"descr4": "После подписания актов принятия работ вы получаете исключительные права на использование созданного продукта, как на дизайн, так и на программную реализацию вашего сайта.",
	"svg5": "getting-5",
	"text5": "<span>Индивидуальная</span> работа с личным менеджером",
	"descr5": "Стараемся учесть ваши пожелания, за вами будет закреплён проект-менеджер, который будет вашим координатором по проекту.",
	})

	@include('../common/sections/s3-technology.html',{
	"title": "принципы и технологии",
	"titleMobile": "о нас",
	"svg": "title-principles",
	"element1": "@include('../components/technology-elements-1.html',{})",
	"element2": "",
	})

	@include('./s1-examples.html',{})

	@include('./s2-development.html',{})

	@include('../common/sections/s8-raiting.html',{})

	@include('../common/sections/s10-cases.html',{

	})

	@include('../common/sections/s7-reviews.html',{})

	@include('./s3-prices-corp.html',{})

	@include('../common/sections/s4-clients.html',{})

	@include('../common/sections/s5-founder.html',{})

	@include('../common/sections/s6-applicants.html',{})
</main>