@font-face {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  src: local("Suisse Int'l"),
    url("../fonts/SuisseIntl-Book-WebM.woff2") format("woff2");
  font-display: swap;
}
