@font-face {
  //font-family: "Suisse Int'l";
  font-family: "my-font";
  font-style: normal;
  font-weight: 400;
  //src: local("Suisse Int'l"),
  src: url("../fonts/suisseintl-book-webfont.woff2") format("woff2");
    //url("../fonts/SuisseIntl-Book.woff") format("woff"),
    //url("../fonts/SuisseIntl-Book.woff2") format("woff2");
  font-display: swap;
}
