@font-face {
  //font-family: "Suisse Int'l";
  font-family: "my-font";
  font-style: normal;
  font-weight: 400;
  //src: local("Suisse Int'l"),
  src: url("../fonts/suisseintl-book.woff2") format("woff2");
  //src: url("../fonts/hinted-SuisseIntl-Book.woff2") format("woff2");
  font-display: swap;
}
