@use "../_config/index" as *;

.blog-deco-side {
  @include bg-img("/images/blog-1030.svg");
  
  position: fixed;
  right: 0;
  top: 50%; // 42% по макету
  
  width: vw(78);
  height: vw(240);
  
  background-position-x: 100%;
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    display: none;
  }
}
