@use "../_config/index" as *;

.filter {
  --top: 90px;
  --margin-left: #{vw(-10)};
  // .filter__group
  --padding: 5px;
  --gap-item: calc((25px - var(--padding) * 2) / 2);
  --icon-size: 16px;
  
  @include list-unstyled();
  
  grid-column: 1/8;
  
  position: sticky;
  top: var(--top);
  z-index: 500;
  
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: var(--margin-left);
  margin-bottom: vw(55);
  padding: vw(10 + 4) calc(#{vw(15)} - var(--gap-item)) vw(10) vw(15);
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    padding: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }
  
  body.os-mac & {
    padding: vw(10) calc(#{vw(15)} - var(--gap-item)) vw(10) vw(15);
  }
}

.filter__collapse {
  --size: calc(var(--icon-size) * 3.6);
  
  position: absolute;
  top: 0;
  left: calc(var(--size) / 4);
  z-index: 5;
  
  width: var(--size);
  height: 100%;
  
  font-size: 0;
  transform: scaleX(0);
}

.filter__collapse:focus,
.filter__collapse:hover {
  outline: 0;
  
  .filter.is-fixed & ~ .filter__icon {
    stroke: var(--c-red);
  }
  
  .filter.is-fixed.is-active & ~ .filter__icon {
    stroke: var(--c-red);
  }
}

.filter.is-fixed .filter__collapse {
  transform: scaleX(1);
}

.filter__group {
  margin: 0;
  padding: 0;
  border: 0;
  
  align-items: center;
  transform: translateY(1px);

  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    margin-left: calc(var(--padding) * -1);
  }
}

.filter__icon {
  position: relative;

  display: flex;
  align-items: center;
  
  color: var(--c-black-second);
  fill: none;
  stroke: currentColor;
  
  will-change: width;
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    display: none;
  }
  
  svg {
    width: var(--icon-size);
    
    //noinspection CssInvalidMediaFeature
    @media screen and (--desktop-md) {
      height: auto;
    }
  }
  
  .icon-text {
    --tY: translateY(-50%);
    --tX: translateX(-10px);
    
    @include font-size-px($fz-text-sm);
    
    position: absolute;
    top: 50%;
    left: 35%;
    
    color: currentColor;
    opacity: 0;
    transform: var(--tY) var(--tX);
  }
  
  //outline: 1px solid deeppink;
  //&::after {
  //  content: "";
  //  position: absolute;
  //  top: 50%;
  //  left: 0;
  //  width: 350%;
  //  height: 1px;
  //  background-color: lightpink;
  //}
}

.filter__radio-wrapper {
  display: inline-block;
  margin: 0 var(--gap-item);
  
  &:first-of-type {
    //noinspection CssInvalidMediaFeature
    @media screen and (--tablet-sm) {
      margin-left: 0;
    }
  }
}

.filter__item {
  @include font-size-px($fz-text-16);

  position: relative;
  padding: var(--padding);
  
  font-weight: 600;
  text-transform: uppercase;
  
  opacity: 0.5;
  cursor: pointer;
  transition-property: opacity, color;
  transition-duration: var(--trans-dur-faster);
  transition-timing-function: ease-in;
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    font-size: 22px;
    
    transition-duration: 0s;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: calc(var(--padding) * 1.2);
    left: 50%;
    
    width: calc(100% - var(--padding) * 2);
    height: 1px;
    background-color: currentColor;
    
    transform-origin: 0 50%;
    transform: translateX(-50%) scale(0);
    
    transition: transform var(--trans-dur-faster) ease-in;
    
    //noinspection CssInvalidMediaFeature
    @media screen and (--tablet-sm) {
      bottom: calc(var(--padding) * 1.5);
      height: 2px;
    }
  }
  
  &:hover {
    &::after {
      transform: translateX(-50%) scale(1);
    }
  }
}

//.filter__radio:focus + .filter__item {}
.filter__radio:checked + .filter__item {
  color: var(--c-red) !important;
  opacity: 1;
  
  &::after {
    transform: translateX(-50%) scale(1);
  }
}

// ******
// АНИМАЦИЯ
// ******
.filter {
  --duration: var(--trans-dur-fast);
  --ease: ease-in;
  
  transition-property: transform, background-color;
  transition-duration: var(--duration);
}

.filter.is-fixed {
  transform: translateX(calc((var(--page-gap) + var(--margin-left)) * -1));
}

.filter.is-fixed.is-active {
  background-color: #131313;
}

.filter.is-fixed.is-active .filter__item {
  color: #fff;
}

.filter__icon {
  .filter.is-fixed & {
    width: calc(var(--page-gap));
  }
  
  .filter.is-fixed.is-active & {
    color: #fff;
  }
}

.filter__icon svg {
  transform-origin: 55% 40%;
  transition-property: transform, stroke;
  transition-duration: var(--duration);
  transition-timing-function: var(--ease);
  transform: rotate(0deg); // windows
  
  body.os-mac & {
    transform-origin: 58% 42%;
    transform: rotate(0deg) translateY(1px); // mac
  }

  .filter.is-fixed:not(.is-active) & {
    transform: rotate(-90deg);
  }
}

.filter__icon .icon-text {
  transition-property: transform, opacity, color;
  transition-duration: 0s;
  transition-timing-function: var(--ease);
  
  .filter.is-fixed & {
    --tX: translateX(0);
    --delay: var(--duration);
    opacity: 1;
    
    transition:
      transform var(--trans-dur-faster) var(--delay) var(--ease),
      opacity var(--trans-dur-faster) var(--delay) var(--ease),
      color var(--trans-dur-faster) var(--ease);
  }
}

.filter__group {
  transition-property: transform;
  
  .filter.is-fixed:not(.is-active) & {
    transition-delay: var(--duration);
    transform: scaleX(0) translateY(-1px);
  }
}

.filter__radio-wrapper {
  --duration: 0s;
  
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--ease);
  
  .filter.is-fixed:not(.is-active) & {
    opacity: 0;
    transform: translateX(-10px);
  }
  
  .filter.is-fixed.is-active & {
    --duration: var(--trans-dur-fast);
  }
}
