@use "../_config/index" as *;

.filter {
  --top: 90px;
  --margin-left: #{vw(-10)};
  // .filter__group
  --padding: 5px;
  --gap-item: calc((25px -  var(--padding) * 2 ) / 2);
  --icon-size: #{vw(16)};
  
  @include list-unstyled();
  
  grid-column: 1/8;
  
  position: sticky;
  top: var(--top);
  z-index: 100;
  
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: var(--margin-left);
  margin-bottom: vw(55);
  padding: vw(10) calc(#{vw(15)} - var(--gap-item)) vw(10) vw(15);
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    padding: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.filter__collapse {
  --size: calc(var(--icon-size) * 2);
  
  position: absolute;
  top: 0;
  left: calc(var(--size) / 4);
  z-index: 5;
  
  width: var(--size);
  height: 100%;
  
  font-size: 0;
  transform: scaleX(0);
}

.filter__collapse:focus,
.filter__collapse:hover {
  outline: 0;
  
  .filter.is-fixed & ~ .filter__icon {
    stroke: var(--c-red);
  }
  
  .filter.is-fixed.is-active & ~ .filter__icon {
    stroke: #fff;
  }
}

.filter.is-fixed .filter__collapse {
  transform: scaleX(1);
}

.filter__group {
  margin: 0;
  padding: 0;
  border: 0;
  
  align-items: center;
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    margin-left: calc(var(--padding) * -1);
  }
}

.filter__icon {
  fill: none;
  stroke: #000;
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    display: none;
  }
  
  svg {
    width: var(--icon-size);
  
    //noinspection CssInvalidMediaFeature
    @media screen and (--desktop-md) {
      height: auto;
    }
  }
}

.filter__radio-wrapper {
  display: inline-block;
  margin: 0 var(--gap-item);
  
  &:first-of-type {
    //noinspection CssInvalidMediaFeature
    @media screen and (--tablet-sm) {
      margin-left: 0;
    }
  }
}

.filter__item {
  @include font-size-vw($fz-text-16);
  
  position: relative;
  padding: var(--padding);
  
  font-weight: 600;
  text-transform: uppercase;
  
  opacity: 0.5;
  cursor: pointer;
  transition-property: opacity, color;
  transition-duration: var(--trans-dur-faster);
  transition-timing-function: ease-in;
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    font-size: 22px;
    
    transition-duration: 0s;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: calc(var(--padding) * 1.2);
    left: 50%;
    transform: translateX(-50%);
  
    width: calc(100% - var(--padding) * 2);
    height: 1px;
    background-color: currentColor;
  
    //noinspection CssInvalidMediaFeature
    @media screen and (--tablet-sm) {
      bottom: calc(var(--padding) * 1.5);
      height: 2px;    }
  }
  
  &:hover {
    color: var(--c-red);
  }
}

//.filter__radio:focus + .filter__item {}
.filter__radio:checked + .filter__item {
  opacity: 1;
}

// ******
// АНИМАЦИЯ
// ******
.filter {
  --duration: 0.4s;
  --ease: ease-in;
  
  transition-property: transform, background-color;
  transition-duration: var(--duration);
}

.filter.is-fixed {
  transform: translateX(calc((var(--page-gap) + var(--margin-left)) * -1 ));
}

.filter.is-fixed.is-active {
  background-color: var(--c-red);
}

.filter.is-fixed.is-active .filter__item:hover {
  color: #fff;
}

.filter__icon {
  transition-property: transform, stroke;
  transition-duration: var(--duration);
  transition-timing-function: var(--ease);
  transform: rotate(0deg);
  
  .filter.is-fixed:not(.is-active) & {
    transform: rotate(90deg);
  }
}

.filter__group {
  transition-property: transform;
  
  .filter.is-fixed:not(.is-active) & {
    transition-delay: var(--duration);
    transform: scaleX(0);
  }
}

.filter__radio-wrapper {
  --duration: 0.2s;
  
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--ease);
  
  .filter.is-fixed:not(.is-active) & {
    opacity: 0;
    transform: translateX(-10px);
  
    &:nth-of-type(3) {
      // transition-delay: calc(var(--duration) * 0); // 0
    }
  
    &:nth-of-type(2) {
      // transition-delay: calc(var(--duration) * 0.2);
    }
  
    &:nth-of-type(1) {
      // transition-delay: calc(var(--duration) * 0.4);
    }
  }
}
