@use "../_config/index" as *;

.js-img-hover {
  --size: #{vw(260)};
  
  //position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  pointer-events: none;
  opacity: 0;
}

.js-img-hover__img {
  position: absolute;
  width: var(--size);
  height: auto;
}
