@use "../_config/index" as *;

.page-blog {
  position: relative;
}

.page-blog__wrap {
  @include wrap();
}

.page-blog__title {
  width: vw(382);
  margin-bottom: vw(32);
  color: var(--c-black-second);
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    width: vw(382, $mobile-viewport);
    margin-bottom: 42px;
  }
}

.page-blog__content {
  @include grid(12);
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    display: block;
  }
}

.page-blog__articles {
  @include grid(7);
  
  grid-column: 1/8;
  
  //noinspection CssInvalidMediaFeature
  @media screen and (--tablet-sm) {
    display: block;
  }
}
