<main class="main">
	@include('../common/sections/s1-top.html',{
	"class": "top--smm",
	"title": "SMM",
	"titleMini": "продвижение",
	"descr": "<p>Комплексное ведение социальных сетей:</p>\<ul>\<li>Упаковка профиля</li>\<li>Посты и сторис</li>\<li>Таргетированная реклама</li>\</ul>",
	"quantity1": "14",
	"text1": "Лет экспертизы на рынке",
	"quantity2": "500+",
	"text2": "Выполненных проектов",
	"quantity3": "70+",
	"text3": "на постоянном продвижении",
	"img": "herro-bg-smm.png",
	"alt": "Пример дизайна интеренет-магазина",
	"cover": "0",
	"descrBigMargin": "1",
	})

	@include('./s1-smm-suits.html',{})

	@include('./s2-benefits.html',{})

	@include('./s3-smm-social.html',{})

	@include('./s4-composition.html',{})

	@include('./s6-scheme-work.html',{})

	@include('./s12-cases.html',{})

	@include('../common/sections/s7-reviews.html',{})

	@include('./s7-services.html',{})

	@include('../common/sections/s4-clients.html',{})

	@include('../common/sections/s5-founder.html',{})

	@include('../common/sections/s6-applicants.html',{})
</main>