@use "../functions" as fn;

@mixin grid-base($col, $colSize: 1fr, $rowSize: 1fr) {
  display: grid;
  grid-template-columns: repeat($col, minmax(10px, $colSize));
  //grid-template-rows: repeat($row, $rowSize);
  column-gap: fn.vw(20);
  padding: 0 fn.vw(100);
  
  // FIXME: only dev
  //@for $i from 1 through 12 {
  //  & > *:nth-child(#{$i}) {
  //    background-color: rgba(random(255), random(255), random(255), 0.3);
  //  }
  //}
}

@mixin grid($col, $row: 1, $colSize: 1fr, $rowSize: 1fr) {
  display: grid;
  grid-template-columns: repeat($col, minmax(10px, $colSize));
  grid-template-rows: repeat($row, minmax(10px, $rowSize));
  column-gap: fn.vw(20);
  
  // FIXME: only dev
  //@for $i from 1 through 12 {
  //  & > *:nth-child(#{$i}) {
  //    background-color: rgba(random(255), random(255), random(255), 0.3);
  //  }
  //}
}
