//@use "sass:math";
@use "../functions/index" as fn;

$adaptive-mod: 1.5;

// px to vw/em
@mixin font-size($font-size, $line-height: $font-size) {
  --fz: #{fn.vw($font-size)};
  //font-size: fn.vw($font-size);
  //font-size: calc(1rem + #{fn.vw($font-size - 16)});
  //font-size: calc(1rem + #{fn.vw($font-size)});
  //font-size: calc(#{fn.rem($font-size)} + 0.1vw);
  //font-size: calc(1rem + 0.5vw);
  //font-size: calc(1rem + (var(--fz)) - 1rem);
  line-height: fn.em($line-height, $font-size);
  
  @supports (width: clamp(10px, 5vw, 100vw)) {
    /* An enhancement for supporting browsers */
    font-size: clamp(#{fn.rem($font-size - 4)}, calc(#{fn.vw($font-size)}), #{fn.rem($font-size)});
  
    @media screen and (--desktop-sm) {
      font-size: clamp(#{fn.rem($font-size - 6)}, calc(#{fn.vw($font-size - 2, 1260)}), #{fn.rem($font-size)});
    }
  }
}

@mixin font-size-new($font-size, $line-height: $font-size) {
  --fz: #{fn.vw($font-size)};
  //font-size: fn.vw($font-size);
  //font-size: calc(1rem + #{fn.vw($font-size - 16)});
  //font-size: calc(1rem + #{fn.vw($font-size)});
  //font-size: calc(#{fn.rem($font-size)} + 0.1vw);
  //font-size: calc(1rem + 0.5vw);
  //font-size: calc(1rem + (var(--fz)) - 1rem);
  line-height: fn.em($line-height, $font-size);
  
  @supports (width: clamp(10px, 5vw, 100vw)) {
    /* An enhancement for supporting browsers */
    font-size: clamp(#{fn.rem($font-size - 6)}, calc(#{fn.vw($font-size - 2, 1260)}), #{fn.rem($font-size)});
    
    @media (--xl) {
      font-size: clamp(#{fn.rem($font-size - 4)}, calc(#{fn.vw($font-size)}), #{fn.rem($font-size)});
    }
  }
}

@mixin font-size-px($font-size, $line-height: $font-size) {
  font-size: $font-size * 1px;
  line-height: fn.em($line-height, $font-size);
}

@mixin font-size-vw($font-size, $line-height: $font-size) {
  font-size: fn.vw($font-size);
  line-height: fn.em($line-height, $font-size);
}

@mixin font-size-rem($font-size, $line-height: $font-size) {
  font-size: fn.rem($font-size);
  line-height: fn.em($line-height, $font-size);
}

@mixin outline-text($color: inherit, $width: 1px) {
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $color;
  -webkit-text-fill-color: rgba(#fff, 0);
}

@mixin hide-text() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
