<section class="raiting">
	<div class="raiting__container container">
		<div class="raiting__body">
			<ul class="raiting__list">
				<div class="raiting__badge">
					<img src="images/logo-white.svg" alt="Логотип">
				</div>
				<li class="raiting__row">
					<span class="raiting__quantity">14</span>
					<span class="raiting__definition">Лет на рынке</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">500+</span>
					<span class="raiting__definition">Выполненных проектов</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">70+</span>
					<span class="raiting__definition">проектов на ежемесячном продвижении</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">160+</span>
					<span class="raiting__definition">настроенных рекламных кампаний</span>
				</li>

				<li class="raiting__row">
					<span class="raiting__quantity">25+</span>
					<span class="raiting__definition">штатных специалистов</span>
				</li>
			</ul>

			<div class="raiting__info">
				<h2 class="raiting__title">Входим в<span>топ-100</span><span>Рейтинг Рунета</span></h2>
				<div class="raiting__descr">
					<p> среди <span class="text-orange">6000</span> компаний <span class="text-bold">(76 место)</span> в рейтинге разработчиков интернет-магазинов в среднем ценовом сегменте за 2020 год</p>
				</div>
				<a class="raiting__link" href="#">(ссылка на рейтинг)</a>
			</div>

			<ul class="raiting__bottom">
				<li class="raiting__item raiting__item--bitrix">
					<div class="raiting__text">
						<p>Битрикс "сертифицированный партнёр"</p>
						<p>Битрикс Сертификат «Программы мониторинга качества внедрений 2018 год»</p>
					</div>
				</li>

				<li class="raiting__item raiting__item--young">
					<div class="raiting__text">
						<p>Победитель конкурса молодой предприниматель года в Хабаровском крае в номинации "Интернет предпринимательство" 2021</p>
					</div>
				</li>

				<li class="raiting__item raiting__item--entrepreneur">
					<div class="raiting__text">
						<p>Предприниматель года в сфере информационных технологий Хабаровского края за 2012 год.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>