<main class="page-about">
  <include src="components/pages/about/hero.html"></include>
  <include src="components/pages/about/team.html"></include>
  <include src="components/pages/about/awards.html"></include>
  <include src="components/pages/about/founder.html"></include>
  <include src="components/pages/about/meetups.html"></include>
  <include src="components/pages/about/reviews.html"></include>
  <include src="components/pages/about/clients.html"></include>
  <include src="components/pages/about/brief.html"></include>
</main>
