<section class="brief">
  <div class="brief__bg"></div>

  <h2 class="brief__title">
    Нe стесняйся,<br />
    давай работать вместе!
  </h2>

  <p class="brief__text">
    <a href="" class="link link--orange link--no-icon"
      ><span class="link__text">Оставьте заявку</span></a
    >
    в форме обратной связи, и наши менеджеры обязательно свяжутся с вами в
    ближайшее время.
  </p>

  <div class="brief-contacts">
    <div class="menu-contact">
      <div class="menu-contact__name">
        <div class="marquee">
          <span class="marquee__item">задай вопрос</span>
          <span class="marquee__item">задай вопрос</span>
        </div>
      </div>
      <div class="menu-contact__link">
        <a class="link link--bolder link--uppercase link--underline" href="">
          <span class="link__text">Оставь заявку</span>
          <span class="link__icon">
            <svg class="link__arrow" width="12" height="12" aria-hidden="true">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="menu-contact <md:hidden">
      <div class="menu-contact__name">
        <div class="marquee">
          <span class="marquee__item">скажи привет</span>
          <span class="marquee__item">скажи привет</span>
        </div>
      </div>
      <div class="menu-contact__link">
        <a
          class="link link--bolder link--uppercase link--underline site-tel"
          href="tel:++74212529102"
        >
          <span class="link__text">+7 (4212) 52-91-02</span>
          <span class="link__icon">
            <svg class="link__arrow" width="12" height="12" aria-hidden="true">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
