<section class="clients">
  <p class="clients__text">
    Мы работаем с большим и маленьким бизнесом
    <span class="text-sun">по всей России</span> и за её пределами. Мы любим
    предпринимателей и людей нацеленных на результат и развитие!
  </p>

  <div class="clients__line"></div>

  <div class="clients-list">
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-1.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-2.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-3.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-4.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-5.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-6.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-7.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-8.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-9.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-10.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-11.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-12.png')"
      aria-label="Название клиента."
    ></div>
    <div
      class="clients-list__item"
      style="--img: url('/images/about/__dev-client-13.png')"
      aria-label="Название клиента."
    ></div>
  </div>
</section>
