<section class="meetups lg:grid lg:grid-cols-12 lg:gap-x-$base-gap">
  <p class="meetups__text lg:col-span-5 lg:col-start-2">
    Мы регулярно проводим обучение бизнес-сообществ по
    <span class="text-sun">интернет-маркетингу</span> и управлению вместе с
    нашими постоянными партнерами
  </p>

  <div class="meetups__bg"></div>

  <div class="meetups__partners lg:col-span-5 lg:col-start-7">
    <div class="meetups-partner">
      <div class="meetups-partner__img meetups-partner__img--visotsky"></div>
      <p class="meetups-partner__text">
        Visotsky Consulting - консалтинговая компания №1 по количеству
        внедренных инструментов управления в малом и среднем бизнесе СНГ.
      </p>
      <a
        href="https://visotsky.com"
        class="
          meetups-partner__link
          link link--bold link--underline link--orange
        "
      >
        <span class="link__text">visotsky.com</span>
        <span class="link__icon">
          <svg class="link__arrow" width="12" height="12">
            <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
          </svg>
        </span>
      </a>
    </div>

    <div class="meetups-partner">
      <div class="meetups-partner__img meetups-partner__img--bbooster"></div>
      <p class="meetups-partner__text">
        Business Booster — это онлайн-программа по внедрению универсальных
        инструментов и технологий управления компанией.
      </p>
      <a
        href="https://bbooster.online"
        class="
          meetups-partner__link
          link link--bold link--underline link--orange
        "
      >
        <span class="link__text">bbooster.online</span>
        <span class="link__icon">
          <svg class="link__arrow" width="12" height="12">
            <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
