<section class="recruit">
  <div class="md:hidden">
    <p class="recruit__text">
      Даже если ты в другом городе не стесняйся
      <a
        href=""
        class="link link--orange link--underline link--bold link--no-icon"
        ><span class="link__text">отправь резюме!</span></a
      >
    </p>

    <div class="recruit__bg"></div>

    <span class="recruit__tagline">Будь частью команды</span>
  </div>

  <div
    class="
      hidden
      md:block
      xl:grid
      xl:grid-cols-[minmax(0,1fr)minmax(0,auto)]
      xl:gap-x-10
      xl:items-center
      xl:justify-between
      2xl:grid-cols-[950px,1fr]
    "
  >
    <div class="subscribe-banner--static relative">
      <div class="subscribe-banner-block">
        <div
          class="relative z-10 flex items-center justify-center h-full bg-black"
        >
          <div class="subscribe-banner-block__icon"></div>
        </div>

        <div
          class="
            grid grid-flow-col
            items-center
            gap-x-80px
            bg-sun
            transform
            -translate-x-full
            lg:gap-x-120px lg:px-10
            2xl:pl-90px 2xl:pr-50px
            js-banner
          "
        >
          <span
            class="tracking-wide font-light text-xl lg:text-28px lg:leading-8"
            >Даже если ты в другом городе не стесняйся,
            <a href="" class="link link--underline link--bold link--no-icon"
              ><span class="link__text text-white">отправь резюме!</span></a
            >
          </span>

          <div class="subscribe-banner-block__submit w-min" type="submit">
            <svg class="w-16 h-16 lg:w-19 lg:h-19" width="66" height="66">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="recruit__bg-block">
      <span class="recruit__tagline">Будь частью команды</span>
    </div>
  </div>
</section>
