@use "sass:math";

$default-font-size: 16;
$default-viewport: 1920;
$mobile-viewport: 375;
$default-viewport-height: 950;

@function em($px, $font-size: $default-font-size) {
  // если высчитываем line-height от rem
  @if $font-size != $default-font-size {
    @return math.div($px, $font-size) * 1em;
  }

  @return math.div($px, $default-font-size) * 1em;
}

@function rem($px) {
  @return math.div($px, $default-font-size) * 1rem;
}

@function vw($size, $viewport: $default-viewport) {
  $vw: $viewport * 0.01;
  @return math.div($size, $vw) * 1vw;
}
@function vh($size, $viewport: $default-viewport-height) {
  $vh: $viewport * 0.01;
  @return math.div($size, $vh) * 1vh;
}
