<section class="our-help">
	<div class="our-help__container container">
		<h2 class="our-help__title">Мы <span class="text-hidden">действительно</span> <span class="text-orange">помогаем пройти</span> через такую сложную штуку, как интернет-магазин</h2>

		<div class="our-help__body">
			<div class="our-help__text">
				<p>Мы знаем, насколько <span>сложным</span> может быть <span>процесс создания</span> чего-либо <span>нового</span> на совершенно незнакомой площадке. Мы стараемся помочь нашим клиентам даже в их бизнес-процессах.</p>
			</div>

			<ul class="our-help__list">
				<li class="our-help__item">
					<p>Мы расписываем для клиента <span>подробный план</span></p>
				</li>

				<li class="our-help__item">
					<p>Рекомендуем <span>партнеров</span></p>
				</li>

				<li class="our-help__item">
					<p>Помогаем с настройкой <span>вашей 1С</span></p>
					<span>(если необходимо, то создаём специально под сайт)</span>
				</li>

				<li class="our-help__item">
					<p>Помогаем в <span>настройке выгрузки</span></p>
				</li>

				<li class="our-help__item">
					<p>Думаем наперед и говорим, какие <span>бизнес процессы</span> должен продумать наш клиент</p>
				</li>

				<div class="our-help__arrow">
					<svg>
						<use xlink:href="images/sprite.svg#arrow-mouse"></use>
					</svg>
				</div>
			</ul>
		</div>
	</div>
</section>