<div class="gdpr-cookie">
  <div class="grid gap-4 md:grid-cols-fillAuto md:items-center md:gap-14">
    <div>
      <h2 class="mb-2 text-sm uppercase lg:text-base">
        Политика обработки cookie файлов
      </h2>
      <p class="text-xs lg:text-sm">
        Наш сайт использует cookie-файлы. Это помогает нам быть лучше и полезнее
        для вас. Узнать о том, как работают эти файлы
        <a href="" class="link link--orange link--underline-md link--no-icon"
          ><span class="link__text font-medium">можно здесь</span></a
        >! После того, как вы нажмёте кнопку
        <span class="text-sun font-medium">«принять»</span> это окно не будет
        вас беспокоить.
      </p>
    </div>

    <button class="gdpr-cookie__accept" type="button">
      <svg fill="none" viewBox="0 0 11 10" aria-hidden="true">
        <path
          fill="currentColor"
          d="M9.706 10H0V0h7.441v1H.971v8h8.088V5.333h.97V10h-.323Z"
        />
        <path
          fill="currentColor"
          d="m1.81 5.027.731-.753 2.193 2.26 5.533-5.7.732.75L4.734 8.04 1.811 5.027Z"
        />
      </svg>
      Принять
    </button>
  </div>
</div>
