<div class="page-preloader" aria-hidden="true">
  <header class="page-header page-header--preloader">
    <div class="page-header__wrap">
      <span class="page-header__logo">
        <svg width="38" height="21" aria-hidden="true">
          <use xlink:href="/images/sprite.symbol.svg#logo"></use>
        </svg>
      </span>
      <button class="menu-btn">
        <svg class="menu-btn__icon" width="16" height="13" aria-hidden="true">
          <use xlink:href="/images/sprite.symbol.svg#icon-dash-cursor"></use>
        </svg>
        <span class="menu-btn__progress">
          <span>.</span><span>.</span><span>.</span><span>.</span>
        </span>
      </button>
    </div>
  </header>

  <span class="page-preloader__arrow">
    <svg width="12" height="12">
      <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
    </svg>
  </span>
</div>
