<div class="hidden lg:block subscribe-banner fixed bottom-8 right-8 z-20">
  <button class="subscribe-banner-btn w-11 h-16">
    <span class="subscribe-banner-btn__img opacity-70"></span>
    <span class="subscribe-banner-btn__img"></span>
  </button>

  <div class="subscribe-banner-block">
    <div class="flex items-center justify-center h-full bg-black">
      <svg
        class="subscribe-banner-block__icon-fire w-9 h-14 transition-colors"
        viewBox="0 0 39 57"
        fill="transparent"
      >
        <path
          stroke="#ff5000"
          d="M10.263 57c-6.316-20.88 7.029-28.503 7.029-28.503-.934 11.141 5.377 19.82 5.377 19.82 2.321-.702 6.751-3.985 6.751-3.985 0 3.986-2.337 12.662-2.337 12.662s8.183-6.347 10.759-16.89c2.573-10.544-4.9-21.129-4.9-21.129a28.329 28.329 0 01-6.997 20.41c.247-.286.454-.604.613-.948.886-1.777 2.308-6.396 1.475-17.091C26.861 6.33 13.301 0 13.301 0c1.168 9.148-2.336 11.256-10.546 28.62C-5.455 45.981 10.263 57 10.263 57z"
        />
      </svg>
    </div>

    <span class="tracking-wide"
      >С тебя подписка на нашу рассылку, а с нас доступ к нашим секретным
      лекциям с кучей инсайтов по темам!</span
    >

    <form
      class="grid gap-5 w-64 justify-self-end"
      action="/subscribe"
      novalidate
    >
      <div class="relative grid grid-cols-fillAuto gap-2.5 items-start">
        <div class="form-field relative grid gap-2">
          <label class="sr-only" for="subscribe-banner-email"
            >Электронная почта</label
          >
          <input
            class="
              subscribe-banner-block__input
              pb-2.5
              text-sm
              font-light
              tracking-wide
              bg-transparent
              border-b border-black
              placeholder-black
              focus:outline-none
              hover:border-white
              focus:border-white
              transition-colors
            "
            type="email"
            name="email"
            id="subscribe-banner-email"
            autocomplete="email"
            placeholder="Сюда имейлик позязя"
            required
          />
          <span
            class="
              form-field__error
              absolute
              -bottom-5
              text-white text-xs
              font-light
              tracking-wide
            "
            >*это поле необходимо заполнить</span
          >
        </div>

        <button
          class="subscribe-banner-block__success link hidden"
          type="button"
        >
          <span class="link__text">СПАСИБО! ещё разок?</span>
        </button>

        <button class="w-min" type="submit">
          <span class="sr-only">Отправить</span>
          <svg class="w-7 h-7" width="66" height="66">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
