<article class="subscribe-block px-5 py-8 bg-sun">
  <div class="grid grid-cols-subscribe gap-7">
    <form class="grid gap-5" action="/subscribe" novalidate>
      <h2 class="pr-9 text-lg font-semibold text-white text-justify uppercase">
        Подпишитесь на нашу рассылку
      </h2>
      <span class="pr-9 text-sm font-light text-justify tracking-wide"
        >Получи доступ к нашей видео базе знаний с семинаров!</span
      >
      <div class="grid grid-cols-fillAuto gap-2.5 items-start">
        <div class="form-field grid gap-2">
          <label class="sr-only" for="subscribe-email">Электронная почта</label>
          <input
            class="
              subscribe-block__input
              pb-2.5
              text-md
              font-light
              tracking-wide
              bg-transparent
              border-b border-black
              rounded-none
              placeholder-black
              focus:outline-none
              transition-colors
            "
            type="email"
            name="email"
            id="subscribe-email"
            autocomplete="email"
            placeholder="Сюда имейлик позязя"
            required
          />
          <span
            class="
              form-field__error
              text-white text-xs
              font-light
              tracking-wide
              js-text
            "
            data-message="спасибо за подписку!"
            >*это поле необходимо заполнить</span
          >
        </div>

        <button class="w-min" type="submit">
          <span class="sr-only">Отправить</span>
          <svg class="w-7 h-7" width="66" height="66">
            <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </form>
    <div class="relative">
      <div class="absolute w-44 h-44">
        <div class="subscribe-block__image"></div>
        <div class="subscribe-block__text"></div>
      </div>
    </div>
  </div>
</article>
