<section class="wysiwyg-layouts">
  <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="wysiwyg-layouts__img-wrapper js-lightbox">
    <img
      class="wysiwyg-layouts__img"
      src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg"
      srcset="
        https://mir-s3-cdn-cf.behance.net/project_modules/disp/926592113126399.6021b5d487f9c.jpg        600w,
        https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/926592113126399.6021b5d487f9c.jpg   1200w,
        https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/926592113126399.6021b5d487f9c.jpg 1400w,
        https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg         1920w,
        https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/926592113126399.6021b5d487f9c.jpg 2800w
      "
      alt="Описание изображения."
    />
  </a>
  <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="wysiwyg-layouts__img-wrapper js-lightbox">
    <img
      class="wysiwyg-layouts__img"
      src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg"
      srcset="
        https://mir-s3-cdn-cf.behance.net/project_modules/disp/9d125896452467.5eaeecde7aee6.jpg        600w,
        https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9d125896452467.5eaeecde7aee6.jpg   1200w,
        https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9d125896452467.5eaeecde7aee6.jpg 1400w,
        https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg         1920w
      "
      alt="Описание изображения."
    />
  </a>
  <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="wysiwyg-layouts__img-wrapper js-lightbox">
    <img
      class="wysiwyg-layouts__img"
      src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg"
      srcset="
        https://mir-s3-cdn-cf.behance.net/project_modules/disp/926592113126399.6021b5d487f9c.jpg        600w,
        https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/926592113126399.6021b5d487f9c.jpg   1200w,
        https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/926592113126399.6021b5d487f9c.jpg 1400w,
        https://mir-s3-cdn-cf.behance.net/project_modules/fs/926592113126399.6021b5d487f9c.jpg         1920w,
        https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/926592113126399.6021b5d487f9c.jpg 2800w
      "
      alt="Описание изображения."
    />
  
  <a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg" aria-label="Увеличить изображение." class="wysiwyg-layouts__img-wrapper js-lightbox">
    <img
      class="wysiwyg-layouts__img"
      src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg"
      srcset="
        https://mir-s3-cdn-cf.behance.net/project_modules/disp/9d125896452467.5eaeecde7aee6.jpg        600w,
        https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9d125896452467.5eaeecde7aee6.jpg   1200w,
        https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9d125896452467.5eaeecde7aee6.jpg 1400w,
        https://mir-s3-cdn-cf.behance.net/project_modules/fs/9d125896452467.5eaeecde7aee6.jpg         1920w
      "
      alt="Описание изображения."
    />
  </a>
</section>