<section class="wysiwyg-feedback-block">
  <div class="wysiwyg-feedback-block__bg"></div>

  <h2 class="wysiwyg-feedback-block__title">
    Заказать <span class="text-sun">SEO Продвижение</span> Вы можете у нас!
  </h2>

  <p class="wysiwyg-feedback-block__text">
    <button
      class="link link--orange link--no-icon js-dialog-form-open"
      type="button"
    >
      <span class="link__text">Оставьте заявку</span>
    </button>
    в форме обратной связи, и наши менеджеры обязательно свяжутся с вами в
    ближайшее время.
  </p>

  <div class="wysiwyg-feedback-block-contacts">
    <div class="menu-contact">
      <div class="menu-contact__name">
        <div class="marquee">
          <span class="marquee__item">задай вопрос</span>
          <span class="marquee__item">задай вопрос</span>
        </div>
      </div>
      <div class="menu-contact__link">
        <button
          class="
            link link--bolder link--uppercase link--underline
            js-dialog-form-open
          "
          type="button"
        >
          <span class="link__text">Оставь заявку</span>
          <span class="link__icon">
            <svg class="link__arrow" width="12" height="12" aria-hidden="true">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
    <div class="menu-contact <md:hidden">
      <div class="menu-contact__name">
        <div class="marquee">
          <span class="marquee__item">скажи привет</span>
          <span class="marquee__item">скажи привет</span>
        </div>
      </div>
      <div class="menu-contact__link">
        <a
          class="link link--bolder link--uppercase link--underline site-tel"
          href="tel:++74212529102"
        >
          <span class="link__text">+7 (4212) 52-91-02</span>
          <span class="link__icon">
            <svg class="link__arrow" width="12" height="12" aria-hidden="true">
              <use xlink:href="/images/sprite.symbol.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
