<section class="contextual-descr">
	<div class="contextual-descr__container container">
		<h2 class="contextual-descr__title title-mini"><span>Контекстная реклама</span> - это …</h2>

		<ul class="contextual-descr__list">
			<li class="contextual-descr__item">Заинтересованные пользователи сайта, готовые купить товар</li>
			<li class="contextual-descr__item">Быстрое получение заявок сразу после запуска </li>
			<li class="contextual-descr__item">Тонкая настройка под вашу аудиторию: регион продвижения, время, и тд</li>
			<li class="contextual-descr__item">Оплата рекламы за переход на сайт, а не за показ</li>
			<li class="contextual-descr__item">Возможность продвигать любой сайт: от лендинга до интернет-магазина</li>
			<li class="contextual-descr__item">Прогнозируемая стоимость заявки до начала работ (об этом подробнее)</li>
		</ul>

		<button class="contextual-descr__btn" type="button">Бесплатная консультация</button>
	</div>
</section>