<section class="benefits">
	<div class="benefits__container container">
		<h2 class="benefits__title title-mini">Почему запуск рекламы
			нужно доверить <span>Web Alternative?</span></h2>

		<ul class="benefits__list">
			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-1"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Не даем пустых обещаний</h3>
					<p class="benefits__descr">Мы берем в работу проекты, где уверены в успехе на 100% и не будем давать обещания, которые невозможно воплотить.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-2"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Кейсы с реальными цифрами</h3>
					<p class="benefits__descr">Открыто говорим о тех, с кем сотрудничаем (кроме тех, кто подписал NDA). Ознакомьтесь с кейсами и отзывами ниже.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-3"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Не получаем комиссию от систем</h3>
					<p class="benefits__descr">Мы не партнеры Яндекса. И не получаем комиссию от потраченного вами бюджета.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-4"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Решаем задачи в комплексе</h3>
					<p class="benefits__descr">Вдобавок к контекстной рекламе производим аудит сайта, при необходимости делаем новый сайт под рекламу.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-5"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Одна ниша - один клиент в регионе</h3>
					<p class="benefits__descr">Мы берем в работу одного клиента в одном регионе. Ни за какие деньги не соглашаемся работать с конкурентами в узких нишах и маленьких городах.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-6"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Прозрачность отношений</h3>
					<p class="benefits__descr">У вас всегда будут доступы к рекламным кабинетам. Мы уверены в своей работе!</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-7"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Отслеживаем все ваши заявки</h3>
					<p class="benefits__descr">Подключаем коллтрекинг, системы сквозной аналитики.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-8"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Стартуем быстро</h3>
					<p class="benefits__descr">Качественная настройка займет от 7 дней. Срочная настройка от 4 дней. Первые заявки не заставят себя ждать.</p>
				</div>
			</li>
		</ul>

		<div class="benefits__inner">
			<div class="benefits__text">
				<h3 class="benefits__subtitle">Мы являемся сертифицированными специалистами контекстной реклам <span>Яндекс</span> и <span>Google</span></h3>
				<div class="benefits__subdescr">
					<p>Однако, мы не являемся участниками партнёрской программы Яндекс и не получаем комиссионых от ваших бюджетов. Мы работаем честно за фиксированную стоимость.</p>
				</div>
			</div>

			<div class="benefits__img" style="background-image: url('images/benefits-bg.png');"></div>
		</div>
	</div>
</section>