@use "../_config" as *;

.awards-stats {
  grid-column: 1/3;
  
  @media screen and (--tablet-sm) {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 215px;
  }
  
  &::after {
    content: none;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    width: 154px;
    height: 268px;
    
    @media screen and (--tablet-sm) {
      @include bg-img("../images/awards-cup.svg");
      content: "";
    }
  }
  
  &__item {
    margin-bottom: vw(40);
  
    @media screen and (--tablet-sm) {
      position: relative;
      z-index: 2;
      margin-bottom: 36px;
    }
    
    &:last-child {
      @media screen and (--tablet-sm) {
        text-align: right;
        margin-bottom: 0;
      }
    }
  }
  
  &__wrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__number,
  &__text {
    display: block;
  }
  
  &__number {
    @include font-size(100, 90);
    color: var(--c-red);
    font-weight: 600;
  
    @media screen and (--tablet-sm) {
      font-size: 88px;
    }
  }
  
  &__text {
    @include font-size($fz-text-sm, 18);
    font-weight: 300;
    text-transform: lowercase;
  
    @media screen and (--tablet-sm) {
      font-size: $fz-text-16 * 1px;
    }
  }
}

.awards-agima {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  
  @media screen and (--tablet-sm) {
    display: none;
  }
}

.awards-agima__img {
  @include bg-img("../images/agima-logo.png");
  
  position: sticky;
  top: 100px;
  width: vw(108);
  height: vw(168);
  
  // FIXME: заменить изображение и удалить свойство
  transform: scaleX(-1);
}

.awards-list-bg {
  --size: #{vw(190)};
  //noinspection CssUnknownTarget
  --image: url("../images/awards-image-1.png");
  
  @include bg-img("../images/awards-bg-grid.svg");
  
  position: absolute;
  left: calc(#{vw(-164)} - var(--size));
  width: var(--size);
  height: var(--size);
  
  @media screen and (--tablet-sm) {
    display: none;
  }
  
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 100%;
  }
  
  &__image {
    display: none;
    width: 100%;
    height: 100%;
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
  }
}

.awards-list {
  --color: var(--c-black-second);
  --icon-scale: scaleY(1);
  
  margin-bottom: vw(30);
  
  @media screen and (--tablet-sm) {
    margin-bottom: 10px;
  }
  
  &[data-hidden=false] {
    --color: var(--c-red);
    --icon-scale: scaleY(0);
  }
  
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: vw(30);
    cursor: pointer;
    
    @media screen and (--tablet-sm) {
      margin-bottom: 20px;
    }
    
    &:hover {
      --color: var(--c-red);
      --icon-scale: scaleY(0);
    }
  }
  
  &__count,
  &__title,
  &__icon {
    flex-shrink: 0;
  }
  
  &__count,
  &__title {
    font-size: vw(14);
  }
  
  &__count {
    margin-right: vw(5);
    font-weight: 300;
    letter-spacing: 0.1em;
    opacity: 0.5;
    
    @media screen and (--tablet-sm) {
      margin-right: em(5, 12);
      font-size: 12px;
    }
  }
  
  &__title,
  &__icon::before,
  &__icon::after {
    transition: var(--trans-dur-fast) ease;
    transition-property: color, background-color, transform;
  }
  
  &__title {
    flex-grow: 2;
    color: var(--color);
    text-transform: uppercase;
    
    @media screen and (--tablet-sm) {
      font-size: $fz-text-md * 1px;
    }
  }
  
  &__icon {
    --size: #{vw(19)};
    
    position: relative;
    width: var(--size);
    height: var(--size);
    margin-left: 10px;
    
    @media screen and (--tablet-sm) {
      --size: #{14px};
    }
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: var(--color);
    }
    
    &::before {
      top: calc(var(--size) / 2);
      left: 0;
      width: 100%;
      height: vw(1);
      
      @media screen and (--tablet-sm) {
        height: 1px;
      }
    }
    
    &::after {
      top: 0;
      left: calc(var(--size) / 2);
      width: vw(1);
      height: 100%;
      transform: var(--icon-scale);
      
      @media screen and (--tablet-sm) {
        width: 1px;
      }
    }
  }
  
  &__btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    &:focus ~ .awards-list__title {
      --color: var(--c-red);
    }
  }
  
  ul {
    @include list-unstyled();
    @include font-size($fz-text-sm, 18);
    
    max-height: 0;
    overflow: hidden;
    
    padding-left: vw(24);
    font-weight: 300;
    
    @media screen and (--tablet-sm) {
      padding-left: 20px;
      font-size: 10px;
    }
    
    li {
      --space-bottom: #{vw(15)};
  
      position: relative;
      margin-bottom: var(--space-bottom);
      padding-bottom: var(--space-bottom);
      
      @media screen and (--tablet-sm) {
        --space-bottom: #{10px};
      }
      
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(#000, 0.2);
      }
      
      &:last-of-type {
        &::after {
          content: none;
        }
      }
    }
  }
}

