@use "../_config" as *;

.block {
  --col-title: 1/6;
  --col-list: 1/5;
  --col-describe: 6/8;
  --title-pd-r: #{vw(70)};
  --title-pd-l: 0;
  --title-pd-t: #{vw(176)};
  --describe-pd-t: #{vw(132)};
  --text-bg: #000;
  
  @include grid-base(12);
  
  position: relative;
  overflow: hidden;
  
  &--reverse {
    --col-title: 3/8;
    --col-list: 4/8;
    --col-describe: 1/3;
    --title-pd-r: 0;
    --title-pd-l: #{vw(60)};
  }
  
  &--dev {
    --bg-w: #{vw(710)};
    --bg-h: #{vw(678)};
    --bg-pos: #{vw(-200)};
    
    @media screen and (--tablet-sm) {
      --bg-w: #{vw(360, $mobile-viewport)};
      --bg-h: #{vw(344, $mobile-viewport)};
      --bg-pos: #{vw(-185, $mobile-viewport)};
    }
  }
  
  &--seo,
  &--design {
    --text-color: inherit;
  }
  
  &--seo {
    --title-pd-t: #{vw(150)};
    --describe-pd-t: #{vw(206)};
    --bg-w: #{vw(582)};
    --bg-h: #{vw(600)};
    --bg-pos: #{vw(-80)};
    
    color: var(--text-color);
    
    @media screen and (--tablet-sm) {
      --bg-w: #{vw(360, $mobile-viewport)};
      --bg-h: #{vw(360, $mobile-viewport)};
      --bg-pos: #{vw(-180, $mobile-viewport)};
    }
  }
  
  &--design {
    --title-pd-t: #{vw(270)};
    --describe-pd-t: #{vw(198)};
    --bg-w: #{vw(550)};
    --bg-h: #{vw(812)};
    --bg-pos: #{vw(-50)};
    
    @media screen and (--tablet-sm) {
      --bg-w: #{vw(286, $mobile-viewport)};
      --bg-h: #{vw(422, $mobile-viewport)};
      --bg-pos: #{vw(-85, $mobile-viewport)};
    }
  }
  
  &--awards {
    --col-title: 4/8;
    --title-pd-t: #{vw(160)};
    --title-pd-r: 0;
    
    overflow: visible;
    
    @media screen and (--tablet-sm) {
      --col-title: 1/2;
      margin-bottom: 0 !important;
      padding-top: 260px !important;
      padding-bottom: 90px;
      background-color: #dfdddf;
    }
  }
  
  &.theme-dark {
    --main-color: #fff;
    --text-bg: var(--c-red);
    
    color: var(--main-color);
    
    .block__title svg,
    .block-symbols svg {
      fill: var(--main-color);
    }
    
    .block__bg svg {
      stroke: var(--main-color);
    }
    
    .bg-grid {
      fill: var(--main-color);
    }
  }
  
  &.theme-orange {
    .block__title path {
      fill: #181818;
    }
    
    .bg-grid svg:hover {
      fill: #fff !important;
    }
    
    .link {
      --hover-color: #fff;
    }
  }
  
  @media screen and (--tablet-sm) {
    --col-title: 1/2;
    --col-list: 1/2;
    --col-describe: 1/2;
    --describe-pd-t: 0;
    
    display: block;
    padding-top: 100px;
  }
}

.block__decoration {
  grid-column: 1/2;
  grid-row: 1/2;
  
  @media screen and (--tablet-sm) {
    display: none;
  }
  
  .block--reverse & {
    grid-column: 12/13;
  }
}

.block__bg {
  position: absolute;
  bottom: 0;
  right: var(--bg-pos, 0);
  width: var(--bg-w, 0);
  height: var(--bg-h, 0);
  
  @media screen and (--tablet-sm) {
    left: var(--bg-pos, 0);
  }
  
  .block--reverse & {
    right: auto;
    left: var(--bg-pos, 0);
    
    @media screen and (--tablet-sm) {
      left: auto;
      right: var(--bg-pos, 0);
    }
  }
  
  .block--dev & {
    @media screen and (--tablet-sm) {
      bottom: vw(60, $mobile-viewport);
    }
  }
  
  .block--seo & {
    @media screen and (--tablet-sm) {
      top: vw(328, $mobile-viewport);
    }
  }
  
  .block--design & {
    @media screen and (--tablet-sm) {
      bottom: vw(80, $mobile-viewport);
    }
  }
  
  .block--awards & {
    top: calc(var(--title-pd-t) - #{vw(52)});
    left: vw(-134);
    width: vw(512);
    height: vw(466);
    
    @media screen and (--tablet-sm) {
      //top: calc(var(--title-pd-t) - #{vw(52)});
      top: -38px;
      left: vw(-50, $mobile-viewport);
      width: vw(198, $mobile-viewport);
      height: vw(180, $mobile-viewport);
    }
    
    svg {
      fill: #fff;
      stroke: #000;
      opacity: 0.2;
      border: 1px solid transparent;
      //noinspection CssUnknownTarget
      border-image: url("../images/awards-bg-border.svg") 0 / auto / 2px stretch;
      transition: var(--trans-dur-fast) ease;
      transition-property: fill, stroke, opacity, border-image-slice;
      
      @media screen and (--tablet-sm) {
        fill: #dfdddf;
        stroke: #131313;
        opacity: 1;
      }
      
      &:hover {
        stroke: var(--c-blue);
        opacity: 1;
        border-image-slice: 10;
      }
    }
  }
  
  &:hover {
    //background-image: var(--bg-img-active);
    svg {
      opacity: 0;
    }
    
    img {
      visibility: visible;
      opacity: 1;
    }
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    visibility: hidden;
    opacity: 0;
  }
}

.block__wrap {
  @include grid(7, 2, 1fr, auto);
  grid-column: 3/10;
  grid-row-gap: vw(50);
  align-content: start;
  
  @media screen and (--tablet-sm) {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 30px;
  }
  
  .block--reverse & {
    grid-column: 4/11;
  }
  
  .block--awards & {
    grid-template-columns: repeat(10, minmax(10px, 1fr));
    grid-column: 2/12;
    
    @media screen and (--tablet-sm) {
      grid-template-columns: auto;
      grid-row-gap: 0;
    }
  }
}

.block__title,
.block__describe {
  grid-row: 1/2;
  
  @media screen and (--tablet-sm) {
    grid-row: unset;
  }
}

.block__title {
  grid-column: var(--col-title);
  padding-top: var(--title-pd-t);
  padding-right: var(--title-pd-r);
  padding-left: var(--title-pd-l);
  
  @media screen and (--tablet-sm) {
    padding: 0;
  }
  
  .block--design & {
    position: relative;
    
    &::after {
      @include bg-img("../images/design-title-figures.svg");
      
      content: "";
      right: vw(35);
      bottom: vw(-60);
      position: absolute;
      width: vw(148);
      height: vw(168);
      
      @media screen and (--tablet-sm) {
        content: none;
      }
    }
  }
  
  .block--awards & {
    position: relative;
  
    @media screen and (--tablet-sm) {
      margin-bottom: 100px;
    }
  }
  
  h2 {
    //@include hide-text();
    display: none;
    
    @media screen and (--tablet-sm) {
      @include font-size-px(72, 52);
      
      //position: relative !important;
      //width: auto;
      //height: auto;
      //overflow: visible;
      
      display: block;
      text-transform: uppercase;
    }
    
    .block--dev & {
      color: var(--c-red);
    }
    
    .block--seo & {
      text-align: right;
    }
  }
  
  > svg {
    max-width: 100%;
    height: auto;
    
    @media screen and (--tablet-sm) {
      display: none;
    }
  }
}

.block__describe {
  grid-column: var(--col-describe);
  padding-top: var(--describe-pd-t);
  
  @media screen and (--tablet-sm) {
    display: flex;
    justify-content: center;
    grid-row: 2/3;
  }
}

.block__number {
  @include font-size($fz-text-sm, 18);
  display: inline-block;
  margin-bottom: em(10, $fz-text-sm);
  font-weight: 300;
  
  @media screen and (--tablet-sm) {
    --size: #{28px};
    --top: #{10px};
    --left: -10px;
    --bg: #dfdddf;
    
    position: absolute;
    top: 90px;
    right: 35px;
    
    margin-bottom: 0;
    font-size: $fz-text-md * 1px;
    
    .block--seo & {
      --top: -2px;
      --left: -10px;
      --bg: var(--c-red);
      
      left: 54px;
    }
    
    .block--design & {
      --top: #{2px};
      --left: #-4px;
      --bg: #fff;
      
      right: 80px;
    }
  }
  
  &::after {
    content: "";
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--size);
    height: var(--size);
    background-color: var(--bg);
    z-index: -1;
  }
}

.block__more {
  @include font-size($fz-text-lg, 28);
  display: inline-block;
  margin-bottom: em(10, $fz-text-lg);
  font-weight: 600;
  text-transform: uppercase;
  text-align: justify;
  
  @media screen and (--tablet-sm) {
    display: none;
  }
  
  .block--awards & {
    grid-column: 8/11;
    padding-top: vw(215);
    padding-right: vw(120);
    text-align: justify;
  }
  
  &--mobile {
    display: none;
    color: var(--c-red);
    text-align: right;
    
    @media screen and (--tablet-sm) {
      display: block;
    }
    
    .block--design & {
      color: #fff;
    }
  }
}

.block__text {
  @include font-size($fz-text-16, 30);
  display: inline-block;
  margin-bottom: em(58, $fz-text-16);
  text-align: justify;
  text-transform: uppercase;
  
  @media screen and (--tablet-sm) {
    --text-color: #fff;
    --bg-color: #000;
    
    max-width: vw(275, $mobile-viewport);
    display: -webkit-box; //stylelint-disable-line
    margin-bottom: 0;
    color: var(--text-color);
    font-size: 0;
    line-height: 0;
    
    .block--seo & {
      --bg-color: var(--c-red);
    }
  }
  
  &::after {
    @media screen and (--tablet-sm) {
      content: "";
      width: 100%;
    }
  }
  
  .js-typewrite-word {
    @media screen and (--tablet-sm) {
      @include font-size-px($fz-text-16, 26);
    }
  }
  
  .js-typewrite-char {
    @media screen and (--tablet-sm) {
      position: relative;
    }
    
    &::after {
      content: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
  
      display: inline-block;
      width: 110%;
      height: 150%;
      background-color: var(--bg-color);

      @media screen and (--tablet-sm) {
        content: "";
      }
    }
    
    > span {
      position: relative;
      z-index: 1;
    }
  }
}

.block__features {
  grid-column: var(--col-list);
  
  @media screen and (--tablet-sm) {
    margin-bottom: 30px;
  }
  
  .block--reverse & {
    direction: rtl;
  }
  
  ul {
    @include list-unstyled();
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, auto));
    row-gap: em(20, $fz-text-sm);
    margin-bottom: vw(50);
    font-size: vw($fz-text-sm);
    text-transform: uppercase;
    
    @media screen and (--tablet-sm) {
      display: block;
      margin-bottom: 0;
      font-size: $fz-text-md * 1px;
      text-align: right;
      
      .block--reverse & {
        text-align: left;
      }
    }
    
    li {
      @media screen and (--tablet-sm) {
        margin-bottom: em(25, $fz-text-md);
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .bg-grid {
    position: relative;
    
    @media screen and (--tablet-sm) {
      display: none;
    }
    
    svg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 115%;
      opacity: 0.2;
      transition: var(--trans-dur-fast) ease;
      transition-property: fill, opacity;
      
      &:hover {
        fill: var(--c-red);
        opacity: 1;
      }
    }
  }
}

.block__lists {
  .block--awards & {
    position: relative;
    grid-column: 7/10;
    
    @media screen and (--tablet-sm) {
      grid-column: 1/2;
    }
  }
}

.block-symbols {
  --height: 560;
  --vp: 1920;
  --vw: calc(var(--vp) * 0.01);
  
  position: relative;
  width: vw(38);
  height: calc(var(--height) / var(--vw) * 1vw);
  
  .block--reverse & {
    --height: 440;
  }
  
  &__item {
    --top: 0;
    
    @include bg-img("../images/bg-home-symbols-one-lg.svg", contain, 50%, 100%);
    
    position: absolute;
    right: 0;
    bottom: 0;
    
    width: vw(10);
    height: calc(var(--height) / var(--vw) * 1vw);
    order: 3;
    //transform: translateY(50%);
    
    .block--reverse & {
      top: var(--top);
      bottom: auto;
      height: vw(440) !important;
      background: none;
    }
    
    &--2 {
      --height: 408;
      --top: #{vw(40)};
      
      left: calc(50% - (#{vw(10)} / 2));
  
      //noinspection CssUnknownTarget
      background-image: url("../images/bg-home-symbols-one-md.svg");
      order: 2;
    }
    
    &--3 {
      --height: 308;
      --top: #{vw(40 * 2)};
      
      left: 0;
  
      //noinspection CssUnknownTarget
      background-image: url("../images/bg-home-symbols-one-sm.svg");
      order: 1;
    }
    
    svg {
      width: 100%;
      height: 100%;
      fill: var(--c-black-second);
    }
  }
}

.block-form {
  display: none;
  min-height: 0 !important;
  margin-bottom: 0 !important;
  
  @media screen and (--tablet-sm) {
    display: block;
  }
  
  &__title {
    padding: 50px 20px;
    background-color: var(--c-black-second);
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px;
    background-color: var(--c-red);
    font-size: 22px;
    
    svg {
      opacity: 0.1;
    }
  }
}
