@use "../_config" as *;

body {
  --redirect-color: var(--c-black-second);
  
  @media screen and (--tablet-sm) {
    --redirect-color: #c4c4c4;
  }
}

.footer-redirect {
  @include font-size-vw(150);
  
  position: relative;
  padding: em(155, 150) 0;
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
  font-weight: 700;
  
  @media screen and (--tablet-sm) {
    padding: 64px 20px;
    font-size: vw(84, $mobile-viewport);
    line-height: em(60, 84);
    text-align: left;
  }
}

.footer-redirect__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.footer-redirect__title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  background: var(--redirect-color);
  -webkit-background-clip: text; //stylelint-disable-line
  -webkit-text-fill-color: transparent;
  
  @media screen and (--tablet-sm) {
    padding: 5px 0;
  }
}

.footer-redirect__name {
  br {
    display: none;
    
    @media screen and (--tablet-sm) {
      display: block;
    }
  }
}

.footer-redirect__link-name {
  @include font-size-vw(24, 24);
  position: static;
  
  @media screen and (--tablet-sm) {
    display: none;
  }

  &::after {
    content: none;
  }
  
  .link__arrow {
    fill: var(--c-black-second);
  }
}

.footer-redirect__counter {
  @include font-size-vw(194);
  
  position: absolute;
  top: 50%;
  right: vw(180);
  transform: translateY(-50%);
  width: vw(130);
  height: vw(180);
  overflow: hidden;
  
  @media screen and (--tablet-sm) {
    display: none;
  }
}

.footer-redirect__counter-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--c-black-second);
}
