<section class="founder">
	<div class="founder__container container">
		<div class="founder__image">
			<img src="images/founder.jpg" alt="Фото основателя Web-Alternative">
			<a class="founder__btn btn btn--video" href="https://youtu.be/Ix39SwerofI" target="_blank" aria-label="Смотреть видеообращение основателя Web-Alternative">Video</a>
			<a class="founder__btn btn btn--instagram" href="https://www.instagram.com/svazhnina" target="_blank" aria-label="Посетить страницу instagram">instagram</a>
		</div>

		<div class="founder__inner">
			<h2 class="founder__title title title--black">основатель</h2>

			<div class="founder__info">
				<blockquote class="founder__quote">
					<cite class="founder__name">Светлана Важнина</cite>
					<span class="founder__position">Основатель и владелец компании </span>
					<div class="founder__text">
						<p>
							Я всегда мечтала создать компанию, которая стала бы экосистемой, как для клиентов, так и для сотрудников, помогающей каждому добиваться совместно общих и своих целей. А цель WEB ALTERNATIVE - с помощью новейших информационных технологий, дизайна, маркетинга и программирования помогать бизнесу развиваться быстрее и эффективнее, делая наш мир лучше день ото дня! Так, и только так!
						</p>
					</div>
					<button class="founder__btn-rest btn-rest" type="button" aria-label="Показать скрытый текст">остальное</button>
				</blockquote>

				<ul class="founder__social social-founder">
					<li class="social-founder__item">
						<a class="social-founder__link link" href="https://www.instagram.com/svazhnina" target="_blank">
							<span class="link__text">instagram</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</a>
					</li>
					<li class="social-founder__item">
						<a class="social-founder__link link" href="https://zen.yandex.ru/id/5e9fae403baf6874e893ea68" target="_blank">
							<span class="link__text">zen.yandex</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</a>
					</li>
					<li class="social-founder__item">
						<a class="social-founder__link link" href="https://ru-ru.facebook.com/Lapylka" target="_blank">
							<span class="link__text">facebook</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<span class="founder__decor">boss</span>
		</div>
	</div>
</section>