<section class="reviews">
	<div class="reviews__container container">
		<h2 class="reviews__title title">отзывы</h2>

		<div class="reviews__body swiper">
			<div class="reviews__navigation">
				<button class="reviews__prev" type="button" aria-label="Предыдущий слайд"></button>
				<div class="reviews__pagination"></div>
				<button class="reviews__next" type="button" aria-label="Следующий слайд"></button>
			</div>
			<ul class="reviews__carousel swiper-wrapper">
				<li class="reviews__slide swiper-slide">
					<div class="reviews__wrapper">
						<div class="reviews__icon">
							<img src="images/reviews/nevada.svg" alt="Иконка Невада Груп">
						</div>
						<div class="reviews__image">
							<img src="images/reviews/photo.jpg" alt="Фото директора по развитию Невада Груп" width="320" height="423">
							<a class="reviews__btn btn btn--video" href="https://youtu.be/HkVg8NZyQUI" target="_blank">video</a>
						</div>
						<div class="reviews__info">
							<div class="reviews__name">
								<span>Анастасия,</span>
								<span class="reviews__org">директор по развитию <span>«Невада Групп»</span></span>
							</div>
							<div class="reviews__text">
								<p>С Анастасией, директором по развитию стратегических проектов «Невада Групп», нам посчастливилось работать над проектом Броско Маркет. Мы были приятно удивлены, что команда со стороны заказчика была благосклонна к ярким и современным решениям. Заручившись доверием, мы работали днями и ночами, чтобы успеть к установленным срокам. Это был интересный, эмоциональный и БРОСКИЙ проект! Спасибо!</p>
								<p>Встретившись с Анастасией утром за чашечкой кофе, мы поговорили о том, какие у команды были ожидания на сайт и удалось ли нам их оправдать. А также о работе с командой Web Alternative и о некоторых нюансах создания сайта.</p>
								<p>Уделите нам 3 минуты вашего внимания!</p>
							</div>
							<button class="reviews__btn-rest btn-rest" type="button" aria-label="Показать скрытый текст">остальное</button>
						</div>
					</div>
					<a class="reviews__link link link--orange link--uppercase link--underline" href="https://broskomarket.com" target="_blank">
						<span class="link__text">ссылка на сайт</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</a>
				</li>

				<li class="reviews__slide swiper-slide">
					<div class="reviews__wrapper">
						<div class="reviews__icon">
							<img src="images/reviews/goszakaz.svg" alt="Иконка ГосЗаказ">
						</div>
						<div class="reviews__image">
							<img src="images/reviews/photo-1.jpg" alt="Фото руководителя компании ГосЗаказ" width="320" height="423">
							<a class="reviews__btn btn btn--instagram" href="https://www.instagram.com/p/COIAKYhgS8x/" target="_blank">instagram</a>
						</div>
						<div class="reviews__info">
							<div class="reviews__name">
								<span>Ольга, </span>
								<span class="reviews__org">Руководитель. Компания <span>“Госзаказ”</span></span>
							</div>
							<div class="reviews__text">
								<p>Ольга, руководитель компании ГОСЗАКАЗ, рассказывает о нашей совместной работе и делится мыслями:
									о том, почему и для кого всё же нужно обновлять фирменный стиль компании
									как сайт стал полезным ресурсом, когда казалось, что он вовсе и не нужен
									об отзывах о новом сайте, которых и не ждали, а их так много, и они такие приятные!</p>
								<p>Вы только послушайте! Может быть, и вы узнаете себя в словах Ольги!</p>
							</div>
							<button class="reviews__btn-rest btn-rest" type="button" aria-label="Показать скрытый текст">остальное</button>
						</div>
					</div>
					<a class="reviews__link link link--orange link--uppercase link--underline" href="https://www.goszakaz27.com" target="_blank">
						<span class="link__text">ссылка на сайт</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</a>
				</li>

				<li class="reviews__slide swiper-slide">
					<div class="reviews__wrapper">
						<div class="reviews__icon">
							<img src="images/reviews/dv.png" alt="Иконка ДВ Камень">
						</div>
						<div class="reviews__image">
							<img src="images/reviews/photo-2.jpg" alt="Фото тех. директора ДВ Камень" width="320" height="423">
							<a class="reviews__btn btn btn--video" href="https://youtu.be/MUlSnvcIMJ4" target="_blank">video</a>
						</div>
						<div class="reviews__info">
							<div class="reviews__name">
								<span>Глеб, </span>
								<span class="reviews__org">технический директор <span>“ДВ Камень”</span></span>
							</div>
							<div class="reviews__text">
								<p>Компания «ДВ Камень» занимается продажей щебня и бутового камня и раньше, чтобы объяснить заказчику, где находится их карьер приходилось выдумывать: «Проезжаешь поваленное дерево, за ним направо, 300 метров прямо и когда увидишь дым из трубы, значит ты на месте». Примерно так. :)</p>
								<p>Сейчас мы сделали на сайте кнопку «проложить маршрут», и маршрут прокладывается автоматически в Google-картах. Всё гениальное просто!</p>
								<p>Знакомьтесь, это Супер-Глеб, технический директор компании «ДВ Камень»! Смотрите новое интервью у нас на канале, где Глеб делится своими впечатлениями о работе над проектом и о том, какой классный сайт у нас получился!</p>
							</div>
							<button class="reviews__btn-rest btn-rest" type="button" aria-label="Показать скрытый текст">остальное</button>
						</div>
					</div>
					<a class="reviews__link link link--orange link--uppercase link--underline" href="https://dvstone.ru" target="_blank">
						<span class="link__text">ссылка на сайт</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>