.contacts-map {
  @apply relative lg:mt-32;

  background-color: #f6f6f6;
}

.contacts-map__container {
  @apply h-screen mx-$base-page-gap-negative;

  @media (min-height: 1000px) {
    height: 900px;
  }
}

.contacts-map__container [class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts-map__container [class*="controls__control"] {
  position: absolute !important;
  left: unset !important;
  right: var(--base-page-gap) !important;
}

.contacts-map__info-container {
  @apply <lg:hidden;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 415px;
}
