<main class="page-form pt-7 lg:pt-44 lg:overflow-hidden">
  <h1 class="sr-only">Мы на связи</h1>

  <div class="wrapper lg:grid lg:grid-cols-12 lg:gap-$base-gap">
    <include src="components/pages/form/form.html"></include>
    <include src="components/pages/form/decorative-header.html"></include>
  </div>
</main>

<footer
  class="
    page-form-footer
    wrapper
    grid
    mt-19
    pb-6
    lg:grid-cols-12 lg:gap-x-$base-gap lg:pb-22
  "
>
  <div
    class="grid justify-end lg:col-span-11 lg:grid-flow-col lg:justify-between"
  >
    <a
      href="index.html"
      class="link link--uppercase link--bold link--underline"
    >
      <span class="link__text">На главную</span>
      <span class="link__icon">
        <svg class="link__arrow" width="12" height="12" aria-hidden="true">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </span>
    </a>

    <div class="footer-social contacts">
      <a
        href="tel:+74212529102"
        class="footer-social__link link link--no-icon link-bold link--underline"
        ><span class="link__text">+7 (4212) 52-91-02</span></a
      >
      <a
        href="mailto:info@web-alt.ru"
        class="footer-social__link link link--no-icon link--underline link-bold"
        ><span class="link__text">info@web-alt.ru</span></a
      >
    </div>

    <div class="footer-social">
      <a
        href="https://www.facebook.com/webalt/"
        class="footer-social__link link link--no-icon link--underline link-bold"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="link__text">facebook</span></a
      >
      <a
        href="https://www.instagram.com/web_alternative/"
        class="footer-social__link link link--no-icon link--underline link-bold"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="link__text">instagram</span></a
      >
      <a
        href="https://vk.com/webaltru"
        class="footer-social__link link link--no-icon link--underline link-bold"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="link__text">vkontakte</span></a
      >
      <a
        href="https://www.youtube.com/channel/UCyJY892MgzP8OkqvIHtI0BA"
        class="footer-social__link link link--no-icon link--underline link-bold"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="link__text">youtube</span></a
      >
    </div>
  </div>
</footer>
