<div class="form__checkbox relative">
  <input
    id="{{ id }}"
    class="absolute t-0 l-0 w-full h-full opacity-0 cursor-pointer"
    type="checkbox"
    name="type"
    value="{{ value }}"
  /><label
    for="{{ id }}"
    class="
      inline-block
      w-full
      pt-24px
      pb-22px
      px-9
      text-sm text-center
      leading-none
      uppercase
      shadow-collapsing
      transition-colors
      lg:pt-20px lg:pb-18px lg:px-7 lg:text-xl lg:leading-none
    "
    >{{ value }}</label
  >
</div>
