<form class="form  lg:col-span-7" action="" novalidate>
  <include src="components/pages/Form/fieldset.html">
    {
      "id": "types-data",
      "title": "Что делаем?",
      "include": "types"
    }
  </include>
  
  <include src="components/pages/Form/fieldset.html">
    {
      "id": "contacts-data",
      "title": "Ваши данные?",
      "include": "fields"
    }
  </include>

  <include src="components/pages/Form/fieldset.html">
    {
      "id": "how-to-know",
      "title": "Как вы узнали о нас?",
      "include": "how-to-know"
    }
  </include>

  <include src="components/pages/Form/submit.html"></include>

 
</form>

<div class="text-lg tracking-wide gap-"></div>
