<ul
  class="
    -mb-4
    children:mb-10
    md:flex md:flex-wrap md:children:mb-5 md:children:ml-5
    lg:-ml-6 lg:children:ml-12 lg:children:mb-7
  "
>
  <include src="components/pages/form/radio.html">
    { "id": "radio-rating", "value": "Рейтинг" }
  </include>
  <include src="components/pages/form/radio.html">
    { "id": "radio-recommendation", "value": "Рекомендация" }
  </include>
  <include src="components/pages/form/radio.html">
    { "id": "radio-socials", "value": "Социальные сети" }
  </include>
  <include src="components/pages/form/radio.html">
    { "id": "radio-sites", "value": "С наших сайтов " }
  </include>
  <include src="components/pages/form/radio.html">
    { "id": "radio-ads", "value": "Реклама в поисковиках" }
  </include>
</ul>
