<div class="form__input-file form-field">
  <div class="relative mb-12">
    <input
      id="files"
      class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer"
      type="file"
      name="file"
    />
    <label
      for="files"
      class="grid grid-flow-col gap-4 justify-start items-center lg:gap-7"
      aria-label="Прикрепить файл, а несколько лучше в архиве. Допустимый размер - небольше 15 мегабайт."
    >
      <span
        class="
          icon
          flex
          justify-center
          items-center
          w-13
          h-12
          bg-black
          transition-colors
          lg:w-108px lg:h-100px
        "
      >
        <svg
          class="w-6 h-6 fill-white transition-colors lg:w-12 lg:h-12"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M17.987 0l-8.96 8.959L0 17.987 6.013 24l6.065-6.064 7.81-7.81-4.07-4.071L6.49 15.38l.827.827 8.5-8.5 2.416 2.417-1.93 1.93-10.29 10.291-4.36-4.36 10.291-10.29 6.042-6.042 4.36 4.36-1.813 1.811.827.827L24 6.013 17.987 0z"
          />
        </svg>
      </span>
      <span class="text-xs tracking-wide lg:text-26px lg:leading-8 2xl:leading-1.4em"
        >Прикрепить файл (а несколько лучше в
        <span class="text-sun">RAR</span>хивчик)<br />(<15мб)</span
      >
    </label>

    <span
      class="
        form-field__error
        absolute
        -bottom-5
        text-sun text-xs
        font-light
        tracking-wide
      "
      >*слишком большой размер файлов</span
    >
  </div>

  <ul
    class="
      list
      grid
      gap-5
      max-w-96
      min-h-6
      pl-8
      md:max-w-none
      md:min-h-12
      md:flex
      md:flex-wrap
      md:gap-0
      md:pl-0
      md:-mb-5
      md:children:ml-8
      md:children:mb-5
      lg:pl-106px
      xl:pl-98px xl:children:ml-10
      2xl:-mb-19 2xl:pl-62px 2xl:children:ml-19 2xl:children:mb-19
    "
  ></ul>
</div>
