<div class="form__radio flex items-center">
  <input
    type="radio"
    name="how-to-know"
    id="{{id}}"
    value="{{value}}"
    class="absolute top-0 right-0 bottom-0 left-0 opacity-0"
  />

  <span
    class="
      flex
      justify-center
      items-center
      w-4
      h-4
      rounded-full
      border-1 border-dark-grey
      cursor-pointer
      transition-opacity
      before:content
      before:w-2
      before:h-2
      before:bg-sun
      before:rounded-full
      before:opacity-0
    "
  ></span>

  <label
    for="{{id}}"
    class="
      flex-grow
      pl-5
      text-dark-grey
      cursor-pointer
      lg:pl-7 lg:text-22px lg:leading-none
    "
    >{{value}}</label
  >
</div>
