<div class="grid gap-4  lg:gap-6">
  <button
    class="form__submit link link--bold link--sun text-3xl text-left lg:flex lg:items-center lg:p-$pd lg:uppercase"
    type="submit"
  >
    <span class="link__text">отправить</span>
    <span class="link__icon">
      <svg class="link__arrow" width="12" height="12" aria-hidden="true">
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </span>
  </button>

  <a href="#" class="text-xs font-light" target="_blank" rel="noopener noreferrer">*Нажимая на кнопку "Отправить" вы соглашаетесь на <span class="underline">обработку персональных
    данных.</span></span
  >
</div>