<section class="getting">
	<div class="getting__container container">
		<h2 class="sr-only">@title</h2>
		<svg class="getting__title-img title-img">
			<use xlink:href="images/sprite.svg#@svg"></use>
		</svg>

		<ul class="getting__list">
			<li class="getting__item">
				<svg>
					<use xlink:href="images/sprite.svg#@svg1"></use>
				</svg>
				<p class="getting__text">
					@text1
				</p>
				<button class="getting__btn" type="button">(конкретнее)</button>
				<p class="getting__descr">
					@descr1
				</p>
			</li>

			<li class="getting__item">
				<svg>
					<use xlink:href="images/sprite.svg#@svg2"></use>
				</svg>
				<p class="getting__text">
					@text2
				</p>
				<button class="getting__btn" type="button">(конкретнее)</button>
				<p class="getting__descr">
					@descr2
				</p>
			</li>

			<li class="getting__item">
				<svg>
					<use xlink:href="images/sprite.svg#@svg3"></use>
				</svg>
				<p class="getting__text">
					@text3
				</p>
				<button class="getting__btn" type="button">(конкретнее)</button>
				<p class="getting__descr">
					@descr3
				</p>
			</li>

			<li class="getting__item">
				<svg>
					<use xlink:href="images/sprite.svg#@svg4"></use>
				</svg>
				<p class="getting__text">
					@text4
				</p>
				<button class="getting__btn" type="button">(конкретнее)</button>
				<p class="getting__descr">
					@descr4
				</p>
			</li>

			<li class="getting__item">
				<svg>
					<use xlink:href="images/sprite.svg#@svg5"></use>
				</svg>
				<p class="getting__text">
					@text5
				</p>
				<button class="getting__btn" type="button">(конкретнее)</button>
				<p class="getting__descr">
					@descr5
				</p>
			</li>
		</ul>
	</div>
</section>