<section class="reviews">
	<div class="reviews__container container">
		<h2 class="reviews__title title">отзывы</h2>

		<div class="reviews__body swiper">
			<div class="reviews__navigation">
				<button class="reviews__prev" type="button" aria-label="Предыдущий слайд"></button>
				<div class="reviews__pagination"></div>
				<button class="reviews__next" type="button" aria-label="Следующий слайд"></button>
			</div>
			<ul class="reviews__carousel swiper-wrapper">
				<li class="reviews__slide swiper-slide">
					<div class="reviews__wrapper">
						<div class="reviews__image">
							<img src="images/reviews/photo.jpg" alt="Фото представителя СЕО Броско Маркет" width="320" height="423">
							<button class="reviews__btn btn btn--video" type="button">video</button>
						</div>
						<div class="reviews__info">
							<div class="reviews__name">
								<span>Елена Петровна,</span>
								<span class="reviews__org">CEO <span>Броско Маркет</span></span>
							</div>
							<div class="reviews__text">
								<p>На протяжении всей работы со студией создания веб-сайтов, команда разработчиков показала свою способность с полной ответственностью подходить к поставленным задачам, выполнять задачи качественно и в срок.</p>
								<p>Высокий профессионализм и заинтересованность в выполняемой работе, является отличительной чертой сотрудников компании WEB ALTERNATIVE. Можно не сомневаться, что специалисты подробно объяснят, расскажут и предложат наилучший вариант из всех возможный.</p>
								<p>Сотрудники компании держат руку на пульсе и всегда в курсе новостей в области нововведений по разработке, дизайну и юзабилити. Рекомендуем ИП Важнину, как надежного и стабильного партнёра в разработке сайтов.</p>
							</div>
							<button class="reviews__btn-rest btn-rest" type="button" aria-label="Показать скрытый текст">остальное</button>
						</div>
					</div>
					<a href="" class="reviews__link link link--orange link--uppercase link--underline">
						<span class="link__text">ссылка на сайт</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</a>
				</li>

				<li class="reviews__slide swiper-slide">
					<div class="reviews__wrapper">
						<div class="reviews__image">
							<img src="images/reviews/photo.jpg" alt="Фото представителя СЕО Броско Маркет" width="320" height="423">
							<button class="reviews__btn btn btn--video" type="button">video</button>
						</div>
						<div class="reviews__info">
							<div class="reviews__name">
								<span>Елена Петровна,</span>
								<span class="reviews__org">CEO <span>Броско Маркет</span></span>
							</div>
							<div class="reviews__text">
								<p>На протяжении всей работы со студией создания веб-сайтов, команда разработчиков показала свою способность с полной ответственностью подходить к поставленным задачам, выполнять задачи качественно и в срок.</p>
								<p>Высокий профессионализм и заинтересованность в выполняемой работе, является отличительной чертой сотрудников компании WEB ALTERNATIVE. Можно не сомневаться, что специалисты подробно объяснят, расскажут и предложат наилучший вариант из всех возможный.</p>
								<p>Сотрудники компании держат руку на пульсе и всегда в курсе новостей в области нововведений по разработке, дизайну и юзабилити. Рекомендуем ИП Важнину, как надежного и стабильного партнёра в разработке сайтов.</p>
							</div>
							<button class="reviews__btn-rest btn-rest" type="button" aria-label="Показать скрытый текст">остальное</button>
						</div>
					</div>
					<a href="" class="reviews__link link link--orange link--uppercase link--underline">
						<span class="link__text">ссылка на сайт</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</a>
				</li>

				<li class="reviews__slide swiper-slide">
					<div class="reviews__wrapper">
						<div class="reviews__image">
							<img src="images/reviews/photo.jpg" alt="Фото представителя СЕО Броско Маркет" width="320" height="423">
							<button class="reviews__btn btn btn--video" type="button">video</button>
						</div>
						<div class="reviews__info">
							<div class="reviews__name">
								<span>Елена Петровна,</span>
								<span class="reviews__org">CEO <span>Броско Маркет</span></span>
							</div>
							<div class="reviews__text">
								<p>На протяжении всей работы со студией создания веб-сайтов, команда разработчиков показала свою способность с полной ответственностью подходить к поставленным задачам, выполнять задачи качественно и в срок.</p>
								<p>Высокий профессионализм и заинтересованность в выполняемой работе, является отличительной чертой сотрудников компании WEB ALTERNATIVE. Можно не сомневаться, что специалисты подробно объяснят, расскажут и предложат наилучший вариант из всех возможный.</p>
								<p>Сотрудники компании держат руку на пульсе и всегда в курсе новостей в области нововведений по разработке, дизайну и юзабилити. Рекомендуем ИП Важнину, как надежного и стабильного партнёра в разработке сайтов.</p>
							</div>
							<button class="reviews__btn-rest btn-rest" type="button" aria-label="Показать скрытый текст">остальное</button>
						</div>
					</div>
					<a href="" class="reviews__link link link--orange link--uppercase link--underline">
						<span class="link__text">ссылка на сайт</span>
						<span class="link__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>