.scheme-work {
  padding-bottom: 42%;
  background-image: url("/images/landings/corporate-sites/scheme-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

  @media (max-width: $md3 + px) {
    padding-bottom: 301%;
    background-image: url("/images/landings/corporate-sites/scheme-bg-mobile.png");
  }
  // .scheme-work__container
  &__container {
  }
  // .scheme-work__title-img
  &__title-img {
    @include adaptive(margin-bottom, 68, 41, 1);
    @include adaptive(max-width, 410, 225, 1);
    width: 100%;
    @include adaptive(height, 132, 72, 1);
  }
  // .scheme-work__descr
  &__descr {
    max-width: 705px;
    @include adaptive(font-size, 24, 16, 1);
  }
}
