<section class="why-context">
	<div class="why-context__inner">
		<div class="why-context__column why-context__column--left">
			<h2 class="why-context__title title-mini"><span>Нужен</span> ли мне контекст?</h2>

			<div class="why-context__info">
				<ul class="why-context__list">
					<li class="why-context__item">Пробовали настроить сами и не получили результата?</li>
					<li class="why-context__item">Работали с разными подрядчиками, но реальных заявок было мало?</li>
					<li class="why-context__item">Выбираете другие каналы продвижения, потому что сомневаетесь в контексте?</li>
				</ul>

				<div class="why-context__descr">
					<p>Благодаря предварительному расчету (прогнозу) мы можем до старта работы сказать, какое примерное количество заявок вы будете получать в месяц и по какой стоимости.</p>
					<p>Количество наших постоянных клиентов растет с каждым годом. Мы предлагаем контекстную рекламу только тем, кому она действительно поможет. </p>
				</div>

				<div class="why-context__wrapper">
					<h3 class="why-context__text">УЗНАТЬ <span>СТОИМОСТЬ</span> И <span>КОЛИЧЕСТВО ОБРАЩЕНИЙ</span> С КОНТЕКСТНОЙ РЕКЛАМЫ за
						<span class="why-context__sale">
							<span class="sr-only">Вместо обычной стоимости 5000 рублей мы сделаем прогноз бесплатно</span>
						</span>
					</h3>
				</div>

				<form class="why-context__form form-application" action="#">
					<div class="form-application__column">
						<div class="form-application__item">
							<input class="form-application__input" id="whyContextName" type="text" name="Имя соискателя" data-validate-field="whyContextName" required>
							<label class="form-application__label" for="whyContextName">имя*</label>
						</div>

						<div class="form-application__item">
							<input class="form-application__input" id="whyContextPhone" type="tel" name="Телефон соискателя" placeholder="+7 (999) 999 99 99" data-validate-field="whyContextPhone" required>
							<label class="form-application__label" for="whyContextPhone">Телефон*</label>
						</div>
					</div>

					<div class="form-application__bottom">
						<div class="form-application__button">
							<button class="form-application__btn link link--uppercase link--bold" type="submit">
								<span class="link__text">хочу прогноз</span>
								<span class="link__icon">
									<svg>
										<use xlink:href="images/sprite.svg#arrow-symbol"></use>
									</svg>
								</span>
							</button>
						</div>

						<p class="form-application__text">Нажимая на кнопку, Вы даете согласие с
							<a href="https://web-alt.ru/page/politika-obrabotki-cookie-failov-na-saite" target="_blank">политикой обработки персональных данных</a>
						</p>
					</div>
				</form>
			</div>
		</div>

		<div class="why-context__column why-context__column--right">
			<div class="why-context__name">кейс “башоценка”</div>

			<div class="why-context__image">
				<img class="why-context__img" src="images/case-img.jpg" alt="Общали за 1 месяц от 12 до 23 заявок и стоимость заявки от 600 рублей, а сделали 66 либов по цене 255 рублей, 39 лидов яндекс по 310 рублей и google 27 лидов по 177 рублей">
			</div>

			<a class="why-context__link link link--underline link--white" href="#">
				<span class="link__text">смотреть полностью</span>
				<span class="link__icon">
					<svg>
						<use xlink:href="images/sprite.svg#arrow-symbol"></use>
					</svg>
				</span>
			</a>
		</div>
	</div>
</section>