<div class="case__content">
	<ul class="case__info">
		<h4 class="case__title-list">Google</h4>

		<li class="case__item">846 заявок </li>
		<li class="case__item">19% конверсия в продаже</li>
		<li class="case__item">4 782 832₽ прибыли</li>
		<li class="case__item">930% ROI (окупаемость вложений)</li>
	</ul>

	<ul class="case__info">
		<h4 class="case__title-list">Яндекс
		</h4>

		<li class="case__item">611 заявок</li>
		<li class="case__item">23% конверсия в продажи</li>
		<li class="case__item">4 193 971₽ прибыли</li>
		<li class="case__item">1942% ROI (окупаемость вложений)</li>
	</ul>
</div>