<li class="technology__item">
	<svg>
		<use xlink:href="images/sprite.svg#technology-1"></use>
	</svg>
	<p class="technology__text">
		Для нас принципы этичности и помощи определены в миссии компании. Мы стремимся помочь нашим клиентам и радуемся, когда их дело приносит доход и имеет успех.
	</p>
</li>

<li class="technology__item">
	<svg>
		<use xlink:href="images/sprite.svg#technology-2"></use>
	</svg>
	<p class="technology__text">
		Никогда не сдаемся, всегда доведем проект до конца и будем развивать его и дальше.
	</p>
</li>

<li class="technology__item">
	<svg>
		<use xlink:href="images/sprite.svg#technology-3"></use>
	</svg>
	<p class="technology__text">
		Длительное сотрудничество приоритет для нас. Мы углубляемся в бизнес нашего клиента и понимаем задачи ещё лучше. А результаты приходят быстрее
	</p>
</li>