.progress-work {
  background-color: var(--black);
  color: var(--white);
  @include adaptive(padding-top, 51, 39, 1);
  @include adaptive(padding-bottom, 179, 74, 1);
  background-image: url("/images/landings/corporate-sites/process-work/process-work-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  position: relative;

  @media (max-width: $md4 + px) {
    overflow-x: hidden;
    background-image: none;
  }

  &::before {
    content: "";
    position: absolute;
    @include adaptive(right, 289, 24, 1);
    @include adaptive(bottom, 51, 19, 1);
    @include adaptive(width, 153, 54, 1);
    @include adaptive(height, 70, 24, 1);
    mask: url("/images/landings/corporate-sites/sprite.svg#planets") center /
      cover no-repeat;
    background-color: var(--darken);
  }

  &::after {
    content: "";
    position: absolute;
    @include adaptive(right, 337, -25, 1);
    @include adaptive(bottom, 50, 15, 1);
    @include adaptive(width, 269, 83, 1);
    @include adaptive(height, 269, 83, 1);
    mask: url("/images/landings/corporate-sites/sprite.svg#wa-logo") center /
      cover no-repeat;
    background-color: var(--orange);
  }
  // .progress-work__top
  &__top {
    display: flex;
    @include adaptive(margin-bottom, 47, 21, 1);

    @media (max-width: $md3 + px) {
      flex-direction: column;
    }
  }
  // .progress-work__title-img
  &__title-img {
    @include adaptive(max-width, 335, 185, 1);
    width: 100%;
    @include adaptive(margin-right, 241, -30, 1);

    @media (max-width: $md3 + px) {
      margin-bottom: 34px;
    }
  }
  // .progress-work__buttons
  &__buttons {
    display: flex;
  }
  // .progress-work__item
  &__item {
    @media (max-width: $md3 + px) {
      width: 50%;
    }
  }
  // .progress-work__btn
  &__btn {
    @include adaptive(font-size, 18, 12, 1);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    background-color: var(--darken);
    color: var(--eazy-grey);
    padding: 19px 38px 17px;
    @include active;
    white-space: nowrap;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;

    @media (max-width: $md2 + px) {
      padding: 14px 17px 12px;
    }

    @media (max-width: $md3 + px) {
      width: 100%;
      text-align: center;
    }

    @media (max-width: 374px) {
      font-size: 10px;
    }

    &.active {
      background-color: var(--orange);
      color: var(--white);
    }
  }
  // .progress-work__body
  &__body {
    @include adaptive(padding-right, 200, -500, 1);
    @include adaptive(padding-left, 80, -200, 1);
    display: flex;
    margin-bottom: 41px;
    overflow: hidden;

    @media (max-width: $md1 + px) {
      padding: 0;
    }
  }
  // .progress-work__btn-popup
  &__btn-popup {
    @include adaptive(font-size, 52, 19, 1);
    --underline-color: var(--white);
  }
}
