.prices {
  @include adaptive(padding-top, 87, 34, 1);
  @include adaptive(padding-bottom, 76, 65, 1);
  background-color: var(--black);
  color: var(--white);
  background-image: url("/images/landing/planet.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;

  @media (max-width: $md1 + px) {
    background-position: 110% bottom;
  }

  @media (max-width: $md1 + px) {
    background-position: 120% bottom;
  }

  @media (max-width: $md3 + px) {
    background: var(--black);
  }

  @media (max-width: $md4 + px) {
    overflow-x: hidden;
  }
  // .prices__container
  &__container {
    @include adaptive(padding-right, 239, 15, 1);
    position: relative;
  }
  // .prices__title
  &__title {
    max-width: 650px;
    @include adaptive(word-spacing, 90, 30, 1);
    @include adaptive(margin-bottom, 94, 46, 1);

    @media (max-width: $md2 + px) {
      max-width: 500px;
    }
  }
  // .prices__item
  &__item {
    @include adaptive(font-size, 72, 28, 1);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gray);
    line-height: 1;
    margin-bottom: 30px;
  }
  // .prices__param
  &__param {
    @include adaptive(margin-left, 145, 0, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include adaptive(font-size, 24, 16, 1);
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid var(--white);
    @include adaptive(margin-bottom, 110, 34, 1);
  }
  // .prices__names
  &__names {
    display: flex;
    margin-right: auto;

    @media (max-width: $md2 + px) {
      width: 100%;
      margin-bottom: 22px;
    }
  }
  // .prices__name
  &__name {
    &:not(:last-child) {
      margin-right: 20px;
      padding-right: 25px;
      position: relative;

      &::after {
        content: "\\";
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  // .prices__price
  &__price {
    max-width: 250px;
    width: 100%;
    @include adaptive(margin-right, 235, 10, 1);

    @media (max-width: $md1 + px) {
      max-width: 200px;
      margin-right: 15px;
    }

    span {
      color: var(--orange);
    }

    @media (max-width: $md4 + px) {
      margin-bottom: 22px;
    }
  }
  // .prices__time
  &__time {
    max-width: 270px;
    width: 100%;

    span {
      color: var(--orange);
    }
  }
  // .prices__text
  &__text {
    @include adaptive(font-size, 32, 16, 1);
    font-weight: 700;
    text-transform: uppercase;
    max-width: 1000px;

    span {
      color: var(--orange);
    }
  }
  // .prices__image
  &__image {
    height: 85px;
    background-image: url("/images/landing/price.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;

    @media (max-width: $md3 + px) {
      height: 50px;
    }

    @media (max-width: $md4 + px) {
      background-position: right top;
      margin-top: -25px;
    }

    @media (max-width: 320px) {
      margin-top: 0;
      background-position: left top;
    }
  }
  // .prices__form
  &__form {
    --border-color: 255, 255, 255;
    @include adaptive(padding-left, 145, 0, 1);

    @media (max-width: $md3 + px) {
      padding-left: 0;
    }

    .form-application__column {
      margin-bottom: 22px;
      @include adaptive(max-width, 450, 100, 1);

      @media (max-width: $md1 + px) {
        max-width: calc(50% - 50px);
        margin-bottom: 37px;
      }

      @media (max-width: $md3 + px) {
        max-width: 100%;
      }
    }

    .form-application__bottom {
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      @include adaptive(right, 239, 15, 1);
      bottom: 0;
      @include adaptive(max-width, 310, 200, 1);
      margin-bottom: 0;

      @media (max-width: $md1 + px) {
        position: static;
        right: auto;
        bottom: auto;
      }
    }

    .form-application__button {
      &:not(:last-child) {
        margin-right: 0;
        max-width: 100%;
      }
    }

    .form-application__btn {
      max-width: fit-content;
      @include adaptive(font-size, 48, 32, 1);

      @media (max-width: $md3 + px) {
        color: var(--orange);
        --icon-fill: var(--orange);
        --underline-color: var(--orange);

        .link__text {
          &::after {
            display: block;
          }
        }
      }
    }

    .form-application__text {
      max-width: 250px;
    }
  }
}
