<section class="clients">
	<div class="clients__container container">
		<h2 class="sr-only">клиенты и партнёры</h2>
		<svg class="clients__title-img title-img">
			<use xlink:href="images/sprite.svg#title-clients"></use>
		</svg>

		<div class="clients__inner">
			<ul class="clients__list">
				<li class="clients__item">
					<img src="images/clients/clients-1.png" alt="фитнес-клуба ЭНКР">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-2.png" alt="Дальгипротранс">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-3.png" alt="Аптека Миницен">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-4.png" alt="Восточный Банк">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-5.png" alt="HHK">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-6.png" alt="Краевое Агенство Содействия Предпринимательству">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-7.png" alt="Хабаровские Вести">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-8.png" alt="Броско Маркет">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-9.png" alt="Intek DV">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-10.png" alt="Gorko Venko">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-11.png" alt="Новая Аптека">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-12.png" alt="Рао ЕЭС">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-13.png" alt="R Partner">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-14.png" alt="Visockiy Consulting">
				</li>

				<li class="clients__item">
					<img src="images/clients/clients-15.png" alt="Фонд Поддержки Малого Предпринимательства">
				</li>
			</ul>
		</div>
	</div>
</section>