<section class="examples">
	<div class="examples__container container">
		<h2 class="sr-only">Примеры наших работ</h2>

		<ul class="examples__body">
			<li class="examples__item" tabindex="">
				<div class="examples__wrapper">
					<p class="examples__descr">Сайт - это отражение вашего бизнеса в сети.
						Мы вкладываем много усилий в эстетику и красоту этого отражения.</p>
					<div class="examples__text">примеры разработанных нами фирменных стилей</div>
				</div>
			</li>

			<li class="examples__item">
				<div class="examples__wrapper">
					<div class="examples__inner">
						<img class="examples__img" src="images/examples/antera.jpg" alt="Логотип Antera">
					</div>

					<button class="examples__link" type="button">
						<span class="examples__badge link link--white">
							<span class="link__text">посмотреть</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</span>
					</button>
				</div>

				<div class="examples__lightbox">
					<img class="examples__image" src="images/examples/pic-antera.jpg" alt="Иллюстрация сайта Antera">
				</div>
			</li>

			<li class="examples__item">
				<div class="examples__wrapper">
					<div class="examples__inner">
						<img class="examples__img" src="images/examples/goszakaz.jpg" alt="Логотип Госзаказ">
					</div>

					<button class="examples__link" type="button">
						<span class="examples__badge link link--white">
							<span class="link__text">посмотреть</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</span>
					</button>
				</div>

				<div class="examples__lightbox">
					<img class="examples__image" src="images/examples/pic-goszakaz.jpg" alt="Иллюстрация сайта Госзаказ">
				</div>
			</li>

			<li class="examples__item">
				<div class="examples__wrapper">
					<div class="examples__inner">
						<img class="examples__img" src="images/examples/iceberg.jpg" alt="Логотип Iceberg">
					</div>

					<button class="examples__link" type="button">
						<span class="examples__badge link link--white">
							<span class="link__text">посмотреть</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</span>
					</button>
				</div>

				<div class="examples__lightbox">
					<img class="examples__image" src="images/examples/pic-iceberg.jpg" alt="Иллюстрация сайта iceberg">
				</div>
			</li>

			<li class="examples__item">
				<div class="examples__wrapper">
					<div class="examples__inner">
						<img class="examples__img" src="images/examples/sakha.jpg" alt="Логотип Sakha Trade">
					</div>

					<button class="examples__link" type="button">
						<span class="examples__badge link link--white">
							<span class="link__text">посмотреть</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</span>
					</button>
				</div>

				<div class="examples__lightbox">
					<img class="examples__image" src="images/examples/pic-sakha-trade.jpg" alt="Иллюстрация сайта Sakha Trade">
				</div>
			</li>

			<li class="examples__item">
				<div class="examples__wrapper">
					<div class="examples__inner">
						<img class="examples__img" src="images/examples/stroykor.jpg" alt="Логотип Стройкор">
					</div>

					<button class="examples__link" type="button">
						<span class="examples__badge link link--white">
							<span class="link__text">посмотреть</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</span>
					</button>
				</div>

				<div class="examples__lightbox">
					<img class="examples__image" src="images/examples/pic-stroykor.jpg" alt="Иллюстрация сайта Стройкор">
				</div>
			</li>

			<li class="examples__item">
				<div class="examples__wrapper">
					<div class="examples__inner">
						<img class="examples__img" src="images/examples/cofee.jpg" alt="Логотип Cofee Center">
					</div>

					<button class="examples__link" type="button">
						<span class="examples__badge link link--white">
							<span class="link__text">посмотреть</span>
							<span class="link__icon">
								<svg>
									<use xlink:href="images/sprite.svg#arrow-symbol"></use>
								</svg>
							</span>
						</span>
					</button>
				</div>

				<div class="examples__lightbox">
					<img class="examples__image" src="images/examples/pic-coffee-center.jpg" alt="Иллюстрация сайта Cofee Center">
				</div>
			</li>
		</ul>

		<span class="examples__mobile-text">Понравилось?</span>

		<button class="examples__btn link link--uppercase link--orange link--underline btn-examples" type="button">
			<span class="btn-examples__desctope">
				<svg>
					<use xlink:href="images/sprite.svg#fire"></use>
				</svg>
				<span class="btn-examples__text">Закажите фирменный стиль для своего сайта</span>
			</span>

			<span class="link__text">закажите</span>
			<span class="link__icon">
				<svg>
					<use xlink:href="images/sprite.svg#arrow-symbol"></use>
				</svg>
			</span>
		</button>
	</div>
</section>