<header class="page-header {{ class }}">
  <div class="page-header__wrap">
    <a href="/" class="page-header__logo" aria-label="На главную.">
      <svg width="38" height="21" aria-hidden="true">
        <use xlink:href="#logo"></use>
      </svg>
      <span class="hover-text">на главную</span>
    </a>
    <button class="menu-btn js-menu-btn-open" aria-label="Открыть меню.">
      <svg class="menu-btn__icon" width="16" height="13" aria-hidden="true">
        <use xlink:href="#icon-dash-cursor"></use>
      </svg>
      menu
    </button>

    <include src="page-header/feedback-btn.html"></include>
  </div>
</header>

<header class="page-header-fixed">
  <div class="page-header__wrap">
    <a href="tel:+74212529102" class="page-header-fixed__tel">
      <svg width="28" height="28" aria-hidden="true">
        <use xlink:href="#icon-tel"></use>
      </svg>
      Звони
    </a>
    <button class="menu-btn js-menu-btn-open" aria-label="Открыть меню.">
      <svg class="menu-btn__icon" width="16" height="13">
        <use xlink:href="#icon-dash-cursor"></use>
      </svg>
      menu
    </button>
  </div>
</header>
