<section class="benefits benefits--cmm">
	<div class="benefits__container container">
		<h2 class="benefits__title title-mini">почему SMM доверяют <span>Web Alternative?</span></h2>

		<ul class="benefits__list">
			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-2"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Кейсы с реальными цифрами</h3>
					<p class="benefits__descr">Открыто говорим о тех, с кем сотрудничаем (кроме тех, кто подписал NDA). Ознакомьтесь с кейсами и отзывами ниже.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-3"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Решаем задачи в комплексе</h3>
					<p class="benefits__descr">Вдобавок к продвижению в соц. сетях произведем аудит вашего сайта и продумаем комплексную стратегию.</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-6"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Прозрачность отношений</h3>
					<p class="benefits__descr">У вас всегда будут доступы к рекламным кабинетам. Мы уверены в своей работе!</p>
				</div>
			</li>

			<li class="benefits__item">
				<svg class="benefits__icon">
					<use xlink:href="images/sprite.svg#benefits-10"></use>
				</svg>

				<div class="benefits__info">
					<h3 class="benefits__name">Безопасность прежде всего</h3>
					<p class="benefits__descr">Знаем, как избегать блокировок, и даём чёткие рекомендации для этого.</p>
				</div>
			</li>
		</ul>
	</div>
</section>