<section class="services">
	<div class="services__container container">
		<h2 class="services__title title-mini title-mini--white">наши услуги</h2>

		<ul class="services__list">
			<li class="services__card analize-card">
				<div class="analize-card__inner">
					<h3 class="analize-card__title analize-card__title--mini-24">Упаковка профиля</h3>

					<ul class="analize-card__list">
						<li class="analize-card__row">Разбор профиля</li>
						<li class="analize-card__row">Создание иконок «актуальное»</li>
						<li class="analize-card__row">Генерация контента для highlights</li>
						<li class="analize-card__row">Составление шапки профиля</li>
						<li class="analize-card__row">Аудит эффективности кампаний</li>
						<li class="analize-card__row">Разработка УТП</li>
						<li class="analize-card__row">Составление ТЗ фотографу</li>
						<li class="analize-card__row">Подбор популярных тем для вашей ниши</li>
					</ul>
				</div>

				<ul class="analize-card__prices">
					<li class="analize-card__price">
						<span class="analize-card__sum">23 000</span>
						<span class="analize-card__term">единоразово</span>
					</li>
				</ul>

				<button class="analize-card__btn analize-btn" type="button">
					<span class="analize-btn__inner">
						<span class="analize-btn__text">заказать</span>
						<span class="analize-btn__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</span>
				</button>
			</li>

			<li class="services__card analize-card">
				<div class="analize-card__inner">
					<h3 class="analize-card__title analize-card__title--mini-24">Ведение аккаунта</h3>

					<ul class="analize-card__list">
						<li class="analize-card__row">Анализ аккаунта</li>
						<li class="analize-card__row">Анализ конкурентов</li>
						<li class="analize-card__row">Обновление шапки профиля</li>
						<li class="analize-card__row">Создание иконок highlights</li>
						<li class="analize-card__row">Составление ТЗ фотографу</li>
						<li class="analize-card__row">Разработка визуальной концепции</li>
						<li class="analize-card__row">Создание контент плана на месяц</li>
						<li class="analize-card__row">Создание постов, сториз, reals</li>
						<li class="analize-card__row">Публикация контента</li>
						<li class="analize-card__row">Консультирование и предложения по улучшению</li>
					</ul>
				</div>

				<ul class="analize-card__prices">
					<li class="analize-card__price">
						<span class="analize-card__sum"><span>от</span> 50 000</span>
						<span class="analize-card__term">Ежемесячно</span>
					</li>

					<li class="analize-card__price analize-card__price--orange">
						<span class="analize-card__sum"><span>от</span> 68 000</span>
						<span class="analize-card__term analize-card__term--small">за первый месяц если требуется упаковка профиля</span>
					</li>
				</ul>

				<button class="analize-card__btn analize-btn" type="button">
					<span class="analize-btn__inner">
						<span class="analize-btn__text">заказать</span>
						<span class="analize-btn__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</span>
				</button>
			</li>
			<li class="services__card analize-card">
				<div class="analize-card__inner">
					<h3 class="analize-card__title analize-card__title--mini-24">Таргетированная реклама</h3>

					<ul class="analize-card__list">
						<li class="analize-card__row">Создание рекламного кабинета</li>
						<li class="analize-card__row">Прогрев рекламного кабинета</li>
						<li class="analize-card__row">Подтверждение компании</li>
						<li class="analize-card__row">Анализ целевой аудитории</li>
						<li class="analize-card__row">Выяснение УТП</li>
						<li class="analize-card__row">Создание рекламных макетов</li>
						<li class="analize-card__row">Написание продающих текстов</li>
						<li class="analize-card__row">Анализ результатов</li>
						<li class="analize-card__row">Внесение корректировок</li>
						<li class="analize-card__row">Отчёт о проделанной работе</li>
						<li class="analize-card__row">Рекомендации по улучшению</li>
					</ul>
				</div>

				<ul class="analize-card__prices">
					<li class="analize-card__price">
						<span class="analize-card__sum">35 000</span>
						<span class="analize-card__term">настройка <br>+ 1 мес.</span>
					</li>

					<li class="analize-card__price analize-card__price--orange">
						<span class="analize-card__sum">25 000</span>
						<span class="analize-card__term">после первого месяца</span>
					</li>
				</ul>

				<button class="analize-card__btn analize-btn" type="button">
					<span class="analize-btn__inner">
						<span class="analize-btn__text">заказать</span>
						<span class="analize-btn__icon">
							<svg>
								<use xlink:href="images/sprite.svg#arrow-symbol"></use>
							</svg>
						</span>
					</span>
				</button>
			</li>

		</ul>
	</div>
</section>