.raiting {
  @include adaptive(padding-top, 160, 70, 1);
  @include adaptive(padding-bottom, 104, 51, 1);
  //.raiting__container
  &__container {
    @media (max-width: $md4 + px) {
      padding: 0;
    }
  }
  //.raiting__body
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1431px;
    margin: 0 auto;
  }
  // .raiting__list
  &__list {
    width: 50%;
    background-color: var(--black);
    @include adaptive(border-top-right-radius, 85, 25, 1);
    color: var(--white);
    padding: 38px 59px;
    position: relative;
    @include adaptive(margin-bottom, 79, 20, 1);

    @media (max-width: $md1 + px) {
      padding: 25px 20px 33px;
    }

    @media (max-width: $md2 + px) {
      width: 100%;
    }

    @media (max-width: $md3 + px) {
      margin-bottom: 0;
    }

    @media (max-width: $md4 + px) {
      border-top-right-radius: 0;
    }
  }
  //.raiting__badge
  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    @include adaptive(width, 170, 50, 1);
    @include adaptive(height, 170, 50, 1);
    border-radius: 50%;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $md4 + px) {
      display: none;
    }

    img {
      @media (max-width: $md1 + px) {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  // .raiting__row
  &__row {
    display: flex;
    align-items: center;

    @media (max-width: $md4 + px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
  // .raiting__quantity
  &__quantity {
    color: var(--orange);
    font-size: 36px;
    font-weight: 700;
    max-width: 110px;
    width: 100%;
    margin-right: 37px;
    line-height: 1.3;

    @media (max-width: $md1 + px) {
      margin-right: 20px;
    }
  }
  // .raiting__definition
  &__definition {
    @include adaptive(font-size, 18, 14, 1);
    text-transform: uppercase;
    font-weight: 700;
  }
  // .raiting__info
  &__info {
    max-width: 560px;
    width: 100%;

    @media (max-width: $md1 + px) {
      max-width: calc(50% - 15px);
    }

    @media (max-width: $md2 + px) {
      order: -1;
      margin-bottom: 66px;
      max-width: 100%;
    }

    @media (max-width: $md4 + px) {
      padding: 0 20px;
    }
  }
  // .raiting__title
  &__title {
    display: flex;
    flex-direction: column;
    @include adaptive(font-size, 24, 16, 1);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--orange);
    line-height: 1;
    @include adaptive(margin-bottom, 26, 58, 1);
    position: relative;

    @media (max-width: $md1 + px) {
      padding-right: 140px;
    }

    @media (max-width: $md3 + px) {
      text-transform: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: -25px;
      right: 0;
      @include adaptive(width, 127, 117, 1);
      @include adaptive(height, 157, 145, 1);
      background-image: url("/images/landings/contextual/raiting/cup.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    span {
      &:first-child {
        @include adaptive(font-size, 96, 46, 1);
        font-weight: 600;
        @include adaptive(margin-top, 35, 15, 1);

        @media (max-width: $md3 + px) {
          text-transform: uppercase;
        }
      }
      &:last-child {
        text-transform: none;
        align-self: flex-end;

        @media (max-width: $md1 + px) {
          align-self: stretch;
        }
      }
    }
  }
  // .raiting__descr
  &__descr {
    max-width: 470px;
    text-align: right;
    margin-left: auto;
    font-weight: 400;
    margin-bottom: 12px;

    @media (max-width: $md1 + px) {
      text-align: left;
      margin-left: 0;
    }
  }
  // .raiting__link
  &__link {
    font-size: 14px;
    font-weight: 400;
    color: var(--orange);
    display: block;
    margin-left: auto;
    width: fit-content;
    position: relative;

    @include active;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 0;
      background-color: var(--orange);
      transition: width 0.3s ease-in;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    @media (max-width: $md1 + px) {
      margin-left: 0;
    }
  }
  // .raiting__bottom
  &__bottom {
    width: 100%;
    display: flex;

    @media (max-width: $md3 + px) {
      display: none;
    }
  }
  // .raiting__item
  &__item {
    width: 33.333%;
    background-color: var(--light);
    @include adaptive(padding, 54, 20, 1);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 296px;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in,
      color 0.3s ease-in;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--orange);
        transform: translate(0, -15px);
        color: var(--white);
      }
    }

    &:not(:last-child) {
      @include adaptive(margin-right, 76, 20, 1);
    }

    &--bitrix,
    &--young {
      @media (any-hover: hover) {
        &:hover {
          &::before {
            background-color: var(--white);
          }
        }
      }
      &::before {
        content: "";
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        background-color: var(--black);
        transition: background-color 0.3s ease-in;
      }
    }

    &--bitrix {
      &::before {
        width: 121px;
        height: 73px;
        mask-image: url("/images/landings/contextual/raiting/cup-1.png");
      }
    }

    &--young {
      &::before {
        content: "";
        width: 294px;
        height: 83px;
        mask-image: url("/images/landings/contextual/raiting/cup-2.png");
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        background-color: var(--black);
      }
    }

    &--entrepreneur {
      &::before {
        content: "";
        width: 96px;
        height: 115px;
        background: url("/images/landings/contextual/raiting/cup-3.png") center
          100% no-repeat;
      }
    }
  }
  //.raiting__img
  &__img {
    object-position: center top;
  }
  //.raiting__text
  &__text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}
