@use "functions" as *;

$fz-title-lg-extra: 194;
$fz-title-lg-extra-mobile: rem(72);
$fz-title-lg: rem(140);
$fz-title-md: rem(68);
$fz-title-sm: rem(52);

$fz-text-38: 38;
$fz-text-lg: 22;
$fz-text-md: 18;
$fz-text-16: 16;
$fz-text-sm: 14;
