@use "../_config/functions/convert.scss" as *;

.goals {
  position: relative;
}

.goals__line {
  @media (--lg) {
    --width: #{vw(438)};

    position: absolute;
    bottom: 0;
    right: var(--base-page-gap-negative);

    width: var(--width);
    height: 3px;

    background-color: var(--c-sun);
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
}

.goals__line.is-active {
  @media (--lg) {
    transform: scaleX(1);
  }
}
