@use "../_config/functions/convert.scss" as *;
@use "../_config/mixins/typographic.scss" as *;

.layouts__title {
  margin-bottom: 100px;
  color: var(--c-sun);
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;

  @media (--lg) {
    @include font-size(36);

    margin-bottom: 30px;
  }
}

.layouts__content {
  --gap-x: #{vw(60, $mobile-viewport)};
  --gap-y: #{vw(40, $mobile-viewport)};
  --px: #{vw(28, $mobile-viewport)};

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--gap-x);
  row-gap: var(--gap-y);

  padding: 0 var(--px);

  @media (--lg) {
    --gap-x: #{vw(220)};
    --gap-y: #{vw(115)};
    --px: #{vw(360)};
  }
}

.layouts__img-wrapper {
  --ratio: calc(580 / 390 * 100%);

  position: relative;
  width: 100%;
  height: 0;
  padding-top: var(--ratio);
  background-color: #efefef;
  box-shadow: 4px 8px 13px rgba(0, 0, 0, 0.03), 2px 4px 5px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s;
}

.layouts__img-wrapper:hover {
  box-shadow: 6px 10px 15px rgba(0, 0, 0, 0.03), 4px 6px 7px rgba(0, 0, 0, 0.15);
}

.layouts__img-wrapper:nth-child(2n) {
  --pos-y: #{vw(60, $mobile-viewport)};

  transform: translateY(var(--pos-y));
}

.layouts__img-wrapper:nth-child(2n):last-child {
  margin-bottom: var(--pos-y);
}

.layouts__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
