@use "../_config/mixins/grid.scss" as *;
@use "../_config/functions/convert.scss" as *;

.steps-intro {
  margin-bottom: 120px;

  @media (--lg) {
    @include grid(12);
  }
}

.steps-intro__image {
  @media (--lg-max) {
    margin: 0 auto 20px;
  }

  @media (--lg) {
    grid-column: 1 / span 2;
    transform: translateY(-30px);
  }

  @media (--xl) {
    grid-column-start: 2;
    max-width: calc(100% - #{vw(75)});
  }
}

.steps-intro__text {
  text-align: justify;

  @media (--lg) {
    grid-column: 4 / span 6;
    font-size: 28px;
    font-weight: 300;
  }
}
