html {
  height: 100%;
}

//Общие стили по умолчанию
body {
  min-width: $minWidth + px;
  height: 100%;
  font-family: $ff, sans-serif;
  @include adaptive(font-size, 18, 16, 1);
  font-weight: 300;
  line-height: 1.3;
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
  position: relative;

  *::selection {
    background-color: var(--orange);
    color: var(--white);
  }

  &.lock {
    overflow: hidden;
  }
}

html,
body {
  scrollbar-color: var(--orange) transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 10px;
  }
}

main {
  flex: 1 1 auto;
}

//Прижимаем футер к низу///////////////////////////////////////////////////////////////////////////////////////////////
.wrapper-landing {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  left: 0;
  transition: transform 0.3s ease-in;

  &.lock {
    transform: translateX(300px);
  }
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

//Дежурные классы///////////////////////////////////////////////////////////////////////////////////////////////
.container {
  max-width: $maxWidthContainer + px;
  width: 100%;
  margin: 0 auto;
  @include adaptive(padding-right, 100, 20, 1);
  @include adaptive(padding-left, 100, 20, 1);

  @media (max-width: $md3 + px) {
    padding: 0 20px;
  }
}

// .header__container {
// 	max-width: $maxWidthContainer;
// 	width: 100%;
// 	margin: 0 auto;
// 	@include adaptive(padding-left, 15, 5, 3);
// 	@include adaptive(padding-right, 15, 5, 3);
// }

//Конструкция вместо object-fit: cover; для IE. Используется с JS функцией
// .ibg {
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	position: relative;
// }

// .ibg img {
// 	width: 0;
// 	height: 0;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	opacity: 0;
// 	visibility: hidden;
// }

//Повторяющиеся элементы на сайте///////////////////////////////////////////////////////////////////////////////////////////////
// .descr {
// 	@include adaptive(font-size, 18, 14, 3);
// 	line-height: 1.2;
// }

.progress-scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 3px;
  height: 100vh;

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--orange);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-orange {
  color: var(--orange);
}

.text-bold {
  font-weight: 700;
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  z-index: -1;
}

.title {
  @include adaptive(font-size, 96, 52, 1);
  font-weight: 700;
  line-height: 0.73;
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 1px var(--black-origin);
  text-transform: uppercase;

  &--big {
    @include adaptive(font-size, 124, 39, 1);
  }

  &--black {
    -webkit-text-stroke: 1px var(--white);
    -webkit-text-fill-color: var(--black);
  }

  &--orange {
    -webkit-text-fill-color: var(--orange);
    -webkit-text-stroke: transparent;
  }

  &--mobile {
    @media (min-width: $md4 + px) {
      display: none;
    }
  }

  &--desctop {
    @media (max-width: $md4 + px) {
      display: none;
    }
  }
}

.title-mini {
  @include adaptive(font-size, 60, 26, 1);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  &--white {
    color: var(--white);
  }

  span {
    color: var(--orange);
  }
}

.title-img {
  fill: var(--white);
  stroke: var(--black);
  @include adaptive(height, 138, 76, 1);

  &--desctop {
    @media (max-width: $md4 + px) {
      display: none;
    }
  }

  &--mobile {
    @media (min-width: $md4 + px) {
      display: none;
    }
  }

  &--black {
    fill: var(--black);
    stroke: var(--white);
  }
}

.just-validate-error-field {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid rgba(#ff5000, 0.5) !important;
  position: relative;

  ~ .form-application__label {
    transform: translate(0, 0);
    color: var(--orange) !important;
    &::before {
      opacity: 1;
      background-color: var(--darken) !important;
    }
  }
}

.just-validate-error-label {
  position: absolute;
  bottom: -30%;
  left: 0;
  color: var(--orange) !important;
  font-size: 12px;
  text-transform: lowercase;

  .js-orange-block & {
    color: #fff !important;
  }
}

.btn {
  width: 102px;
  height: 102px;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: rgba(#fff, 0.5);
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  transition: color 0.3s ease-in;
  padding-bottom: 10px;

  &:active {
    transform: translate(1px, 1px);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--white);

      &::before {
        transform: scale(1.3);
      }
    }
  }

  &::before {
    content: "";
    transition: transform 0.3s ease-in;
    margin-bottom: 6px;
  }

  &--video {
    &::before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 0 13px 23px;
      border-color: transparent transparent transparent var(--white);
    }
  }

  &--instagram {
    &::before {
      width: 30px;
      height: 30px;
      mask-image: url("/images/landings/corporate-sites/sprite.svg#instagram");
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      background-color: var(--white);
    }
  }
}

.btn-rest {
  color: var(--orange);
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  padding: 10px 50px;
  text-decoration: underline;

  &:active {
    transform: translate(1px, 1px);
  }

  &::after {
    content: "";
    height: 9px;
    width: 9px;
    mask-image: url("/images/landings/corporate-sites/sprite.svg#arrow-symbol");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    background-color: var(--orange);
    transform: rotate(90deg);
    margin-left: 2px;
  }

  &.hide {
    display: none;
  }

  @media (min-width: $md3 + px) {
    display: none;
  }
}
