body.theme-dark .header-feedback:not(.header-feedback--dialog),
body.header-feedback-white .header-feedback:not(.header-feedback--dialog) {
  @apply text-black;
}

.header-feedback__bg {
  width: calc(100% + var(--page-gap) + 6px);
  height: calc(100% + 20px);
  transition: transform 0.5s, background var(--trans-dur-fast);
}

body.theme-dark
  .header-feedback__bg:not(.header-feedback--dialog .header-feedback__bg),
body.header-feedback-white
  .header-feedback__bg:not(.header-feedback--dialog .header-feedback__bg) {
  @apply bg-white;
}
