//@use "../_config" as c;
@use "../_config/index" as c;

:root {
  --headerSize: calc(#{c.vw(46)} + #{c.rem(c.$fz-text-sm)});
}

.page-header {
  --grid-col: 12;
  
  @include c.grid-base(var(--grid-col));
  @include c.font-size-rem(c.$fz-text-sm);
  
  padding-top: c.vw(46);
  
  //transform: translate3d(0px, 0px, 0);
  
  @media screen and (--tablet-sm) {
    --grid-col: 5;
    padding-top: c.rem(20);
    padding-bottom: c.rem(20);
  }
  
  &__wrap {
    @include c.grid(var(--grid-col));
    grid-column: 1/ calc(var(--grid-col) + 1);
    
    align-items: center;
    justify-items: baseline;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: c.rem(40);
  height: c.rem(30);
  color: var(--c-black-second);
  
  .page-header--short & {
    display: none;
    
    @media screen and (--tablet-sm) {
      display: flex;
    }
  }
  
  svg {
    width: 100%;
    height: auto;
  }
}

.page-header__feedback-btn {
  grid-column: 11/13;
  justify-self: end;
  
  text-transform: lowercase;
  letter-spacing: 0.015em;
  
  &.link::after {
    height: 1px;
  }
  
  @media screen and (--tablet-sm) {
    display: none !important;
  }
}

.menu-btn {
  --color: inherit;
  --color-hover: var(--c-red);
  
  display: flex;
  align-items: center;
  color: var(--color);
  transition: var(--trans-dur-fast) ease-out;
  transition-property: transform, color;
  z-index: 10;
  
  &:hover {
    color: var(--color-hover);
  }
  
  @media screen and (--tablet-sm) {
    @include c.font-size-rem(18);
    
    grid-column: 4/6;
    justify-self: end;
  }
  
  body.theme-dark & {
    --color: #fff;
  }
  
  body.theme-orange & {
    --color-hover: #fff;
  }
  
  &--fixed {
    position: fixed;
    transform: translate3d(#{c.vw(-84)}, 20px, 0);
  }
  
  &__icon {
    width: c.em(16, 14);
    height: c.em(13, 14);
    margin-right: c.em(10, 14);
    fill: currentColor;
  
    @media screen and (--tablet-sm) {
      width: c.em(24, 18);
      height: auto;
      margin-right: c.em(6, 18);
    }
  }
}
