@use "../_config" as *;

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  
  box-sizing: inherit;
}

html * {
  -webkit-text-size-adjust: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  //font-family: "Suisse Int'l", sans-serif;
  font-family: "my-font", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

.wrapper {
  --base-gap: #{vw(20, $mobile-viewport)};

  @include wrap-new();

  @media (--lg) {
    --base-gap: #{vw(20)};
  }
}

.list-unstyled {
  margin: 0;
  list-style: none;
}

.number-count {
  position: relative;
  
  &__static {
    opacity: 0;
  }
  
  &__dynamic {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ticker {
  overflow: hidden;
  white-space: nowrap;
  
  &__wrap {
    display: flex;
  }
  
  //&__item {}
}

.visually-hidden {
  @include hide-text();
}

.grecaptcha-badge {
  visibility: hidden;
}

