.os-theme-default {
  --scrollbar-color: var(--c-red);
  
  &.theme-orange {
    --scrollbar-color: #fff;
  }
  
  .os-scrollbar-vertical {
    width: 4px;
  }
  
  .os-scrollbar-handle {
    max-height: 90px;
    background-color: var(--scrollbar-color);
  }
}

.os-theme-menu {
  .os-scrollbar-vertical {
    width: 0;
  }
}
