//@use "../_config" as c;
@use "../_config/index" as *;

:root {
  --headerSize: calc(#{vw(46)} + #{$fz-text-sm * 1px});
  
  @media screen and (--tablet-sm) {
    --headerSize: 70px;
  }
}

.page-header {
  --grid-col: 12;
  
  @include grid-base(var(--grid-col));
  @include font-size-px($fz-text-sm);
  
  margin-bottom: 66px;
  padding-top: vw(46);
  
  //transform: translate3d(0px, 0px, 0);
  
  @media screen and (--tablet-sm) {
    --grid-col: 5;
  
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  &--short {
    margin-bottom: 0;
  }
  
  &__wrap {
    @include grid(var(--grid-col));
    grid-column: 1/ calc(var(--grid-col) + 1);
    
    align-items: center;
    justify-items: baseline;
  }
}

.page-header__logo {
  position: relative;
  grid-column: 1/3;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  color: var(--c-black-second);
  
  .page-header--short & {
    display: none;
    
    @media screen and (--tablet-sm) {
      display: flex;
    }
  }
  
  &:hover,
  &:focus {
    .hover-text {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .hover-text {
    position: absolute;
    left: calc(100% + 20px);
  
    display: flex;
    align-items: center;
    width: max-content;
    height: 100%;
    letter-spacing: 0.015em;
  
    opacity: 0;
    transform: translateX(-15px);
    
    transition-property: opacity, transform;
    transition-duration: var(--trans-dur-faster);
    transition-timing-function: ease-in;
  
    //noinspection CssInvalidMediaFeature
    @media screen and (--tablet-sm) {
      display: none;
    }
  }
  
  svg {
    width: 100%;
    height: auto;
  }
}

.page-header__feedback-btn,
.menu-btn {
  letter-spacing: 0.015em;
}

.page-header__feedback-btn {
  grid-column: 11/13;
  justify-self: end;
  
  text-transform: lowercase;
  
  //&.link::after {
  //  height: 1px;
  //}
  
  .link__arrow {
    transform-origin: 0 70%;
  }
  
  @media screen and (--tablet-sm) {
    display: none !important;
  }
}

.menu-btn {
  --color: inherit;
  --color-hover: var(--c-red);
  
  display: flex;
  align-items: center;
  color: var(--color);
  transition: var(--trans-dur-fast) ease-out;
  transition-property: transform, color;
  z-index: 10;
  
  &:hover {
    color: var(--color-hover);
  }
  
  @media screen and (--tablet-sm) {
    font-size: 0;
  
    grid-column: 5/6;
    justify-self: center;
    
    .page-header--short & {
      @include font-size-px(18);
  
      grid-column: 4/6;
      justify-self: end;
    }
  }
  
  body.theme-dark & {
    --color: #fff;
  }
  
  body.theme-orange & {
    --color-hover: #fff;
  }
  
  
  body.menu-btn-white & {
    color: #fff;
  }
  
  &--fixed {
    position: fixed;
    transform: translate3d(#{vw(-84)}, 20px, 0);
  }
  
  &__icon {
    width: em(16, 14);
    height: em(13, 14);
    margin-right: em(10, 14);
    fill: currentColor;
  
    @media screen and (--tablet-sm) {
      @include font-size-px(18);
      width: em(24, 18);
      height: auto;
      margin-right: em(6, 18);
    }
  }
}
